interactions:
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{45,\n\
      \    title = \"Some Results Arising from the Study of ORCID push\",\n    doi\
      \ = \"10.1111/test.orcid.push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>45</common:external-id-value><common:external-id-url>http://inspirehep.net/record/45</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1111/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1111/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/45</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: "{\n  \"error\" : \"invalid_token\",\n  \"error_description\" : \"Invalid\
        \ access token: tokeninvalid\"\n}"
    headers:
      Content-Type:
      - application/orcid+json;charset=UTF-8
      WWW-Authenticate:
      - 'Bearer realm="ORCID T2 API", error="invalid_token", error_description="Invalid
        access token: tokeninvalid"'
    status:
      code: 401
      message: Unauthorized
[...]
