.__ExistingConferencesDrawer__ {
  z-index: $zindex-header + 1;

  .ant-drawer-content-wrapper {
    width: 25% !important;

    @media (max-width: $screen-sm-max) {
      width: 80% !important;
      padding-top: 0px;
    }

    .ant-drawer-content {
      background-color: $layout-body-background;
    }
  }
}
