interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/orcid+json
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work/51391229
  response:
    body:
      string: '{"response-code":404,"developer-message":"404 Not Found: The resource
        was not found. Full validation error: No entity found for query","user-message":"The
        resource was not found.","error-code":9016,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
