interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1557921479041\n  },\n\
        \  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1557921479041\n\
        \    },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"\
        external-id-type\" : \"other-id\",\n        \"external-id-value\" : \"45\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://inspirehep.net/record/45\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"doi\",\n        \"external-id-value\" :\
        \ \"10.1111/test.orcid.push\",\n        \"external-id-url\" : {\n        \
        \  \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"\
        work-summary\" : [ {\n      \"put-code\" : 57434891,\n      \"created-date\"\
        \ : {\n        \"value\" : 1557914162891\n      },\n      \"last-modified-date\"\
        \ : {\n        \"value\" : 1557921479041\n      },\n      \"source\" : {\n\
        \        \"source-orcid\" : null,\n        \"source-client-id\" : {\n    \
        \      \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n      \
        \    \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"Some Results Arising from the Study of ORCID push\"\n \
        \       },\n        \"subtitle\" : null,\n        \"translated-title\" : null\n\
        \      },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n   \
        \       \"external-id-type\" : \"other-id\",\n          \"external-id-value\"\
        \ : \"45\",\n          \"external-id-url\" : {\n            \"value\" : \"\
        http://inspirehep.net/record/45\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        }, {\n          \"external-id-type\" : \"doi\",\n  \
        \        \"external-id-value\" : \"10.1111/test.orcid.push\",\n          \"\
        external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0003-1134-6827/work/57434891\"\
        ,\n      \"display-index\" : \"0\"\n    } ]\n  } ],\n  \"path\" : \"/0000-0003-1134-6827/works\"\
        \n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
