interactions:
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\">\n    <work:title>\n        <common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title>\n    </work:title>\n\
      \    <work:type>journal-article</work:type>\n    <common:external-ids>\n   \
      \     <common:external-id>\n            <common:external-id-type>other-id</common:external-id-type>\n\
      \            <common:external-id-value>999</common:external-id-value>\n    \
      \        <common:external-id-url>http://inspirehep.net/record/46</common:external-id-url>\n\
      \            <common:external-id-relationship>self</common:external-id-relationship>\n\
      \        </common:external-id>\n        <common:external-id>\n            <common:external-id-type>doi</common:external-id-type>\n\
      \            <common:external-id-value>10.9999/test.orcid.push</common:external-id-value>\n\
      \            <common:external-id-url>http://dx.doi.org/10.9999/test.orcid.push</common:external-id-url>\n\
      \            <common:external-id-relationship>self</common:external-id-relationship>\n\
      \        </common:external-id>\n    </common:external-ids>\n    <work:url>http://inspirehep.net/record/999</work:url>\n\
      \    <work:contributors>\n        <work:contributor>\n            <work:credit-name>Rossoni,\
      \ A.</work:credit-name>\n            <work:contributor-attributes>\n       \
      \         <work:contributor-sequence>first</work:contributor-sequence>\n   \
      \             <work:contributor-role>author</work:contributor-role>\n      \
      \      </work:contributor-attributes>\n        </work:contributor>\n    </work:contributors>\n\
      </work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/v2.0/0000-0003-1134-6827/work/70148689
    status:
      code: 201
      message: Created
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{999,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.9999/test.orcid.push\",\n   \
      \ title = \"{Some Results Arising from the Study of ORCID push}\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>999</common:external-id-value><common:external-id-url>http://inspirehep.net/record/999</common:external-id-url><common:ext[...]
