interactions:
- request:
    body: "<work:work xmlns:work=\"http://www.orcid.org/ns/work\" xmlns:common=\"http://www.orcid.org/ns/common\"><work:title><common:title>Some
      Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{45,\n
      \   author = \"Rossoni, A.\",\n    title = \"{Some Results Arising from the
      Study of ORCID push}\",\n    doi = \"10.1111/test.orcid.push\",\n    month =
      \"5\",\n    year = \"2017\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>45</common:external-id-value><common:external-id-url>http://inspirehep.net/record/45</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1111/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1111/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/45</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,
      A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0001-8627-769X/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/v2.0/0000-0001-8627-769X/work/73151500
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_flush?wait_if_ongoing=true
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_refresh
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_cluster/health?wait_for_status=yellow
  response:
    body:
      string: '{"cluster_name":"opensearch-cluster","status":"yellow","timed_out":false,"number_of_nodes":1,"number_of_data_nodes":1,"discovered_master":true,"discovered_cluster_manager":true,"active_primary_shards":31,"active_shards":31,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":28,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":52.54237288135594}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/*/_alias
  response:
    body:
      string: '{"backoffice-backend-local-workflows":{"aliases":{}},"test-integration-records-conferences-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-conferences":{}}},"test-integration-records-seminars-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-seminars":{}}},"test-integration-async-records-data-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-data":{}}},"test-integration-async-records-experiments-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-experiments":{}}},"records-conferences-1743665434":{"aliases":{"records":{},"records-conferences":{}}},"records-seminars-1743665434":{"aliases":{"records":{},"records-seminars":{}}},"test-integration-records-authors-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-authors":{}}},"test-integration-records-journals-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-journals":{}}},"records-jobs-1743665434":{"aliases":{"records":{},"records-jobs":{}}},"test-integration-records-institutions-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-institutions":{}}},"records-institutions-1743665434":{"aliases":{"records":{},"records-institutions":{}}},"test-integration-async-records-institutions-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-institutions":{}}},".opensearch-observability":{"aliases":{}},".opensearch-sap-log-types-config":{"aliases":{}},"records-authors-1743665434":{"aliases":{"records":{},"records-authors":{}}},"test-integration-async-records-authors-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-authors":{}}},"records-hep-1743665434":{"aliases":{"records":{},"records-hep":{}}},"test-integration-async-records-journals-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-journals":{}}},"test-integration-records-data-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-data":{}}},"test-integration-async-records-conferences-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-conferences":{}}},"records-experiments-1743665434":{"aliases":{"records":{},"records-experiments":{}}},"test-integration-records-experiments-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-experiments":{}}},"test-integration-records-hep-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-hep":{}}},"records-journals-1743665434":{"aliases":{"records":{},"records-journals":{}}},"records-data-1743665434":{"aliases":{"records":{},"records-data":{}}},"test-integration-records-jobs-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-jobs":{}}},".plugins-ml-config":{"aliases":{}},"test-integration-async-records-jobs-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-jobs":{}}},"test-integration-async-records-seminars-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-seminars":{}}},"test-integration-async-records-hep-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-hep":{}}}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-experiments/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229739,"parentTaskId":229738,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":175542,"memory_in_bytes":14392}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-seminars/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229744,"parentTaskId":229743,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":58333,"memory_in_bytes":12560}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-authors/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229749,"parentTaskId":229748,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":207916,"memory_in_bytes":9576}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-journals/_delete_by_query
  response:
    body:
      string: '{"took":1,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229754,"parentTaskId":229753,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":573834,"memory_in_bytes":12608}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-jobs/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229759,"parentTaskId":229758,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":472875,"memory_in_bytes":8560}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-hep/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229764,"parentTaskId":229763,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":388291,"memory_in_bytes":20784}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-conferences/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229769,"parentTaskId":229768,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":52250,"memory_in_bytes":9528}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-data/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229774,"parentTaskId":229773,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":71416,"memory_in_bytes":12352}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-institutions/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229779,"parentTaskId":229778,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":89208,"memory_in_bytes":12400}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_ingest/pipeline/file_content
  response:
    body:
      string: '{"file_content":{"description":"Extract information from documents
        array","processors":[{"foreach":{"field":"documents","ignore_missing":true,"processor":{"attachment":{"field":"_ingest._value.text","target_field":"_ingest._value.attachment","properties":["content"],"indexed_chars":-1,"ignore_missing":true,"on_failure":[{"set":{"description":"Set
        ''_error.message''","field":"_ingest._value._error.message","value":"Fulltext
        indexing failed with message {{ _ingest.on_failure_message }}","override":true}}]}}}},{"foreach":{"field":"documents","ignore_missing":true,"processor":{"remove":{"field":"_ingest._value.text","ignore_missing":true}}}}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
