interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1533562573198\n  },\n
        \ \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1533562573198\n
        \   },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"external-id-type\"
        : \"doi\",\n        \"external-id-value\" : \"10.1000/test.orcid.push\",\n
        \       \"external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\n
        \       },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n
        \   \"work-summary\" : [ {\n      \"put-code\" : 47160445,\n      \"created-date\"
        : {\n        \"value\" : 1533562573198\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1533562573198\n      },\n      \"source\" : {\n        \"source-orcid\"
        : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n
        \         \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\n
        \       },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\n
        \       }\n      },\n      \"title\" : {\n        \"title\" : {\n          \"value\"
        : \"Some Results Arising from the Study of ORCID push\"\n        },\n        \"subtitle\"
        : null,\n        \"translated-title\" : null\n      },\n      \"external-ids\"
        : {\n        \"external-id\" : [ {\n          \"external-id-type\" : \"doi\",\n
        \         \"external-id-value\" : \"10.1000/test.orcid.push\",\n          \"external-id-url\"
        : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\n
        \         },\n          \"external-id-relationship\" : \"SELF\"\n        }
        ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"
        : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0002-0942-3697/work/47160445\",\n
        \     \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"
        : {\n      \"value\" : 1533117807329\n    },\n    \"external-ids\" : {\n      \"external-id\"
        : [ {\n        \"external-id-type\" : \"doi\",\n        \"external-id-value\"
        : \"10.1000/test.orcid.push.https://labs.inspirehep.net\",\n        \"external-id-url\"
        : {\n          \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\n
        \       },\n        \"external-id-relationshi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works/47160445,46674246,10000
  response:
    body:
      string: "{\n  \"bulk\" : [ {\n    \"work\" : {\n      \"created-date\" : {\n
        \       \"value\" : 1531928587375\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1533117807329\n      },\n      \"source\" : {\n        \"source-orcid\"
        : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n
        \         \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\n
        \       },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\n
        \       }\n      },\n      \"put-code\" : 46674246,\n      \"path\" : null,\n
        \     \"title\" : {\n        \"title\" : {\n          \"value\" : \"Some Results
        Arising from the Study of ORCID push in PROD at ts 1533117804.42\"\n        },\n
        \       \"subtitle\" : null,\n        \"translated-title\" : null\n      },\n
        \     \"journal-title\" : null,\n      \"short-description\" : null,\n      \"citation\"
        : {\n        \"citation-type\" : \"BIBTEX\",\n        \"citation-value\" :
        \"@article{1682969,\\n    author = \\\"Rossoni, A.\\\",\\n    doi = \\\"10.1000/test.orcid.push.https://labs.inspirehep.net\\\",\\n
        \   title = \\\"Some Results Arising from the Study of ORCID push in PROD
        at ts 1533117804.42\\\"\\n}\\n\"\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n
        \     \"publication-date\" : null,\n      \"external-ids\" : {\n        \"external-id\"
        : [ {\n          \"external-id-type\" : \"doi\",\n          \"external-id-value\"
        : \"10.1000/test.orcid.push.https://labs.inspirehep.net\",\n          \"external-id-url\"
        : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\n
        \         },\n          \"external-id-relationship\" : \"SELF\"\n        }
        ]\n      },\n      \"url\" : {\n        \"value\" : \"http://inspirehep.net/record/1682969\"\n
        \     },\n      \"contributors\" : {\n        \"contributor\" : [ {\n          \"contributor-orcid\"
        : null,\n          \"credit-name\" : {\n            \"value\" : \"Rossoni,
        A.\"\n          },\n          \"contributor-email\" : null,\n          \"contributor-attributes\"
        : {\n            \"contributor-sequence\" : \"FIRST\",\n            \"contributor-role\"
        : \"AUTHOR\"\n          }\n        } ]\n      },\n      \"language-code\"
        : null,\n      \"country\" : null,\n      \"visibility\" : \"PUBLIC\"\n    }\n
        \ }, {\n    \"work\" : {\n      \"created-date\" : {\n        \"value\" :
        1533562573198\n      },\n      \"last-modified-date\" : {\n        \"value\"
        : 1533562573198\n      },\n      \"source\" : {\n        \"source-orcid\"
        : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n
        \         \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_flush?wait_if_ongoing=true
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_refresh
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_cluster/health?wait_for_status=yellow
  response:
    body:
      string: '{"cluster_name":"opensearch-cluster","status":"yellow","timed_out":false,"number_of_nodes":1,"number_of_data_nodes":1,"discovered_master":true,"discovered_cluster_manager":true,"active_primary_shards":31,"active_shards":31,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":28,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":52.54237288135594}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/*/_alias
  response:
    body:
      string: '{"backoffice-backend-local-workflows":{"aliases":{}},"test-integration-records-conferences-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-conferences":{}}},"test-integration-records-seminars-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-seminars":{}}},"test-integration-async-records-data-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-data":{}}},"test-integration-async-records-experiments-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-experiments":{}}},"records-conferences-1743665434":{"aliases":{"records":{},"records-conferences":{}}},"records-seminars-1743665434":{"aliases":{"records":{},"records-seminars":{}}},"test-integration-records-authors-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-authors":{}}},"test-integration-records-journals-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-journals":{}}},"records-jobs-1743665434":{"aliases":{"records":{},"records-jobs":{}}},"test-integration-records-institutions-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-institutions":{}}},"records-institutions-1743665434":{"aliases":{"records":{},"records-institutions":{}}},"test-integration-async-records-institutions-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-institutions":{}}},".opensearch-observability":{"aliases":{}},".opensearch-sap-log-types-config":{"aliases":{}},"records-authors-1743665434":{"aliases":{"records":{},"records-authors":{}}},"test-integration-async-records-authors-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-authors":{}}},"records-hep-1743665434":{"aliases":{"records":{},"records-hep":{}}},"test-integration-async-records-journals-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-journals":{}}},"test-integration-records-data-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-data":{}}},"test-integration-async-records-conferences-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-conferences":{}}},"records-experiments-1743665434":{"aliases":{"records":{},"records-experiments":{}}},"test-integration-records-experiments-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-experiments":{}}},"test-integration-records-hep-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-hep":{}}},"records-journals-1743665434":{"aliases":{"records":{},"records-journals":{}}},"records-data-1743665434":{"aliases":{"records":{},"records-data":{}}},"test-integration-records-jobs-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-jobs":{}}},".plugins-ml-config":{"aliases":{}},"test-integration-async-records-jobs-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-jobs":{}}},"test-integration-async-records-seminars-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-seminars":{}}},"test-integration-async-records-hep-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-hep":{}}}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-experiments/_delete_by_query
  response:
    body:
      string: '{"took":2,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250931,"parentTaskId":250930,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":715041,"memory_in_bytes":16656}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-seminars/_delete_by_query
  response:
    body:
      string: '{"took":1,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250936,"parentTaskId":250935,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":283916,"memory_in_bytes":15872}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-authors/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250941,"parentTaskId":250940,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":60000,"memory_in_bytes":9800}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-journals/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250946,"parentTaskId":250945,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":97917,"memory_in_bytes":12832}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-jobs/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250951,"parentTaskId":250950,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":45667,"memory_in_bytes":7776}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-hep/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250956,"parentTaskId":250955,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":90167,"memory_in_bytes":12576}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-conferences/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250961,"parentTaskId":250960,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":47833,"memory_in_bytes":10760}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-data/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250966,"parentTaskId":250965,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":104958,"memory_in_bytes":12576}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-institutions/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":250971,"parentTaskId":250970,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":69334,"memory_in_bytes":12624}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_ingest/pipeline/file_content
  response:
    body:
      string: '{"file_content":{"description":"Extract information from documents
        array","processors":[{"foreach":{"field":"documents","ignore_missing":true,"processor":{"attachment":{"field":"_ingest._value.text","target_field":"_ingest._value.attachment","properties":["content"],"indexed_chars":-1,"ignore_missing":true,"on_failure":[{"set":{"description":"Set
        ''_error.message''","field":"_ingest._value._error.message","value":"Fulltext
        indexing failed with message {{ _ingest.on_failure_message }}","override":true}}]}}}},{"foreach":{"field":"documents","ignore_missing":true,"processor":{"remove":{"field":"_ingest._value.text","ignore_missing":true}}}}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
