interactions:
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{999,\n\
      \    title = \"Some Results Arising from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>999</common:external-id-value><common:external-id-url>http://inspirehep.net/record/999</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/999</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/orcid-api-web/v2.0/0000-0003-1134-6827/work/60275410
    status:
      code: 201
      message: Created
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\" put-code=\"60275410\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{999,\n\
      \    doi = \"10.1111/test.orcid.push\",\n    title = \"Some Results Arising\
      \ from the Study of ORCID push\"\n}\n</work:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1565108138505\n  },\n\
        \  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1565108137613\n\
        \    },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"\
        external-id-type\" : \"other-id\",\n        \"external-id-value\" : \"666\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://inspirehep.net/record/666\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"doi\",\n        \"external-id-value\" :\
        \ \"10.1111/test.orcid.push\",\n        \"external-id-url\" : {\n        \
        \  \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"\
        work-summary\" : [ {\n      \"put-code\" : 60275409,\n      \"created-date\"\
        \ : {\n        \"value\" : 1565108137613\n      },\n      \"last-modified-date\"\
        \ : {\n        \"value\" : 1565108137613\n      },\n      \"source\" : {\n\
        \        \"source-orcid\" : null,\n        \"source-client-id\" : {\n    \
        \      \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n      \
        \    \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"Some Results Arising from the Study of ORCID push\"\n \
        \       },\n        \"subtitle\" : null,\n        \"translated-title\" : null\n\
        \      },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n   \
        \       \"external-id-type\" : \"other-id\",\n          \"external-id-value\"\
        \ : \"666\",\n          \"external-id-url\" : {\n            \"value\" : \"\
        http://inspirehep.net/record/666\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        }, {\n          \"external-id-type\" : \"doi\",\n  \
        \        \"external-id-value\" : \"10.1111/test.orcid.push\",\n          \"\
        external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0003-1134-6827/work/60275409\"\
        ,\n      \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"\
        \ : {\n      \"value\" : 1565108138505\n    },\n    \"external-ids\" : {\n\
        \      \"external-id\" : [ {\n        \"external-id-type\" : \"other-id\"\
        ,\n        \"external-id-value\" : \"999\",\n        \"external-id-url\" :\
        \ {\n          \"value\" : \"http://inspirehep.net/record/999\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"\
        work-summary\" :[...]
[...]
