interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : null,\n  \"group\" : [ ],\n  \"path\"\
        \ : \"/0000-0003-1134-6827/works\"\n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0001-8627-769X/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : null,\n  \"group\" : [ ],\n  \"path\"\
        \ : \"/0000-0001-8627-769X/works\"\n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{45,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1111/test.orcid.push\",\n   \
      \ month = \"5\",\n    title = \"{Some Results Arising from the Study of ORCID\
      \ push}\",\n    year = \"2017\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>45</common:external-id-value><common:external-id-url>http://inspirehep.net/record/45</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1111/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1111/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/45</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/v2.0/0000-0003-1134-6827/work/71114492
    status:
      code: 201
      message: Created
version: 1
