interactions:
- request:
    body: "<work:work xmlns:work=\"http://www.orcid.org/ns/work\" xmlns:common=\"\
      http://www.orcid.org/ns/common\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{999,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.9999/test.orcid.push\",\n   \
      \ month = \"5\",\n    title = \"{Some Results Arising from the Study of ORCID\
      \ push}\",\n    year = \"2017\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>999</common:external-id-value><common:external-id-url>http://inspirehep.net/record/999</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.9999/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.9999/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/999</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0000-XXXX/work
  response:
    body:
      string: "{\n  \"error\" : \"invalid_token\",\n  \"error_description\" : \"Invalid\
        \ access token: tokeninvalid\"\n}"
    headers:
      Content-Type:
      - application/orcid+json;charset=UTF-8
      WWW-Authenticate:
      - 'Bearer realm="ORCID T2 API", error="invalid_token", error_description="Invalid
        access token: tokeninvalid"'
    status:
      code: 401
      message: Unauthorized
version: 1
