interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1565108115770\n  },\n\
        \  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1565108115770\n\
        \    },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"\
        external-id-type\" : \"other-id\",\n        \"external-id-value\" : \"999\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://inspirehep.net/record/999\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"doi\",\n        \"external-id-value\" :\
        \ \"10.9999/test.orcid.push\",\n        \"external-id-url\" : {\n        \
        \  \"value\" : \"http://dx.doi.org/10.9999/test.orcid.push\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"\
        work-summary\" : [ {\n      \"put-code\" : 60275397,\n      \"created-date\"\
        \ : {\n        \"value\" : 1565108115166\n      },\n      \"last-modified-date\"\
        \ : {\n        \"value\" : 1565108115770\n      },\n      \"source\" : {\n\
        \        \"source-orcid\" : null,\n        \"source-client-id\" : {\n    \
        \      \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n      \
        \    \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"Some Results Arising from the Study of ORCID push\"\n \
        \       },\n        \"subtitle\" : null,\n        \"translated-title\" : null\n\
        \      },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n   \
        \       \"external-id-type\" : \"other-id\",\n          \"external-id-value\"\
        \ : \"999\",\n          \"external-id-url\" : {\n            \"value\" : \"\
        http://inspirehep.net/record/999\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        }, {\n          \"external-id-type\" : \"doi\",\n  \
        \        \"external-id-value\" : \"10.9999/test.orcid.push\",\n          \"\
        external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.9999/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0003-1134-6827/work/60275397\"\
        ,\n      \"display-index\" : \"0\"\n    } ]\n  } ],\n  \"path\" : \"/0000-0003-1134-6827/works\"\
        \n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/orcid+json
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work/60275397
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0001-8627-769X/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : null,\n  \"group\" : [ ],\n  \"path\"\
        \ : \"/0000-0001-8627-769X/works\"\n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\">\n    <work:title>\n        <common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title>\n    </work:title>\n\
      \    <work:type>journal-article</work:type>\n    <common:external-ids>\n   \
      \     <common:external-id>\n            <common:external-id-type>other-id</common:external-id-type>\n\
      \            <common:external-id-value>999</common:external-id-value>\n    \
      \        <common:external-id-url>http://inspirehep.net/record/46</common:external-id-url>\n\
      \            <common:external-id-relationship>self</common:external-id-relationship>\n\
      \        </common:external-id>\n        <common:external-id>\n            <common:external-id-type>doi</common:external-id-type>\n\
      \            <common:external-id-value>10.9999/test.orcid.push</common:external-id-value>\n\
      \            <common:external-id-url>http://dx.doi.org/10.9999/test.orcid.push</common:external-id-url>\n\
      \            <common:external-id-relationship>self</common:external-id-relationship>\n\
      \        </common:external-id>\n    </common:external-ids>\n    <work:url>http://inspirehep.net/record/999</work:url>\n\
      \    <work:contributors>\n        <work:contributor>\n            <work:credit-name>Rossoni,\
      \ A.</work:credit-name>\n            <work:contributor-attributes>\n       \
      \         <work:contributor-sequence>first</work:contributor-sequence>\n   \
      \             <work:contributor-role>author</work:contributor-role>\n      \
      \      </work:contributor-attributes>\n        </work:contributor>\n    </work:contributors>\n\
      </work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/orcid-api-web/v2.0/0000-0003-1134-6827/work/60275400
    status:
      code: 201
      message: Created
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\" put-code=\"60275400\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{999,\n\
      \    doi = \"10.9999/test.orcid.push\",\n    title = \"Some Results Arising\
      \ from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>999</common:external-id-value><common:external-id-url>http://inspirehep.net/record/999</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.9999/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.9999/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/999</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: PUT
    uri: https://api.orcid.org/v2.0/0000-0002-0000-XXXX/work/60275400
  response:
    body:
      string: "{\n  \"error\" : \"invalid_token\",\n  \"error_description\" : \"Invalid\
        \ access token: tokeninvalid\"\n}"
    headers:
      Content-Type:
      - application/orcid+json;charset=UTF-8
      WWW-Authenticate:
      - 'Bearer realm="ORCID T2 API", error="invalid_token", error_description="Invalid
        access token: tokeninvalid"'
    status:
      code: 401
      message: Unauthorized
version: 1
