interactions:
- request:
    body: "<work:work xmlns:common=\"http://www.orcid.org/ns/common\" xmlns:work=\"\
      http://www.orcid.org/ns/work\"><work:title><common:title>Some Results Arising\
      \ from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{666,\n\
      \    doi = \"10.1111/test.orcid.push\",\n    title = \"Some Results Arising\
      \ from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>666</common:external-id-value><common:external-id-url>http://inspirehep.net/record/666</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1111/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1111/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/666</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: '{"response-code":409,"developer-message":"409 Conflict: You have already
        added this activity (matched by external identifiers.) If you are trying to
        edit the item, please use PUT instead of POST.","user-message":"There was
        an error when updating the record. Please try again. If the error persists,
        please contact INSPIRE-HEP for assistance.","error-code":9021,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1558437652790\n  },\n\
        \  \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1558385926360\n\
        \    },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"\
        external-id-type\" : \"other-id\",\n        \"external-id-value\" : \"45\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://inspirehep.net/record/45\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"doi\",\n        \"external-id-value\" :\
        \ \"10.1100/test.orcid.push\",\n        \"external-id-url\" : {\n        \
        \  \"value\" : \"http://dx.doi.org/10.1100/test.orcid.push\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"\
        work-summary\" : [ {\n      \"put-code\" : 57617712,\n      \"created-date\"\
        \ : {\n        \"value\" : 1558385926360\n      },\n      \"last-modified-date\"\
        \ : {\n        \"value\" : 1558385926360\n      },\n      \"source\" : {\n\
        \        \"source-orcid\" : null,\n        \"source-client-id\" : {\n    \
        \      \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n      \
        \    \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"Some Results Arising from the Study of ORCID push\"\n \
        \       },\n        \"subtitle\" : null,\n        \"translated-title\" : null\n\
        \      },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n   \
        \       \"external-id-type\" : \"other-id\",\n          \"external-id-value\"\
        \ : \"45\",\n          \"external-id-url\" : {\n            \"value\" : \"\
        http://inspirehep.net/record/45\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        }, {\n          \"external-id-type\" : \"doi\",\n  \
        \        \"external-id-value\" : \"10.1100/test.orcid.push\",\n          \"\
        external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1100/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0003-1134-6827/work/57617712\"\
        ,\n      \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"\
        \ : {\n      \"value\" : 1558437652790\n    },\n    \"external-ids\" : {\n\
        \      \"external-id\" : [ {\n        \"external-id-type\" : \"other-id\"\
        ,\n        \"external-id-value\" : \"999\",\n        \"external-id-url\" :\
        \ {\n          \"value\" : \"http://inspirehep.net/record/999\"\n        },\n\
        \        \"external-id-relationship\" : \"SELF\"\n      }, {\n        \"external-id-type\"\
        \ : \"doi\",\n        \"external-id-value\" : \"10.1111/test.orcid.push\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 57647535,\n    \
        \  \"created-date\" : {\n        \"value\" : 1558437652790\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1558437652790\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/orcid+json
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work/57647535
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 204
      message: No Content
[...]
