interactions:
- request:
    body: "<work:work xmlns:work=\"http://www.orcid.org/ns/work\" xmlns:common=\"http://www.orcid.org/ns/common\">\n
      \  <work:title>\n      <common:title>Some Results Arising from the Study of
      ORCID push</common:title>\n   </work:title>\n   <work:type>journal-article</work:type>\n
      \  <common:external-ids>\n      <common:external-id>\n            <common:external-id-type>doi</common:external-id-type>\n
      \           <common:external-id-value>10.99/test.orcid.push</common:external-id-value>\n
      \           <common:external-id-url>http://dx.doi.org/10.99/test.orcid.push</common:external-id-url>\n
      \           <common:external-id-relationship>self</common:external-id-relationship>\n
      \       </common:external-id>\n   </common:external-ids>\n   <work:url>http://inspirehep.net/record/45</work:url>\n
      \  <work:contributors>\n      <work:contributor>\n         <work:credit-name>Rossoni,
      A.</work:credit-name>\n         <work:contributor-attributes>\n            <work:contributor-sequence>first</work:contributor-sequence>\n
      \           <work:contributor-role>author</work:contributor-role>\n         </work:contributor-attributes>\n
      \     </work:contributor>\n   </work:contributors>\n</work:work>"
    headers:
      Content-Type:
      - application/orcid+xml
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
      Location:
      - http://api.orcid.org/v2.0/0000-0003-1134-6827/work/73151502
    status:
      code: 201
      message: Created
- request:
    body: "<work:work xmlns:work=\"http://www.orcid.org/ns/work\" xmlns:common=\"http://www.orcid.org/ns/common\"><work:title><common:title>Some
      Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{45,\n
      \   author = \"Rossoni, A.\",\n    title = \"{Some Results Arising from the
      Study of ORCID push}\",\n    doi = \"10.1111/test.orcid.push\",\n    month =
      \"5\",\n    year = \"2017\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>45</common:external-id-value><common:external-id-url>http://inspirehep.net/recor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works
  response:
    body:
      string: "{\n  \"last-modified-date\" : {\n    \"value\" : 1588247366425\n  },\n
        \ \"group\" : [ {\n    \"last-modified-date\" : {\n      \"value\" : 1588247356990\n
        \   },\n    \"external-ids\" : {\n      \"external-id\" : [ {\n        \"external-id-type\"
        : \"other-id\",\n        \"external-id-value\" : \"45\",\n        \"external-id-url\"
        : {\n          \"value\" : \"http://inspirehep.net/record/45\"\n        },\n
        \       \"external-id-relationship\" : \"SELF\"\n      }, {\n        \"external-id-type\"
        : \"doi\",\n        \"external-id-value\" : \"10.1111/test.orcid.push\",\n
        \       \"external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\n
        \       },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n    },\n
        \   \"work-summary\" : [ {\n      \"put-code\" : 73151499,\n      \"created-date\"
        : {\n        \"value\" : 1588247356990\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1588247356990\n      },\n      \"source\" : {\n        \"source-orcid\"
        : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n
        \         \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\n
        \       },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\n
        \       }\n      },\n      \"title\" : {\n        \"title\" : {\n          \"value\"
        : \"Some Results Arising from the Study of ORCID push\"\n        },\n        \"subtitle\"
        : null,\n        \"translated-title\" : null\n      },\n      \"external-ids\"
        : {\n        \"external-id\" : [ {\n          \"external-id-type\" : \"other-id\",\n
        \         \"external-id-value\" : \"45\",\n          \"external-id-url\" :
        {\n            \"value\" : \"http://inspirehep.net/record/45\"\n          },\n
        \         \"external-id-relationship\" : \"SELF\"\n        }, {\n          \"external-id-type\"
        : \"doi\",\n          \"external-id-value\" : \"10.1111/test.orcid.push\",\n
        \         \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1111/test.orcid.push\"\n
        \         },\n          \"external-id-relationship\" : \"SELF\"\n        }
        ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"
        : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0003-1134-6827/work/73151499\",\n
        \     \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"
        : {\n      \"value\" : 1588247366425\n    },\n    \"external-ids\" : {\n      \"external-id\"
        : [ {\n        \"external-id-type\" : \"doi\",\n        \"external-id-value\"
        : \"10.99/test.orcid.push\",\n        \"external-id-url\" : {\n          \"value\"
        : \"http://dx.doi.org/10.99/test.orcid.push\"\n        },\n        \"external-id-relationship\"
        : \"SELF\"\n      } ]\n    },\n    \"work-summary\" : [ {[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/works/73151502
  response:
    body:
      string: "{\n  \"bulk\" : [ {\n    \"work\" : {\n      \"created-date\" : {\n
        \       \"value\" : 1588247366425\n      },\n      \"last-modified-date\"
        : {\n        \"value\" : 1588247366425\n      },\n      \"source\" : {\n        \"source-orcid\"
        : null,\n        \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n
        \         \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\n
        \       },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\n
        \       }\n      },\n      \"put-code\" : 73151502,\n      \"path\" : null,\n
        \     \"title\" : {\n        \"title\" : {\n          \"value\" : \"Some Results
        Arising from the Study of ORCID push\"\n        },\n        \"subtitle\" :
        null,\n        \"translated-title\" : null\n      },\n      \"journal-title\"
        : null,\n      \"short-description\" : null,\n      \"citation\" : null,\n
        \     \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\" : null,\n
        \     \"external-ids\" : {\n        \"external-id\" : [ {\n          \"external-id-type\"
        : \"doi\",\n          \"external-id-value\" : \"10.99/test.orcid.push\",\n
        \         \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.99/test.orcid.push\"\n
        \         },\n          \"external-id-relationship\" : \"SELF\"\n        }
        ]\n      },\n      \"url\" : {\n        \"value\" : \"http://inspirehep.net/record/45\"\n
        \     },\n      \"contributors\" : {\n        \"contributor\" : [ {\n          \"contributor-orcid\"
        : null,\n          \"credit-name\" : {\n            \"value\" : \"Rossoni,
        A.\"\n          },\n          \"contributor-email\" : null,\n          \"contributor-attributes\"
        : {\n            \"contributor-sequence\" : \"FIRST\",\n            \"contributor-role\"
        : \"AUTHOR\"\n          }\n        } ]\n      },\n      \"language-code\"
        : null,\n      \"country\" : null,\n      \"visibility\" : \"PUBLIC\"\n    }\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/orcid+json
    method: DELETE
    uri: https://api.orcid.org/v2.0/0000-0003-1134-6827/work/73151502
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/orcid+json; qs=2;charset=UTF-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_flush?wait_if_ongoing=true
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-*/_refresh
  response:
    body:
      string: '{"_shards":{"total":36,"successful":18,"failed":0}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_cluster/health?wait_for_status=yellow
  response:
    body:
      string: '{"cluster_name":"opensearch-cluster","status":"yellow","timed_out":false,"number_of_nodes":1,"number_of_data_nodes":1,"discovered_master":true,"discovered_cluster_manager":true,"active_primary_shards":31,"active_shards":31,"relocating_shards":0,"initializing_shards":0,"unassigned_shards":28,"delayed_unassigned_shards":0,"number_of_pending_tasks":0,"number_of_in_flight_fetch":0,"task_max_waiting_in_queue_millis":0,"active_shards_percent_as_number":52.54237288135594}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/*/_alias
  response:
    body:
      string: '{"backoffice-backend-local-workflows":{"aliases":{}},"test-integration-records-conferences-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-conferences":{}}},"test-integration-records-seminars-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-seminars":{}}},"test-integration-async-records-data-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-data":{}}},"test-integration-async-records-experiments-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-experiments":{}}},"records-conferences-1743665434":{"aliases":{"records":{},"records-conferences":{}}},"records-seminars-1743665434":{"aliases":{"records":{},"records-seminars":{}}},"test-integration-records-authors-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-authors":{}}},"test-integration-records-journals-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-journals":{}}},"records-jobs-1743665434":{"aliases":{"records":{},"records-jobs":{}}},"test-integration-records-institutions-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-institutions":{}}},"records-institutions-1743665434":{"aliases":{"records":{},"records-institutions":{}}},"test-integration-async-records-institutions-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-institutions":{}}},".opensearch-observability":{"aliases":{}},".opensearch-sap-log-types-config":{"aliases":{}},"records-authors-1743665434":{"aliases":{"records":{},"records-authors":{}}},"test-integration-async-records-authors-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-authors":{}}},"records-hep-1743665434":{"aliases":{"records":{},"records-hep":{}}},"test-integration-async-records-journals-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-journals":{}}},"test-integration-records-data-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-data":{}}},"test-integration-async-records-conferences-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-conferences":{}}},"records-experiments-1743665434":{"aliases":{"records":{},"records-experiments":{}}},"test-integration-records-experiments-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-experiments":{}}},"test-integration-records-hep-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-hep":{}}},"records-journals-1743665434":{"aliases":{"records":{},"records-journals":{}}},"records-data-1743665434":{"aliases":{"records":{},"records-data":{}}},"test-integration-records-jobs-1743685760":{"aliases":{"test-integration-records":{},"test-integration-records-jobs":{}}},".plugins-ml-config":{"aliases":{}},"test-integration-async-records-jobs-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-jobs":{}}},"test-integration-async-records-seminars-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-seminars":{}}},"test-integration-async-records-hep-1743667699":{"aliases":{"test-integration-async-records":{},"test-integration-async-records-hep":{}}}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-experiments/_delete_by_query
  response:
    body:
      string: '{"took":1,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229983,"parentTaskId":229982,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":604666,"memory_in_bytes":14392}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-seminars/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229988,"parentTaskId":229987,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":80500,"memory_in_bytes":12608}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-authors/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229993,"parentTaskId":229992,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":43125,"memory_in_bytes":9576}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-journals/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":229998,"parentTaskId":229997,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":69333,"memory_in_bytes":12608}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-jobs/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":230003,"parentTaskId":230002,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":58083,"memory_in_bytes":8560}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-hep/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":230008,"parentTaskId":230007,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":116875,"memory_in_bytes":20736}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-conferences/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":230013,"parentTaskId":230012,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":110958,"memory_in_bytes":9528}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-data/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":230018,"parentTaskId":230017,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":85125,"memory_in_bytes":12352}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query" : {"match_all" : {} }}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://es:9200/test-integration-records-institutions/_delete_by_query
  response:
    body:
      string: '{"took":0,"timed_out":false,"total":0,"deleted":0,"batches":0,"version_conflicts":0,"noops":0,"retries":{"bulk":0,"search":0},"throttled_millis":0,"requests_per_second":-1.0,"throttled_until_millis":0,"failures":[]}'
    headers:
      TASK_RESOURCE_USAGE:
      - '{"action":"indices:data/read/search[phase/query]","taskId":230023,"parentTaskId":230022,"nodeId":"Hwf7AKBlTXKyPeseIX6AKg","taskResourceUsage":{"cpu_time_in_nanos":72708,"memory_in_bytes":12400}}'
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: http://es:9200/_ingest/pipeline/file_content
  response:
    body:
      string: '{"file_content":{"description":"Extract information from documents
        array","processors":[{"foreach":{"field":"documents","ignore_missing":true,"processor":{"attachment":{"field":"_ingest._value.text","target_field":"_ingest._value.attachment","properties":["content"],"indexed_chars":-1,"ignore_missing":true,"on_failure":[{"set":{"description":"Set
        ''_error.message''","field":"_ingest._value._error.message","value":"Fulltext
        indexing failed with message {{ _ingest.on_failure_message }}","override":true}}]}}}},{"foreach":{"field":"documents","ignore_missing":true,"processor":{"remove":{"field":"_ingest._value.text","ignore_missing":true}}}}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
