.fa {
  font-size: 18px;
}

.fa-list-alt {
  margin-top: 1px;
  position: relative;
  top: 1px;
}

.btn {
  padding: 4px 6px;
}

.fa-caret-down {
  color: #ccc;
}

.menu-item {
  padding: 4px 10px 1px 10px;

  textarea {
    padding: 3px 6px;
    min-width: 460px;
    min-height: 250px;
  }

  button {
    width: 100%;
  }
}