interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/sys_user_grmember?sysparm_fields=user.name%2Cgroup.name%2Cuser.email%2Cuser.sys_id&sysparm_query=group.nameSTARTSWITHInspire+Information+system
  response:
    body:
      string: '{"result":[{"group.name":"Inspire Information system 2nd Line Support","user.sys_id":"8a2d3dfadbeec810b80594dadb961904","user.email":"marcjanna.jedrych@cern.ch","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"ea4dfe1e0a0a8c0a016bddc2f2e5befc","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"f06113500a0a8c08006fdd448147d73b","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"f51c269e1bead910de8f42e6bb4bcb9b","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
     [...]
- request:
    body: '{"assigned_to":""}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cerntraining.service-now.com/api/now/table/u_request_fulfillment/d6d1901387ece11084e9ac1a0cbb352b
  response:
    body:
      string: '{"result":{"parent":"","u_ggusid_url":"","watch_list":"","u_exclude":"false","sys_updated_on":"2023-02-07
        08:38:25","u_resolved_by":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/ce1dd215873b951069c063990cbb35a7","value":"ce1dd215873b951069c063990cbb35a7"},"approval_history":"","number":"RQF2219008","u_financial_approval":"","u_functional_approval":"","u_cern_sla_due":"2023-02-10
        13:04:39","state":"1","sys_created_by":"snow-inspire","knowledge":"false","u_last_updated_by":"othersup","u_confidentiality_approval":"","u_related_child_request":"0","cmdb_ci":"","impact":"3","active":"true","u_new_work_notes":"false","u_resolved_at":"2023-02-06
        16:21:55","priority":"4","u_record_producer":"","business_duration":"1970-01-03
        10:06:55","group_list":"","u_reopened":"true","u_template":"","u_start_date":"","approval_set":"","u_rp_variables":"","universal_request":"","short_description":"subject","work_start":"","u_latest_work_notes":"","u_third_party":"","u_small_remarks":"","u_wfu_reminders_counter":"0","additional_assignee_list":"","u_external_caller":"","u_approval_type":"No
        approval","u_third_party_type":"","service_offering":{"link":"https://cerntraining.service-now.com/api/now/table/service_offering/4042d31bdb487704f9956184da96199b","value":"4042d31bdb487704f9956184da96199b"},"sys_class_name":"u_request_fulfillment","u_third_party_description":"","u_project_description":"","u_previous_group":"","reassignment_count":"0","assigned_to":"","u_last_comment_time":"2023-02-06
        16:21:55","u_solution_category":"","sla_due":"","u_configuration_items_list":"","u_category":"1","u_functional_category":"","u_amount":"","u_time_planned":"","u_reopen_count":"8","u_delivery":"2","u_workflow_version":"5","u_location_description":"","u_feedback":"","u_functional_problem_category":"","u_converted_from":"","task_effective_number":"RQF2219008","u_no_notification":"false","u_third_party_ticket":"","u_business_service":{"link":"https://cerntraining.service-now.com/api/now/table/u_service_element/cea19717db487704f9956184da961947","value":"cea19717db487704f9956184da961947"},"sys_updated_by":"snow-inspire","opened_by":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/ce1dd215873b951069c063990cbb35a7","value":"ce1dd215873b951069c063990cbb35a7"},"sys_created_on":"2023-01-27
        12:15:00","sys_domain":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user_group/global","value":"global"},"u_report":"","u_highlight_reopened_ticket":"true","route_reason":"","u_ci_relations":"","closed_at":"","u_third_party_contract":"","u_technical_approval":"","business_service":"","u_workflow_stage":"New","u_cloned_from_ticket":"","u_budget_code":"","time_worked":"","u_number_of_piquet_calls":"0","opened_at":"2023-01-27
        12:15:00","u_reassignment_counter_fe":"0","u_state_updated_on":"2023-02-07
        08:38:25","work_end":"","u_current_task_state":"2","u_ci_cluster_list":"","u_ci_count":"","work_notes":"","u_third_party_url":"","assignment_group":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user_group/ea56eb980a0a8c0a00bba0894e847a40","value":"ea56eb980a0a8c0a00bba0894e847a40"},"u_infor_stwo":"","u_number_of_items":"0","u_caller_id":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/8a2d3dfadbeec810b80594dadb961904","value":"8a2d3dfadbeec810b80594dadb961904"},"description":"description","calendar_duration":"1970-01-11
        04:06:55","u_reassignment_counter_sd":"0","u_change_description":"","close_notes":"","sys_id":"d6d1901387ece11084e9ac1a0cbb352b","contact_type":"","u_converted_to":"","u_end_date":"","u_email_from":"","urgency":"2","u_visibility":"se","u_email_to":"","u_ggusid":"","u_number_approvals":"0","u_solution":"Ticket
        resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket resolved with a new solution.\nTicket has been closed\n-------------------------------------\n
        Ticket has been closed","comments":"","u_functional_element":{"link":"https://cerntraining.service-now.com/api/now/table/u_cmdb_ci_functional_services/ea56eb930a0a8c0a0004af7b268a0987","value":"ea56eb930a0a8c0a0004af7b268a0987"},"approval":"not
        requested","u_alarms_list":"","due_date":"","sys_mod_count":"26","sys_tags":"","u_master_task":"","u_skip_classification":"false","u_email_signature":"Kind
        Regards","u_close_code":"Fulfilled","u_task_template":"","location":{"link":"https://cerntraining.service-now.com/api/now/table/cmn_location/40635f700a0a8c0a015518fb42690249","value":"40635f700a0a8c0a015518fb42690249"},"u_last_updated_3rd_party":""}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Is-Logged-In:
      - 'true'
      X-Transaction-ID:
      - f4c948761bb8
    status:
      code: 200
      message: OK
[...]
