interactions:
- request:
    body: citations=W.+Buchm%C3%BCller+and+O.+Philipsen%2C+Nucl.+Phys.+B+443+%281995%29+47
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://grobid.inspirebeta.net/api/processCitation
  response:
    body:
      string: "<biblStruct >\n\t<analytic>\n\t\t<title/>\n\t\t<author>\n\t\t\t<persName\
        \ xmlns=\"http://www.tei-c.org/ns/1.0\"><forename type=\"first\">W</forename><surname>Buchm\xFC\
        ller</surname></persName>\n\t\t</author>\n\t\t<author>\n\t\t\t<persName xmlns=\"\
        http://www.tei-c.org/ns/1.0\"><forename type=\"first\">O</forename><surname>Philipsen</surname></persName>\n\
        \t\t</author>\n\t</analytic>\n\t<monogr>\n\t\t<title level=\"j\">Nucl. Phys.\
        \ B</title>\n\t\t<imprint>\n\t\t\t<biblScope unit=\"volume\">443</biblScope>\n\
        \t\t\t<biblScope unit=\"page\">47</biblScope>\n\t\t\t<date type=\"published\"\
        \ when=\"1995\" />\n\t\t</imprint>\n\t</monogr>\n</biblStruct>\n"
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
