interactions:
- request:
    body: citations=JHEP+1806+%282018%29+131
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://grobid.inspirebeta.net/api/processCitation
  response:
    body:
      string: "<biblStruct >\n\t<analytic>\n\t\t<title/>\n\t</analytic>\n\t<monogr>\n\
        \t\t<title level=\"j\">JHEP</title>\n\t\t<imprint>\n\t\t\t<biblScope unit=\"\
        volume\">1806</biblScope>\n\t\t\t<biblScope unit=\"page\">131</biblScope>\n\
        \t\t\t<date type=\"published\" when=\"2018\" />\n\t\t</imprint>\n\t</monogr>\n\
        </biblStruct>\n"
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
