interactions:
- request:
    body: citations=Phys.+Rev.+D+82+0074024+%282010%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://grobid.inspirebeta.net/api/processCitation
  response:
    body:
      string: "<biblStruct >\n\t<analytic>\n\t\t<title/>\n\t</analytic>\n\t<monogr>\n\
        \t\t<title level=\"j\">Phys. Rev. D</title>\n\t\t<imprint>\n\t\t\t<biblScope\
        \ unit=\"volume\">82</biblScope>\n\t\t\t<biblScope unit=\"page\">74024</biblScope>\n\
        \t\t\t<date type=\"published\" when=\"2010\" />\n\t\t</imprint>\n\t</monogr>\n\
        </biblStruct>\n"
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
