interactions:
- request:
    body: citations=Phys.+Rev.+Lett.%2C+65%3A21%E2%80%9324%2C+1990
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://grobid.inspirebeta.net/api/processCitation
  response:
    body:
      string: "<biblStruct >\n\t<analytic>\n\t\t<title/>\n\t</analytic>\n\t<monogr>\n\
        \t\t<title level=\"j\">Phys. Rev. Lett</title>\n\t\t<imprint>\n\t\t\t<biblScope\
        \ unit=\"volume\">65</biblScope>\n\t\t\t<biblScope unit=\"page\" from=\"21\"\
        \ to=\"24\" />\n\t\t\t<date type=\"published\" when=\"1990\" />\n\t\t</imprint>\n\
        \t</monogr>\n</biblStruct>\n"
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
