# -*- coding: utf-8 -*-
#
# Copyright (C) 2019 CERN.
#
# inspirehep is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.

dist: xenial

language: python

git:
  depth: 200

python:
  - "3.8"
node_js:
  - 10.14.0

notifications:
  email:
    on_success: never
    on_failure: never

env:
  global:
    - secure: "aLb6W4YxJpJV8afBw6+1BlSqctfyw9Z/upVArncsQIgVWkgUQxGT7Z4S5hGNmwvXLQvJhsEudyqi8OKKy9e75O58GelJ/jIdPIMLLMfTPOch+cVbDDqeXemMptfZZhHNRPoRrfhyi2XTA7pQjWCyXudq1xaPXGNrrEX5vQmHH1osHMBq6NVnzAslnKckxP722tzUWcmF0PNTB3Ry9j/W0lLEqazSIpJfEalF8Kbo4vkKtVoc2Ux8011y99GyHtp5OBnWT4H6dJzOk15PiT6uye23RbYsfN2N7dSpPfmfq22gLgOKLT1XFZMrQwhfFuKjT/3I92EK1EUkQ7WPssPtIYVUoM0i3ufwj5ElOF+ngopFZCZxQiGFyJcomc0TZ6OLVLkkVQBjaxBzh5WvCEU/XoYJoNVLj4hLYaGc/jO20zs0gzDJVi8ld524rvy7bC2cowLG4p2Ste96i/Ay4q71hFPYkIAaGasLrxD5yxADeJDzP2fIMilEECT/vV8CnE/SjRGO5TLboHdHD4Z9V6Jcu7XnYBKQwCo21dQ/+P3PiVbbvabRcZYZcugYncs88fmgnZjw3VcD/rIeyVWiR8vgspHMDJOmf2/aAMjWNFk6oMknUAMRYsrIqnIXaXalTs+7pxsODMuBODAS/lehiD0d1xdb0uonuKTB+feDGZKjq5w="
    - secure: "MdcAmDWnPEW8Dr5aZe3JvsdtWNWRq1GMvxyesS+UJjay+RQCso6yrU6gKOipR1+3Pizio3a1P06nnYfFjXyqJRBzmruJSUIjVgu3ZfgulgK/ESakobpOWyOzko5SUoofJ79REwzU7QbfV+2Ezgk3C49wqVlZh8VQjPtuJO+5N9S5Rbo6Nx+qmK7A83a8ow7kMHQrwgPH+RZdaH3qstUvjvt308WBkaI1zvIQ3LIx9fNNgd1NZy5R7YlS+Edt2ELf/hfQrx6WohcsDeqBqRPiE41RY7LLozSZGZ8J9kHGQlZyQijAbme9sZduCV67/zOmYptprwuKN3/XIW/dmW6dtvJUrxMxcDkSTeT5hVIzGqEg3Bi8OLIS7tOMOjOtg3V2lcHTE2Aw4XXTyBeF+Caw/2N+szDtkBdR/r9agZkAO5U6rzoGTdR5A3Sla+CnZNw8Dguwe6GkeUiqNPjOlUVwJrZFmJ136r0oO6/wffifvLfanokYvVxB6k/ltT3Tp3mKqTXBqFmrpKd/4BH47/yYLHXHBjC7XQA4Yhf9cdS93LpLErkN3txgbXSqv/71AZi0kmIw7A1f0V7Tz3o6Kr8GFiZBPXD0g/53v0MkVkg880ZNHWGtBGVQxKddY267ORXijwPwdp88KFuidNT4jXeLGYUh9OXF4yAFKF7bbK4X9sA="
    - secure: "aLG3nGFMUc7rYeeV1Aii8UpLQ1oo5hWY1E/68z+LAXihte5ztVWQEusJrNvgN18xEViALqn5E1oumli6hjSPiTBtzIQ06yVR5BH9UKYNiuWMGuY2/fjDlq265qmwHnZs1xquqKx1iDHQfE+PuR8ARXAACxWm6n1RB9OvbamNOeAJk+KKJrVSPseJngdRIrndOlfaP64gqANbp6ikpd177lFn0T9GsGapvvkEVzB4o3j2E2R16s4XdgMju1lposOLa3GnI3QjaVtT3F++PMD8gEQGlk2BSoTjOkgW/nh4V+uSOOarVo2MHHnxHSiGZTz/NueGjWu+/5evT97FWEbOsnlJsO9eUEWj8JRaXN7FVxt1INe5tRlHKXxy2a1UA/8RlScS5Zq4wLOEdYZSLgyfDuhmFekSFPeoE9oCEIYA2e44MVJ8Q+9vj3BkNjd+fxY98GVkFn9xYNkFtfyKlsE+ELZQT/FCUlbgd2kfjtaYA8i80ddcVaiK8OFk74ZBs5+ld1Bvts78E2g0xNiuCyEKxwckCxN+QOsaLJ2K7YkFJc7jGOMghkdupMpxyBq7tijXHjHTrIexOPk5czjhalqR4IAtAzyu1bFQ401VjPzWZh04Rq5HF9sTd+9QCDzjhkf1OomOfuyZr7sOQIP07DEbjWjzPqY9g6fZ3rPTBjJ/R2I="
    - secure: "V98FV92PYh7ukGoHrYpfNC8DYp2AUZG369z5ALYsm72HIloicEwS8X/dI7FuvWBr9PZZVCEh4jdIKkhjTY0Ef/aYtIml2PlJLcVoVB1kp7KgNyHowmpcZ5Qz+cZpkMamQlLFdffOw4ZvJcXU7iEFbRb70ulyp4F4rqgWnr+3pFITcH62fxy6hWfBJS4uf+OfeZ2HGaqRoLFPGjlB+1WsIw+krt1WmgQvj7IXhHrrWMEDCZY4O2G8DZAEkdAQn5cDNl2eQuf82vw11BDfGmoa19raKSsv9B3ix+IMT6mMXraz/mSy8I3P2lxeKmscdtVdEfVLLGOrkghhNrGlABpWiWOCXBLOmYxrTxrBOrjdis39QdRqQudfKHoDnVh+IigRffpqrNxp4uH9m56HyERKECb+ZrLmulE2vLzuUIRtIuM0maJ5CyepVpx0mQ5jXs1doEWJA7se/k6BrqcaLnTY3GMYNJZOQiOIeUDTNzoGYmlAc5wbmb11NRGtkJexaKqciyr2kLgQx0bAd1liADrDsqQfXt2i7eXsAb5qsXSEPz12+o0WGZ0Az3cOMQSUR24wcSqGzkC8cNPcTFtgZRI8U8v7fvwtQtfDFwgXv+wlPTkvJPvzjQeumdUaO+Im+D/b87p3CA+7OF6GSoJX0Yhl53qNaFDpCtEKGvDHrCsloQI="
    - secure: "VbuuaQkPnie/NI4DZro0CFPxfO2ioabxgBoxfOOt56xlAWEPOhaVWMeCqcXEAEGdc7FWjU4stXViTwMOSaTPA4vy1RtrXHwG6SvRHTdr6aFLD6JMJLbglvq3fkbnln3UHfqFlqS0uc3EC8ELy532s5KnNaR0yHalKHNsHNfFVn3lXRxn3ea9ttPmECg3biVLRaeMfKJUGSqIBcL5FMJrakI1MFnfJALh1qTl88hZP9YB6GWa2TV7Tfl58jD5RIbPx9xHIOvb1mkaAZHmvsGFg9SAse1r903YQ9yD4N9bmR6YnlUQXYmtWnsmsv8HP79PxZ5zaqfPJsU4xKslbqC8idyIA2ViUoQk5UL7G1s6QxFcofpKxBLAdgEBrEp4/2H8FQoKppUq05eFclLnJX+7QlkOi25xYxyNWr3flaRUaY9w83g0El0oFf60bkVPUqltCZjfvT8qZI+QoJnInr9lvnESXxvrI/wF6YVUxKiJNluj+Uj2PLEjTyzIg1nLG5OqU7iyS55mh5RRpTJZNAKagFf1MYafLp4uOTvJb0hCQZ/LajXIvB7W3JovgDs6yp7wLwOBq393yhcdSSnBIBlYqa6BqdXPnGsQFDfPRlUyp3KjXQWbPgLWrYzr6U0U3EXjaFR8Gi3Vtk2m3hUsEM199uX3SBNuZb2SpKpWWGMoQBE="
    - secure: "E8kNyTHBg3jP54hU+uHa+S9U55amtIJ4UHSf0w80moVWHfdIdM4bFszskA5PKVLFhUcEwUneHwOD7hQVX5K3mcMr4awSAXoGcztvnAq8TISb7T1vg7/wNpK1xzSh6ni18z3Byolw0tDOgi5dcFnfHwz0BOfobGdrUpLR29xdr5lwpoJP5ZMv/OnI9z4S2AVusXPI/xQfOxCYHDhT3xtKjCtx0Qb5+YYw17wRJJQ48z/ENKu8n1FxAQIgq7bfH1hO8bwZDzcj32ewkjoXPD5STtDlapi4LJso3Vop1qOuERPYbEUp7Kipup7dKYoC/CU2MjqAaVvNQyu1JrqqSRBpFUaSPYcKO0kMqyRqkoQrbexC3XElk1Cnx9DrrGaSYp27w4zGhckX51fS7btps6XfTj0QWs2ytVc8/TkZVYq7tGejOt2F5TH6t5/Z14LVY9tqCifA1eQTuKOJpcJwWLQy6zAuJzmVhjQKREpW+TRGCZi8EsLELnlerKCTAcAypjyAyFr05kUMeaNk64oTpLBa4eqbc3YUBRUvHBMraXjgX5ZcsnTe6gZAa6N4aR2MHjaVp/K1G3fGoWbSPGgvGC+NjB9ayQJmYdBfyLQ/GkBvcGGt+90F3LcXyUiC7Qq+EgL8leqqh444Shjjj3CwyFfdYOJu/dPDijoCNaTG2910/DM="
    - secure: "Scyl7jiovKOX8uApj+cW/FQYwWLNA26bRVxhkGvOQdzBCicEztQ7hc+mw0O06plBG7k1C4S3WJMp9UxYNj6fW7Mkfg9Dtkulf5Bw/ybIqoVcO6/4a+4+oBibXC4EKkhrx1km8z0MRnAxJN3OAtWIdmICGo5bX/t4rPE7dqmBjuUjD10FT/CO8JBb1EpqYkEExRTx+qQoMX5XT+EimurArymebVnCkhKuccvIvaQLcW9FpgaTxOL2bYasY+5HW7VrrgHe0+CIBqqgpYNvHvadhTdrSn9jDtY2ybXieRzDsROpEC8auf6NmQz6wWqR6RzAexGoWM39lvsdHNHcX4YXpo/B7r2JZggG1ZI9mR/OsNEgTCZkCgQxbDHIKFS/Su9Vj5Lu28k5p49ehkOZ/cOG3PoQ3l1rSvXW2Yk1MKkBWsxTpA7T+MxbH+olBHcDsZjI9lcBj861c7phl2RubYPkk/k0X6dm8tqwcgJHI73YI6F0o1IFYTiNW095liPGRX17+P3V9i2hqY1ESB8UgH/zk0dKz/LBCjYETVuTLxEynsmxtXDYBRqC2sVLZtDkjF8coKD3/WAzePybqClQbAEYTYgQzeuJ1sugtLjMlUrX/IDzw5DHUeroJPNbYuOAtshmqX91YV7BXYaGBWXwl4V3JyLE/Rptyc14f32VXwI3nNU="
    - secure: "G0Cw00TQ0GzQ3YIjSy04skv893LalSzPyNtDlxKEiklJ17pKHtJIRGfz42HN4LJXxbFbERGg2DeGwU1yEM0fWwWepYbJuc4JCDRKxBrzOhb8uGjYwFj3kb4XiyfvkURmL1Zpo7nbOPf5pooqeALPmrGNoXObdi+U3MBtXvaPKFuPd/1BxFIljXAOWhyIYfLqzYnihueNGfUkWJdVU5sDCmOxiGOLAOnydSWoovIOZWygfjSYbskG9UAjACdwKzepqNJZm30frk5HlYqdsK5ubyhWNI4cGauqBFxdsksrfsvFiCb1H2AR1lq2o7OAvVEU+moHhsNrs2I8N4eSnNz9DEZNjIMThWrNXS5J9c44zSf9fpYw1L1H+FspY+vZ8aV+L2Wv6QYExYCtSOGyS4xQH3qTOZc/DyZ8qfYAnDXjB4C0vGk9qiMI7An7rjc0C0tFDUI9zEULdCJ2tXOh4YYjqL19bVFTdK+gYbv1Age384gNVojNp481Y/BX6DDZzdmnHSqJLwPM56sp5mzkgadZk5Sa7fn0GCosNKnptAC0+OWiyN+FaD5/7qNW8pftIypHo9TqPKTLzIIR002v8BPYLhQpPemwIk02HnzzJJPBqidMJAwH4lQe70R65Kfd83bUbObVDflrtzP1I1O3GHOc7CwUyRqQ7LJf6Sr52Kik10A="

cache:
  pip: true
  directories:
    - "$HOME/.cache/pypoetry"
    - "$HOME/.cache/pre-commit"
    - "$HOME/virtualenv/"

services:
  - docker

install:
  - if [[ "$SUITE" != "ui" ]]; then ./scripts/bootstrap; fi

before_install:
  - sudo service postgresql stop
  - if [[ "$RUN_DOCKER" == "true" ]]; then
      docker-compose -f docker-compose.travis.yml up -d;
    fi
  - if [[ "$SUITE" != "ui" ]]; then
      cd backend;
      curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | python - --version 1.0.0;
      source $HOME/.poetry/env;
    fi
  - travis_retry pip install twine wheel coveralls

after_script:
 -  if [ "$RUN_DOCKER" == "true" ]; then
      docker-compose kill -s SIGTERM;
      docker-compose rm -f;
    fi

after_success:
  - coveralls

after_failure:
  - if [[ "$SUITE" != "ui" ]]; then poetry show; fi

before_script:
  - if [[ "$RUN_DOCKER" == "true" ]]; then cd ..; ./wait-for-services.sh; cd backend; fi

script:
    - if [[ "$SUITE" == "unit" ]]; then  ./run-code-checks.sh; fi
    - if [[ "$SUITE" != "ui" ]]; then
        poetry run py.test tests/${SUITE};
      else
        cd ui && yarn && yarn test;
      fi

matrix:
  fast_finish: true
  include:
    - env: SUITE=integration RUN_DOCKER=true
    - env: SUITE=unit RUN_DOCKER=false
    - env: SUITE=integration-async RUN_DOCKER=true
    - env: SUITE=ui RUN_DOCKER=false

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://sentry.io/get-cli/ | bash; cd $TRAVIS_BUILD_DIR; ./build-and-deploy.sh
    on:
      branch: master
      condition: $SUITE = unit
  - provider: script
    skip_cleanup: true
    script: curl -sL https://sentry.io/get-cli/ | bash; cd $TRAVIS_BUILD_DIR; ./build-and-deploy.sh
    on:
      tags: true
      condition: $SUITE = unit
