# -*- coding: utf-8 -*-
#
# Copyright (C) 2019 CERN.
#
# inspirehep is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.

version: '2.1'
services:
  cache:
    extends:
      file: docker-compose.services.yml
      service: cache
    ports:
     - "6379:6379"
  db:
    extends:
      file: docker-compose.services.yml
      service: db
    ports:
     - "5432:5432"
    command: postgres -c 'max_connections=200'
  mq:
    extends:
      file: docker-compose.services.yml
      service: mq
    ports:
     - "5672:5672"
  elasticsearch:
    extends:
      file: docker-compose.services.yml
      service: es
    ports:
     - "9200:9200"
  kibana:
    image: kibana:7.1.1
    ports:
     - "5601:5601"
