# -*- coding: utf-8 -*-
#
# Copyright (C) 2019 CERN.
#
# inspirehep is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.

version: '2.1'
services:
  cache:
    extends:
      file: docker-services.yml
      service: cache
    ports:
     - "6379:6379"
  db:
    extends:
      file: docker-services.yml
      service: db
    ports:
     - "5432:5432"
  mq:
    extends:
      file: docker-services.yml
      service: mq
    ports:
     - "5672:5672"
  es:
    extends:
      file: docker-services.yml
      service: es
    ports:
     - "9200:9200"
  flower:
    extends:
      file: docker-services.yml
      service: flower
    ports:
     - "5555:5555"
  kibana:
    extends:
      file: docker-services.yml
      service: kibana
  ui:
    build:
      context: ui
      dockerfile: docker/Dockerfile-ui
    ports:
     - "8081:8081"
    volumes:
      - .:/opt/inspire/ui
    depends_on:
      - web
      - web-next
  web:
    extends:
      file: docker-services.yml
      service: app
    ports:
     - "8000:8000"
    command: pipenv run gunicorn --reload -b 0.0.0.0:8000  --access-logfile "-" --error-logfile - inspirehep.wsgi:application
  worker:
    extends:
      file: docker-services.yml
      service: app
    command: ./scripts/server
    depends_on:
      - db
      - es
      - mq
      - cache
  web-next:
    extends:
      file: docker-services.yml
      service: inspire-next
    command: gunicorn -b 0.0.0.0:5000 --access-logfile "-" --reload --log-level debug inspirehep.wsgi
    ports:
      - "5000:5000"
    depends_on:
      - worker-next
  worker-next:
    extends:
      file: docker-services.yml
      service: inspire-next
    command: celery worker -E -A inspirehep.celery --loglevel=INFO --purge --queues celery,migrator,orcid_push,indexer_task
    healthcheck:
      timeout: 5s
      interval: 5s
      retries: 5
      test:
       - "CMD"
       - "bash"
       - "-c"
       - "/virtualenv/bin/celery --broker=pyamqp://guest:guest@rabbitmq:5672// inspect ping | grep OK"
    depends_on:
      - db
      - es
      - mq
      - cache
