[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "<=4.2.1"
# Click in version 7 have broken progressbar in python 3
# waiting for this PR to be merged https://github.com/pallets/click/pull/1163
click = "<7.0.0"
# invenio 3.1.0 requires Flask>=1.0.0
invenio = {version = "==3.0.0",extras = [ "postgresql", "auth", "elasticsearch5", ]}
# invenio cherry-pick `base` packages
invenio-logging = ">=1.0.0,<1.1.0"
invenio-rest = ">=1.0.0,<1.1.0"
# invenio cherry-pick `metadata` packages
invenio-indexer = ">=1.0.1,<1.1.0"
invenio-jsonschemas = ">=1.0.0,<1.1.0"
invenio-pidstore = ">=1.0.0,<1.1.0"
invenio-records-rest = ">=1.2.1,<1.3.0"
invenio-records = ">=1.0.0,<1.1.0"
invenio-records-files = ">=1.0.0a10"
inspirehep = {editable = true,path = "."}
inspire-schemas = "~=59.3.0,>=59.3.0"
inspire-dojson = "~=61.0.0,>=61.0.0"
inspire-utils = "~=3.0.0,>=3.0.3"
inspire-query-parser = "~=5.0.0"
uwsgi = ">=2.0"
# pre-release pacakges suck in pipenv
marshmallow = "<3.0.0"
# do-json :( needs flask v0.x
flask-shell-ipython = "~=0.3,<0.4.0" # version 0.4.0 requires `flask >= 1.0`
flask-sqlalchemy = {git = "https://github.com/inspirehep/flask-sqlalchemy.git"}
node-semver = "<0.2.0,>=0.1.1"
pybtex = "*"
pytest = ">=3.3.1,<4.0.0"
pytest-cov = "==2.6.1"
remote-pdb = "*"
invenio-app = "==1.0.5"
cryptography = "<2.6"
#  msgpack = "*"  #  FIXME:  We want to use it but it might mess with invenio-indexer which is forcing msgpack-python
                  #  FIXME: https://github.com/inveniosoftware/invenio-celery/issues/58
gunicorn = "*"
watchdog = "*"
flask-kvsession = {git = "https://github.com/inspirehep/flask-kvsession.git"}

[dev-packages]
freezegun = "*"
coverage = ">=4.4.1"
isort = ">=4.3"
mock = ">=2.0.0"
pytest = ">=3.3.1,<4.0.0"
pytest-cov = "~=2.6.1,>=2.6.1"
pytest-invenio = ">=1.1.0,<1.2.0"
pytest-mock = ">=1.6.0"
pytest-random-order = ">=0.5.4"
pytest-datadir = "*"
pytest-runner = ">=3.0.0,<5"
black = "==18.9b0"
factory_boy = "~=2.11.1,>=2.11.1"
requests-mock = "~=1.5.2,>=1.5.2"
pytest-vcr = "*"
pre-commit = "*"
gunicorn = "*"
flake8 = "*"
watchdog = "*"
# FIXME: just to pin for workiong around pipenv issues
virtualenv = "<16.5.0"
inspirehep = {path = ".",editable = true}

[requires]
python_version = "3"

[scripts]
test = "python setup.py test"

[pipenv]
allow_prereleases = true
