[tool.poetry]
name = "inspirehep"
version = "0.1.19"
description = "NSPIRE is the leading information platform for High Energy Physics (HEP) literature which provides users with high quality, curated content covering the entire corpus of HEP literature and the fulltext of all such articles that are Open Access."
authors = ["CERN <admin@inspirehep.net>"]
license = "MIT License"

[tool.poetry.dependencies]
celery = "~=4.2.0,<4.3.0"
# inspirehep = {path = ".",editable = true}
# Click in version 7 have broken progressbar in python 3
# waiting for this PR to be merged https://github.com/pallets/click/pull/1163
click = "<7.0.0"
Flask = ">=1.0.2"

python = ">=3.6,<3.7"
inspire-dojson = "~=62.0,>=62.1.0"
inspire-query-parser = "~=6.0.0"
inspire-schemas = "~=60.0,>=60.1.0"
inspire-utils = "~=3.0.0,>=3.0.8"
inspire-service-orcid = {git = "https://github.com/drjova/inspire-service-orcid.git"}
inspire-json-merger = "^11.0"

invenio-access= ">=1.1.0,<1.2.0"
invenio-accounts= ">=1.1.1,<1.2.0"
invenio-app= ">=1.2.0,<1.3.0"
invenio-base= ">=1.2.0,<1.3.0"
invenio-cache= ">=1.0.0,<1.1.0"
invenio-celery= ">=1.0.0,<1.1.0"
invenio-config= ">=1.0.2,<1.1.0"
invenio-db = {version = "~=1.0.0,<1.1.0", extras = [ "postgresql", "versioning"]}
invenio-indexer = ">=1.0.1,<1.0.2"
invenio-jsonschemas = ">=1.0.0,<1.1.0"
invenio-oauth2server= ">=1.0.3,<1.1.0"
invenio-oauthclient= ">=1.1.3,<1.2.0"
invenio-pidstore= ">=1.0.0,<1.1.0"
invenio-records = ">=1.0.0,<1.1.0"
invenio-records-files = ">=1.1.1,<1.2.0"
invenio-records-rest= ">=1.2.2,<1.3.0"
invenio-rest= ">=1.1.0,<1.2.0"
invenio-search = {version = "~=1.1.1,<1.2.0", extras = [ "elasticsearch5",]}
invenio-files-rest = ">=1.0.1,<1.1.0"

timeexecution = "<4.0"
marshmallow = "<3.0.0"
flask-shell-ipython = "~=0.3,>=0.3.0"
flask-sqlalchemy = {git = "https://github.com/inspirehep/flask-sqlalchemy.git"}
orcid = "==1.0.3"

node-semver = "<0.2.0,>=0.1.1"
pybtex = "*"
cryptography = "<2.6"
flask-kvsession = {git = "https://github.com/inspirehep/flask-kvsession.git"}
python-redis-lock = "^3.3"
# FIXME: orcid tests are failing with `4.4` because of OrderedDict changes
lxml = "~=4.3,<4.4"
fqn-decorators = "~=1.2,>=1.2.3"
editdistance = "^0.5.3"
munkres = "^1.0"
rt = "^1.0"
gunicorn = "^19.0.0"
sentry-sdk = {version = "^0.10.2",extras = ["flask"]}
prometheus-flask-exporter = "^0.9.0"
beard = ">=0.2.0"
numpy = ">=1.17.0"
structlog = "^19.1"
colorama = "^0.4.1"
structlog-sentry = "^1.1"
mailchimp3 = "^3.0"
humanize = "^0.5.1"
feedgen = "^0.8.0"
flask-mail = "^0.9.1"
hepcrawl = "13.0.5"

[tool.poetry.dev-dependencies]
freezegun = "*"
coverage = ">=4.4.1"
isort = ">=4.3"
mock = ">=2.0.0"
pydocstyle = ">=2.0.0"
pytest = ">=3.3.1,<4.0.0"
pytest-cov = "==2.6.1"
pytest-invenio = ">=1.2.0,<1.3.0"
pytest-mock = ">=1.6.0"
pytest-random-order = ">=0.5.4"
pytest-datadir = "*"
pytest-runner = ">=3.0.0,<5"
remote-pdb = "*"
black = "==18.9b0"
factory_boy = "~=2.11.1,>=2.11.1"
requests-mock = "~=1.5.2,>=1.5.2"
pytest-vcr = "~=1.0.2"
pre-commit = "*"
pylint = "*"
flake8 = "*"
watchdog = "*"
virtualenv = "<16.5.0"
ipdb = "^0.12.0"
vcrpy = "~=2.0.1,<2.1.0"

[build-system]
requires = ["poetry==0.12.16"]
build-backend = "poetry.masonry.api"
