interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.31234%2Fosf.io%2F4ms5a
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,3,9]],"date-time":"2021-03-09T09:45:53Z","timestamp":1615283153277},"posted":{"date-parts":[[2021,3,8]]},"group-title":"PsyArXiv","reference-count":0,"publisher":"Center
        for Open Science","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/legalcode","start":{"date-parts":[[2021,3,8]],"date-time":"2021-03-08T00:00:00Z","timestamp":1615161600000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"abstract":"<p>In
        recent times, disinformation has spread rapidly through social media and news
        sites, biasing our (moral) judgements of other people and groups. \u201cDeepfakes\u201d,
        a new type of AI-generated media, represent a powerful new tool for spreading
        disinformation online. Although Deepfaked images, videos, and audio may appear
        genuine, they are actually hyper-realistic fabrications that enable one to
        digitally control what another person says or does. Given the recent emergence
        of this technology, we set out to examine the psychological impact of Deepfaked
        online content on viewers. Across seven preregistered studies (N = 2558) we
        exposed participants to either genuine or Deepfaked content, and then measured
        its impact on their explicit (self-reported) and implicit (unintentional)
        attitudes as well as behavioral intentions. Results indicated that Deepfaked
        videos and audio have a strong psychological impact on the viewer, and are
        just as effective in biasing their attitudes and intentions as genuine content.
        Many people are unaware that Deepfaking is possible; find it difficult to
        detect when they are being exposed to it; and most importantly, neither awareness
        nor detection serves to protect people from its influence. All preregistrations,
        data and code available at osf.io\/f6ajb.<\/p>","DOI":"10.31234\/osf.io\/4ms5a","type":"posted-content","created":{"date-parts":[[2021,3,8]],"date-time":"2021-03-08T21:28:41Z","timestamp":1615238921000},"source":"Crossref","is-referenced-by-count":0,"title":["Deepfaked
        online content is highly effective in manipulating people\u2019s attitudes
        and intentions"],"prefix":"10.31234","author":[{"given":"Sean","family":"Hughes","sequence":"first","affiliation":[]},{"given":"Ohad","family":"Fried","sequence":"additional","affiliation":[]},{"given":"Melissa","family":"Ferguson","sequence":"additional","affiliation":[]},{"given":"Ciaran","family":"Hughes","sequence":"additional","affiliation":[]},{"given":"Rian","family":"Hughes","sequence":"additional","affiliation":[]},{"given":"David","family":"Yao","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-8906-7559","authenticated-orcid":true,"given":"Ian","family":"Hussey","sequence":"additional","affiliation":[]}],"member":"15934","container-title":[],"original-title":[],"deposited":{"date-parts":[[2021,3,9]],"date-time":"2021-03-09T09:06:12Z","timestamp":1615280772000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2021,3,8]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.31234\/osf.io\/4ms5a","relation":{},"subtype":"preprint"}}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-rate-limit-interval:
      - 1s
      x-rate-limit-limit:
      - '50'
    status:
      code: 200
      message: OK
[...]
