.__App__ {
  min-height: 100vh;
  .content {
    padding: 0 40px;
    margin-top: 64px;
    display: flex;
  }
  .ant-list-item-meta-title > a {
    color: $primary-color;
    :hover {
      color: $link-hover-color;
    }
  }

  .mb4-important {
    margin-bottom: 4px !important;
  }
}
