.__App__ {
  min-height: 100vh !important;
  .content {
    padding: 0 40px;
    margin-top: 64px;
    display: flex;
  }
  .ant-list-item-meta-title > a {
    color: $link-color;
    :hover {
      color: $link-hover-color;
    }
  }
  .mb4-important {
    margin-bottom: 4px !important;
  }
  .secondary-color {
    color: $secondary-color;
  }
  .secondary-link {
    color: $secondary-color;
    text-decoration: underline;
    font-style: italic;
  }
  .secondary-container {
    font-style: italic;
    a {
      @extend .secondary-link;
    }
  }
  .ant-timeline-item-last {
    padding: 0;
  }
}
