.__App__ {
  min-height: 100vh !important;
  .content {
    padding: 0 2.85rem;
    display: flex;
    margin-top: 64px;

    @media (max-width: $screen-xs-max) {
      margin-top: 0px !important;
    }
  }
  .ant-list-item-meta-title > a {
    color: $link-color;
    :hover {
      color: $link-hover-color;
    }
  }
  .mb4-important {
    margin-bottom: 4px !important;
  }
  .secondary-color {
    color: $secondary-color;
  }
  .secondary-link {
    color: $secondary-color;
    text-decoration: underline;
    font-style: italic;
  }
  .secondary-container {
    font-style: italic;
    a {
      @extend .secondary-link;
    }
  }
  .ant-timeline-item-last {
    padding: 0;
  }

  .sm-f3 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.5rem;
    }
  }

  .sm-f4 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.25rem;
    }
  }
}
