.__App__ {
  min-height: 100vh !important;

  // The following should be moved in different place
  .ant-card {
    color: $text-color;
  }

  .ant-list {
    color: $text-color;

    .ant-list-item-meta-description {
      color: $text-color;
    }
  }

  .ant-checkbox-wrapper {
    color: $text-color;
  }

  .content {
    display: flex;

    // :fist-child to avoid setting padding for `UserFeedback`
    & > *:first-child:not(.__Jobs__) {
      @media (min-width: $screen-xs-max) {
        padding: 0 2.85rem;
      }
    }

    & > *:first-child:not(.__Home__) {
      margin-bottom: 1rem;

      @media (max-width: $screen-lg-max) {
        padding: $header-padding;
      }
    }

    & > *:first-child.__Home__ {
      padding: 0;
    }
  }

  .ant-list-item-meta-title > a {
    color: $link-color;

    :hover {
      color: $link-hover-color;
    }
  }

  .secondary-color {
    color: $secondary-color;
  }

  .secondary-link {
    color: $secondary-color;
    text-decoration: underline;
    font-style: italic;
  }

  .secondary-container {
    font-style: italic;

    a {
      @extend .secondary-link;
    }
  }

  .result-item-title {
    font-weight: 500;
    color: $heading-color;
    font-size: 1.1rem;

    &:hover {
      color: $link-hover-color;
    }
  }

  .ant-timeline-item-last {
    padding: 0;
  }

  .sm-f3 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.5rem;
    }
  }

  .sm-f4 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.25rem;
    }
  }

  .sm-f5 {
    @media (max-width: $screen-sm-max) {
      font-size: 1rem;
    }
  }

  .sm-pb3 {
    @media (max-width: $screen-sm-max) {
      padding-bottom: 1rem;
    }
  }

  .md-pb3 {
    @media (max-width: $screen-md-max) {
      padding-bottom: 1rem;
    }
  }

  .sm-mh2 {
    @media (max-width: $screen-sm-max) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .flex-grow-1 {
    flex-grow: 1;
  }

  .sm-plus-flex-nowrap {
    @media (min-width: $screen-sm-max) {
      flex-wrap: nowrap;
    }
  }

  .xs-sm-col-24 {
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

.sm-tc {
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.mb2-important {
  margin-bottom: 0.5rem !important;
}

.ant-drawer-body {
  @media (max-width: $screen-xs-max) {
    padding: $drawer-body-padding / 2 !important;
  }
}

// height version of tachyons' `mw5` class
.mhi5 {
  max-height: 16rem;
}

.ant-tooltip a {
  color: white;
  text-decoration: underline;
}

.header-dropdown {
  z-index: $zindex-header + 1 !important;
}

body {
  overflow-y: scroll;
}

.ant-modal-wrap {
  padding: $layout-header-height 0;
  z-index: $zindex-modal !important;
}

.ant-drawer {
  z-index: $zindex-drawer !important;
}

.ant-form-item-label {
  text-overflow: ellipsis;
  z-index: 1;
  padding-right: 8px !important;
}

.ant-form-item-label > label::after {
  margin-right: 0 !important;
}
