.__App__ {
  min-height: 100vh !important;

  // The following should be moved in different place
  .ant-card {
    color: $text-color;
  }

  .ant-list {
    color: $text-color;

    .ant-list-item-meta-description {
      color: $text-color;
    }
  }

  .ant-checkbox-wrapper {
    color: $text-color;
  }

  .content {
    display: flex;
    margin-top: $header-min-height;

    // :fist-child to avoid setting padding for `UserFeedback`
    & > *:first-child:not(.__Jobs__) {
      @media (min-width: $screen-xs-max) {
        padding: 0 2.85rem;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 0px !important;
    }

    @media (max-width: $screen-lg-max) {
      padding: $header-padding;
    }
  }

  .ant-list-item-meta-title > a {
    color: $link-color;

    :hover {
      color: $link-hover-color;
    }
  }

  .mb4-important {
    margin-bottom: 4px !important;
  }

  .secondary-color {
    color: $secondary-color;
  }

  .secondary-link {
    color: $secondary-color;
    text-decoration: underline;
    font-style: italic;
  }

  .secondary-container {
    font-style: italic;

    a {
      @extend .secondary-link;
    }
  }

  .ant-timeline-item-last {
    padding: 0;
  }

  .sm-f3 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.5rem;
    }
  }

  .sm-f4 {
    @media (max-width: $screen-sm-max) {
      font-size: 1.25rem;
    }
  }

  .sm-f5 {
    @media (max-width: $screen-sm-max) {
      font-size: 1rem;
    }
  }

  .sm-pb3 {
    @media (max-width: $screen-sm-max) {
      padding-bottom: 1rem;
    }
  }

  .flex-grow-1 {
    flex-grow: 1;
  }

  .sm-plus-flex-nowrap {
    @media (min-width: $screen-sm-max) {
      flex-wrap: nowrap;
    }
  }

  .xs-sm-col-24 {
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

.md-pb3 {
  @media (max-width: $screen-md-max) {
    padding-bottom: 1rem;
  }
}

.ant-drawer-body {
  @media (max-width: $screen-xs-max) {
    padding: $drawer-body-padding / 2 !important;
  }
}

.ant-carousel {
  .slick-dots li button {
    background: $secondary-color !important;
    height: 6px !important;
  }

  .slick-dots li.slick-active button {
    background: $primary-color !important;
  }

  .slick-arrow {
    height: 24px !important;
    width: 24px !important;

    &::before {
      display: inline-block;
      border-right: 4px solid $secondary-color;
      border-bottom: 4px solid $secondary-color;
      width: 24px;
      height: 24px;
    }

    &.slick-prev {
      left: -15px !important;

      &::before {
        transform: rotate(-225deg);
      }
    }

    &.slick-next {
      right: -15px !important;

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}

.ant-tooltip a {
  color: white;
  text-decoration: underline;
}

.header-dropdown {
  z-index: $zindex-header + 1 !important;
}

body {
  overflow-y: scroll;
}

.ant-modal-wrap {
  padding-top: $header-min-height;
}
