// THIS FILE SHOULD ONLY CONTAIN VARIABLE DEFINITIONS
// Variables to override https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// Use scss (`$` instead of `@`) to override them so that variables are available to all scss files that we have for components

$primary-color: #1890ff;
$link-hover-color: #40a9ff;
