<re-toolbar [canSave]="previewMode" (save)="onSave()" (onSearchRecordClick)="searchRecords($event)" (onCollectionChange)="onCollectionChange($event)"></re-toolbar>
<div class="container re-container">
  <re-actions></re-actions>

  <div class="re-bar">
    Results
  </div>

  <ul class="list-unstyled">
    <div *ngIf="isSearching">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>
    <div *ngIf="totalRecords === 0 && !isSearching" class="alert alert-warning">
      <span>No results found</span>
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
      <span>{{successMessage}}</span>
    </div>
    <div *ngIf="totalRecords > 0 && !isSearching">
      <div class="tag-filter">
        <label>Show only:</label>
        <re-autocomplete-input type="text" name="key" [tagsEnabled]="true" (valueChange)="filterRecords($event)" placeholder="field key">
        </re-autocomplete-input>
      </div>
      <div class="preview-border">
        <button class="btn-success button" (click)="onPreviewClick()">Preview</button>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span>
            <button *ngIf="!allSelected" class="button" (click)="selectAll()"> Select all</button>
            <button *ngIf="allSelected" class="button" (click)="deselectAll()"> Deselect all</button>
          </span>
        </div>
        <div class="col-md-2  col-md-offset-5">
          <span>{{totalRecords}} records found</span>
        </div>
        <div class="col-md-3">
          <pagination [totalItems]="totalRecords" [(ngModel)]="currentPage" [maxSize]="3" class="pagination-md" [boundaryLinks]="false"
            [rotate]="false" (pageChanged)="onPageChange($event.page)" [itemsPerPage]="pageSize" [align]="false"></pagination>
        </div>
      </div>
      <li *ngFor="let filteredRecord of filteredRecords; let i = index; trackBy: trackByItem" class="list-group list-group-item">
        <input type="checkbox" [(ngModel)]="recordSelectionStatus[uuids[i]]">
        <div *ngIf="previewMode === false;then recordView else diffView"></div>
        <ng-template #diffView>
          <div *ngIf="validationErrors[i]">
            <span class="alert-danger">{{validationErrors[i]}}</span>
          </div>
          <re-any-type-node [value]="filteredRecord" [diff]="jsonPatches[i]" [depth]="0" [expanded]="true"></re-any-type-node>
        </ng-template>
        <ng-template #recordView>
          <re-any-type-node [value]="filteredRecord" [depth]="0" [expanded]="true"></re-any-type-node>
        </ng-template>
      </li>
      <pagination class="align-right" [totalItems]="totalRecords" [(ngModel)]="currentPage" [maxSize]="3" class="pagination-md"
        [boundaryLinks]="false" [rotate]="false" [itemsPerPage]="pageSize" [align]="false"></pagination>
    </div>
  </ul>
</div>