.__StatusGroup__ {
  width: 100%;
  padding-bottom: 4px;

  .status-link {
    color: black;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #2980b9;
    }
  }
  .bg-completed {
    background-color: #16a085;
    height: 8px;
    width: 8px;
  }
  .bg-failed {
    background-color: #e74c3c;
    height: 8px;
    width: 8px;
  }
  .bg-blocked {
    background-color: #e74c3c;
    height: 8px;
    width: 8px;
  }
  .bg-needs_review {
    background-color: #cfa90e;
    height: 8px;
    width: 8px;
  }
  .bg-in_progress {
    background-color: #0050b3;
    height: 8px;
    width: 8px;
  }
}
