<ng-container *ngIf="tickets">
  <div class="display-inline-flex">
    <ul class="display">
      <li *ngFor="let ticket of tickets | slice:0:displayLimit; let i = index">
        <re-ticket [ticket]="ticket" (resolve)="onTicketResolve(i)"></re-ticket>
        <span class="vertical-line"></span>
      </li>
      <li *ngIf="tickets.length > displayLimit" class="more-btn-container">
        <button [popover]="moreTicketsTemplate" placement="bottom">more...</button>
      </li>
    </ul>
    <button class="new-ticket" (click)="newTicketModal.show()">New Ticket</button>
  </div>

  <ng-template #moreTicketsTemplate>
    <ul class="more">
    <li *ngFor="let ticket of tickets | slice:displayLimit; let i = index">
        <re-ticket [ticket]="ticket" (resolve)="onTicketResolve(i + displayLimit)"></re-ticket>
      </li>
    </ul>
  </ng-template>

  <re-new-ticket-modal #newTicketModal (create)="onTicketCreate($event)"></re-new-ticket-modal>
</ng-container>