<nav class="navbar navbar-default" id="editor-toolbar">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header col-md-2" [class.re-disabled]="displayingRevision">
        <re-holdingpen-save-button></re-holdingpen-save-button>
        <re-undo-button></re-undo-button>
        <re-help-modal-button></re-help-modal-button>
      </div>
      <div class="nav navbar-nav col-md-8">
        <div class="col-md-6">
          <re-tickets></re-tickets>
        </div>
      </div>
      <div class="nav navbar-nav navbar-right col-md-2">
        <re-record-history (revisionChange)="onRevisionChange($event)" [enableRevert]="false"></re-record-history>
      </div>
    </div>
  </div>
</nav>
