.__TreeAggregation__ {
  .ant-tree-switcher {
    align-self: center !important;
  }
  .ant-tree-treenode {
    align-items: center;
  }
  .ant-tree-checkbox {
    align-self: center !important;
    margin-top: 0;
  }
}
