.__LinkLikeButton__ {
  padding: 4px 0;
  &:hover {
    background-color: transparent !important;
    color: #40a9ff !important;
  }
  &.white {
    color: white !important;
    &:hover {
      color: white !important;
      & > *:hover {
        text-decoration: underline;
      }
    }
  }
  &.blue {
    color: #0050b3 !important;
    &:hover {
      color: #40a9ff !important;
    }
  }
  &.middle {
    font-size: 1.1rem;
  }
  &.big {
    font-size: 1.5rem;
  }
  &.disabled {
    color: #00000050 !important;
  }
}
