.__ExceptionsTable__ {
  width: 1400px;
}

@media (max-width: 1400px) {
  .__ExceptionsTable__ {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .__ExceptionsTable__ {
    width: 800px;
  }
}
