span.queue {
  background: #f39c12;
  color: white;
  -moz-border-radius:12px 12px 12px 12px;  // for firefox
  border-radius:12px 12px 12px 12px;
  padding: 5px 5px 5px 5px;
  font-size: 0.9em;
}

a.date {
 color: lightgray;
 text-decoration: underline;
}

i.resolve {
  cursor: pointer;
  color: #27ae60;
  font-size: 20px;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

.ticket-container {
  & > * {
    padding-left: 7px;
  }
}