.__ContentBox__ {
  .ant-card-body {
    padding: 0 !important;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .actions {
      margin-top: auto;

      .anticon {
        font-size: 16px;
      }
    }
  }

  .ant-card-head {
    padding: 0 1rem;
  }

  .ant-card-loading-content {
    padding: 1rem;
  }
}
