.__UserFeedback__ {
  .feedback-button {
    position: fixed;
    transform: rotate(270deg);
    transform-origin: right bottom;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 50%;
    right: -0.2rem;

    @media (max-width: $screen-sm-max) {
      top: 75%;
    }

    &:hover {
      right: 0;
      box-shadow: 0 0 0.5rem $primary-color;
    }
  }
}
