<div dropdown>
  <button class="btn btn-default" dropdownToggle>
    <i class="fa fa-list-alt"></i>
    <i class="fa fa-caret-down"></i>  
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" class="menu-item">
      <textarea type="text" class="form-control" [(ngModel)]="source" (click)="$event.stopPropagation()" placeholder="Text or URL (with http prefix)"></textarea>
    </li>
    <li role="menuitem" class="menu-item">
      <button class="btn btn-default" (click)="onExtractClick()">Extract</button>
    </li>
    <li role="menuitem" class="menu-item">
      <div class="checkbox" (click)="$event.stopPropagation()">
        <label>
          <input type="checkbox" checked [(ngModel)]="replaceExisting"> Replace existing
        </label>
      </div>
    </li>
  </ul>
</div>