<div *ngFor="let key of keys; trackBy: trackByItem">
  <span [style.margin-left.px]="depth * levelOffsetInPixels">
    <i *ngIf="!isExpandedMap.get(key)" (click)="isExpandedMap.set(key, true)" class="collapsable fa  fa-caret-right fa-1" aria-hidden="true"></i>
    <i *ngIf="isExpandedMap.get(key)" (click)="isExpandedMap.set(key, false)" class="collapsable fa fa-caret-down fa-1" aria-hidden="true"></i>
    <span [ngClass]="getPropertyStyle(key)">{{key}}</span>
    <div *ngIf="(diff && diffKeys.has(key)) || shouldExpandKeys">
      <re-any-type-node [value]="value[key]" [depth]="depth + 1" [diff]="patchesMap.get(key)" [expanded]="isExpandedMap.get(key)"></re-any-type-node>
    </div>
    <div *ngIf="(diff === undefined || !diffKeys.has(key)) && !shouldExpandKeys">
      <re-any-type-node [value]="value[key]" [depth]="depth + 1" [expanded]="isExpandedMap.get(key)"></re-any-type-node>
    </div>
  </span>
</div>