.button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #dae8ef;
  border-top: 1px gray;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(241, 241, 241);
}

.action {
  margin-top: 10px;
  margin-left: 10px;
}

.info-text {
  margin-top: 10px;
  margin-left: 10px;
}

.fa-times {
  color: gray;
  cursor: pointer;
}
