<ng-template let-reference="item" #referenceTemplate>
  <re-reference-brief [reference]="reference"></re-reference-brief>
</ng-template>

<ng-template let-item="item" #affiliationAutocompleteTemplate>
  <re-affiliation-brief [affiliation]="item.payload"></re-affiliation-brief>
</ng-template>

<ng-template #refExtractTemplate>
  <re-ref-extract-actions></re-ref-extract-actions>
</ng-template>

<re-holdingpen-toolbar [workflowObject]="workflowObject"></re-holdingpen-toolbar>
<div class="editor-parent-container">
  <json-editor *ngIf="workflowObject && schema"
    [(record)]="workflowObject.metadata"
    [schema]="schema"
    [config]="config"
    [templates]="{
      referenceTemplate: referenceTemplate,
      affiliationAutocompleteTemplate: affiliationAutocompleteTemplate,
      refExtractTemplate: refExtractTemplate
    }">
  </json-editor>
</div>
