{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "page": true,
    "browser": true,
    "document": true,
  },
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
