interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oaipmh.arxiv.org/oai?identifier=oai%3AarXiv.org%3A1607.06746&metadataPrefix=arXiv&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        \n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n    <responseDate>2026-03-17T14:38:41Z</responseDate>\n
        \               <request verb=\"GetRecord\" identifier=\"oai:arXiv.org:1607.06746\"
        metadataPrefix=\"arXiv\">http://oaipmh.arxiv.org/oai</request>\n\n\n    <GetRecord>\n
        \               <record>\n                <header>\n        <identifier>oai:arXiv.org:1607.06746</identifier>\n
        \       <datestamp>2017-02-28</datestamp>\n            <setSpec>physics:hep-ex</setSpec>\n
        \           <setSpec>physics:hep-ph</setSpec>\n    </header>\n\n            <metadata>\n
        \                       <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/ https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n
        \       <id>1607.06746</id>\n        <created>2017-02-26</created>\n            <updated>2017-02-28</updated>\n
        \       <authors>\n                <author>\n                    <keyname>Gershon</keyname>\n
        \                       <forenames>T.</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Gligorov</keyname>\n
        \                       <forenames>V. V.</forenames>\n                </author>\n
        \       </authors>\n        <title>CP violation in the B system</title>\n
        \           <categories>hep-ex hep-ph</categories>\n            <comments>Invited
        review for Rep. Prog. Phys. v2 corresponds to published version</comments>\n
        \           <journal-ref>Reports on Progress in Physics, 80 (2017) 046201</journal-ref>\n
        \           <doi>10.1088/1361-6633/aa5514</doi>\n            <license>http://arxiv.org/licenses/nonexclusive-distrib/1.0/</license>\n
        \           <abstract>The phenomenon of CP violation is crucial to understand
        the asymmetry between matter and antimatter that exists in the Universe. Dramatic
        experimental progress has been made, in particular in measurements of the
        behaviour of particles containing the b quark, where CP violation effects
        are predicted by the Kobayashi-Maskawa mechanism that is embedded in the Standard
        Model. The status of these measurements and future prospects for an understanding
        of CP violation beyond the Standard Model are reviewed.</abstract>\n    </arXiv>\n\n
        \           </metadata>\n        </record>\n\n    </GetRecord>\n</OAI-PMH>"
    headers:
      content-type:
      - text/xml
      x-cloud-trace-context:
      - 25737f2ed27cf3f8b1bd20bacb6b1925
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1088%2F1361-6633%2Faa5514
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,1,15]],"date-time":"2026-01-15T01:44:26Z","timestamp":1768441466784,"version":"3.49.0"},"reference-count":420,"publisher":"IOP
        Publishing","issue":"4","license":[{"start":{"date-parts":[[2017,2,24]],"date-time":"2017-02-24T00:00:00Z","timestamp":1487894400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining"},{"start":{"date-parts":[[2017,2,24]],"date-time":"2017-02-24T00:00:00Z","timestamp":1487894400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/iopscience.iop.org\/page\/copyright"}],"funder":[{"DOI":"10.13039\/501100000781","name":"European
        Research Council","doi-asserted-by":"publisher","award":["239999"],"award-info":[{"award-number":["239999"]}],"id":[{"id":"10.13039\/501100000781","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100000271","name":"Science
        and Technology Facilities Council","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100000271","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["iopscience.iop.org"],"crossmark-restriction":true},"short-container-title":["Rep.
        Prog. Phys."],"published-print":{"date-parts":[[2017,4,1]]},"DOI":"10.1088\/1361-6633\/aa5514","type":"journal-article","created":{"date-parts":[[2016,12,21]],"date-time":"2016-12-21T12:21:14Z","timestamp":1482322874000},"page":"046201","update-policy":"https:\/\/doi.org\/10.1088\/crossmark-policy","source":"Crossref","is-referenced-by-count":19,"title":["<i>CP<\/i>violation
        in the<i>B<\/i>system"],"prefix":"10.1088","volume":"80","author":[{"given":"T","family":"Gershon","sequence":"first","affiliation":[]},{"given":"V
        V","family":"Gligorov","sequence":"additional","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2017,2,24]]},"reference":[{"key":"1","doi-asserted-by":"publisher","DOI":"10.1016\/0029-5582(57)90061-5"},{"key":"2","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRev.109.984"},{"key":"3","first-page":"32","volume":"5","author":"Sakharov
        A D","year":"1967","journal-title":"Pisma Zh. Eksp. Teor. Fiz."},{"key":"4","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.13.138"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1143\/PTP.49.652"},{"key":"6","doi-asserted-by":"publisher","DOI":"10.1103\/PhysRevLett.10.531"},{"key":"7","doi-asserted-by":"publisher","DOI":"10.1146\/annurev.nucl.56.080805.140456"},{"key":"8","doi-asserted-by":"publisher","DOI":"10.1016\/j.physrep.2010.05.003"},{"key":"9","doi-asserted-by":"publisher","DOI":"10.1103\/RevModPhys.88.045[...]
