interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works/10.1016%2Fj.physletb.2012.08.020
  response:
    body:
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2019,4,16]],"date-time":"2019-04-16T18:42:48Z","timestamp":1555440168940},"reference-count":130,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2012,9,1]],"date-time":"2012-09-01T00:00:00Z","timestamp":1346457600000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2013,7,16]],"date-time":"2013-07-16T00:00:00Z","timestamp":1373932800000},"delay-in-days":318,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100001732","name":"Danmarks
        Grundforskningsfond","doi-asserted-by":"crossref","award":[]},{"DOI":"10.13039\/501100003554","name":"Lundbeckfonden","doi-asserted-by":"crossref","award":[]},{"DOI":"10.13039\/501100000275","name":"Leverhulme
        Trust","doi-asserted-by":"crossref","award":[]},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"crossref","award":[]},{"DOI":"10.13039\/501100001807","name":"Funda\u00e7\u00e3o
        de Amparo \u00e0 Pesquisa do Estado de S\u00e3o Paulo","doi-asserted-by":"crossref","award[...]
