.__DetailPageContainer__ {
    width: 100%;
  
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active,
    .ant-btn:focus-visible,
    .ant-btn:focus-within {
      &.bg-completed {
        background-color: #16bb9a;
        border: 1px solid #16bb9a;
      }
      &.bg-error {
        background-color: #e3685b;
        border: 1px solid #e3685b;
      }
      &.bg-halted {
        background-color: #f7b852;
        border: 1px solid #f7b852;
      }
      &.bg-processing {
        background-color: #0050b3;
        border: 1px solid #0050b3;
      }
    }
  
    .ant-collapse-content-box {
      padding-bottom: 1rem;
      .error-code {
        white-space: pre-line;
        padding: 10px 25px;
        text-indent: -15px;
        margin-left: 15px;
      }
      .ant-list-footer {
        display: none;
      }
    }
  
    .decision-pill {
      font-weight: 400;
    }
  
    .decision-pill.bg-halted {
      border-color: #f39c12;
    }
  
    .decision-pill.bg-completed {
      border-color: #16a085;
    }
  
    .decision-pill.bg-error {
      border-color: #e74c3c;
    }

    .text-core { color: #16a085 }
    .text-non-core { color: #f39c12; }
    .text-rejected  { color: #e74c3c; }

    .decision-core-keywords {
      font-weight: 600; 
      color: #8c96a0;
      margin-bottom: 8px;
    }

    .decision-filtered-core-keywords-title {
      font-weight: 600; 
      color: #8c96a0;
      margin-bottom: 12px;
    }

    .decision-filtered-core-keywords-list {
      max-height: 260px;
      overflow: auto;
      padding-right: 8px;
    }
    
    .decision-filtered-core-keywords-list-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 0;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }    

    .decision-filtered-core-keywords-list-inner:last-child {
      border-bottom: none;
    }
  }
  