.__Header__ {
  z-index: 2;
  position: fixed;
  width: 100%;

  // Non sticky/fixed header for mobile
  @media (max-width: $screen-xs-max) {
    position: initial;
    z-index: initial;
  }

  .header {
    padding: 0 12px;
    min-height: 64px;
    height: initial;
  }
}
