.__Header__ {
  z-index: $zindex-header;
  position: fixed;
  width: 100%;

  // Non sticky/fixed header for mobile
  @media (max-width: $screen-xs-max) {
    position: initial;
    z-index: initial;
  }
  .header {
    padding: $header-padding;
    min-height: 64px;
    height: initial;
    @media (max-width: $screen-xs-max) {
      line-height: 56px;
    }
  }
}
