{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "page": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
