interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-preprod.archives-ouvertes.fr/sword/servicedocument
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      WWW-Authenticate:
      - Basic realm="SWORD"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://api-preprod.archives-ouvertes.fr/sword/servicedocument
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<service xmlns=\"http://www.w3.org/2007/app\"
        xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:sword=\"http://purl.org/net/sword/terms/\"
        xmlns:dcterms=\"http://purl.org/dc/terms/\">\n  <sword:version>2.0</sword:version>\n
        \ <sword:maxUploadSize>204800</sword:maxUploadSize>\n  <workspace>\n    <atom:title>The
        HAL archive</atom:title>\n    <collection href=\"https://api-preprod.archives-ouvertes.fr/sword/tel\">\n
        \     <atom:title>TEL - Th\xE8ses en ligne</atom:title>\n      <accept>text/xml</accept>\n
        \     <accept>application/xml</accept>\n      <accept>application/zip</accept>\n
        \     <sword:collectionPolicy>Open Access</sword:collectionPolicy>\n      <dcterms:abstract>HAL
        e-print archive portal at https://tel.halpreprod.archives-ouvertes.fr</dcterms:abstract>\n
        \     <sword:mediation>true</sword:mediation>\n      <sword:treatment>Submission
        will be posted pending moderator approval</sword:treatment>\n      <sword:acceptPackaging>http://purl.org/net/sword-types/AOfr</sword:acceptPackaging>\n
        \     <sword:acceptPackaging>http://jats.nlm.nih.gov/publishing/tag-library/</sword:acceptPackaging>\n
        \   </collection>\n    <collection href=\"https://api-preprod.archives-ouvertes.fr/sword/hal\">\n
        \     <atom:title>Archive ouverte HAL</atom:title>\n      <accept>text/xml</accept>\n
        \     <accept>application/xml</accept>\n      <accept>application/zip</accept>\n
        \     <sword:collectionPolicy[...]
