interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/campaigns/074c7e5c33/actions/replicate
  response:
    body:
      string: '{"id":"f467b39bea","web_id":3612341,"type":"regular","create_time":"2019-08-23T09:40:38+00:00","archive_url":"http://eepurl.com/gBh32b","long_archive_url":"https://us3.campaign-archive.com/?u=5a5c86b932d6c047e19404485&id=f467b39bea","status":"save","emails_sent":0,"send_time":"","content_type":"template","needs_block_refresh":false,"resendable":false,"recipients":{"list_id":"94ac3f1ad8","list_name":"Inspirehep","segment_text":"","recipient_count":2},"settings":{"subject_line":"Inspirehep
        Jobs daily","title":"Weekly jobs (copy 51)","from_name":"Inspire","reply_to":"charalampos.tzovanakis@cern.ch","use_conversation":false,"to_name":"","folder_id":"","authenticate":true,"auto_footer":false,"inline_css":false,"auto_tweet":false,"fb_comments":true,"timewarp":false,"template_id":341813,"drag_and_drop":true},"tracking":{"opens":true,"html_clicks":true,"text_clicks":true,"goal_tracking":false,"ecomm360":false,"google_analytics":"","clicktale":""},"delivery_status":{"enabled":false},"_links":[{"rel":"parent","href":"https://us3.api.mailchimp.com/3.0/campaigns","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/CollectionResponse.json","schema":"https://us3.api.mailchimp.com/schema/3.0/CollectionLinks/Campaigns.json"},{"rel":"self","href":"https://us3.api.mailchimp.com/3.0/campaigns/f467b39bea","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Response.json"},{"rel":"delete","href":"https://us3.api.mailchimp.com/3.0/campaigns/f467b39bea","method":"DELETE"},{"rel":"send","href":"https://us3.api.mailchimp.com/3.0/campaigns/f467b39bea/actions/send","method":"POST"},{"rel":"cancel_send","href":"h[...]
- request:
    body: '{"html": "<p>Breaking news from ALIAS Investigation.</p>"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us3.api.mailchimp.com/3.0/campaigns/f467b39bea/content
  response:
    body:
      string: '{"plain_text":"Breaking news from ALIAS Investigation.\n\n==============================================\n*|LIST:DESCRIPTION|*\n\nUnsubscribe
        *|EMAIL|* from this list:\n*|UNSUB|*\n\nOur mailing address is:\n*|LIST:ADDRESS|*\n\nOur
        telephone:\n*|LIST:PHONE|*\n\nForward this email to a friend:\n*|FORWARD|*\n\nUpdate
        your profile:\n*|UPDATE_PROFILE|*","html":"<p>Breaking news from ALIAS Investigation.</p>","archive_html":"<p>Breaking
        news from ALIAS Investigation.</p>","_links":[{"rel":"parent","href":"https://us3.api.mailchimp.com/3.0/campaigns/3612341","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Response.json"},{"rel":"self","href":"https://us3.api.mailchimp.com/3.0/campaigns/3612341/content","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Content/Response.json"},{"rel":"create","href":"https://us3.api.mailchimp.com/3.0/campaigns/3612341/content","method":"PUT","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Content/PUT.json"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us3.api.mailchimp.com/schema/3.0/Campaigns/Content/Collection.json>;
        rel="describedBy"
    status:
      code: 200
      message: OK
- request:
    body: '{"test_emails": ["jessica@jones.com"], "send_type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/campaigns/f467b39bea/actions/test
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
