interactions:
- request:
    body: '{"members": [{"email_address": "frank@castle.com", "status": "subscribed",
      "status_if_new": "subscribed", "merge_fields": {"FNAME": "Frank", "LNAME": "Castle"}}],
      "update_existing": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8
  response:
    body:
      string: '{"new_members":[{"id":"d786d5eef6d9c1ec743c8f86a0014935","email_address":"frank@castle.com","unique_email_id":"923ad73a20","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Frank","LNAME":"Castle","ADDRESS":"","PHONE":"","BIRTHDAY":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"194.12.172.240","timestamp_opt":"2019-08-26T15:27:51+00:00","member_rating":2,"last_changed":"2019-08-26T15:27:51+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"tags_count":0,"tags":[],"list_id":"94ac3f1ad8","_links":[{"rel":"self","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/d786d5eef6d9c1ec743c8f86a0014935","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us3.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/d786d5eef6d9c1ec743c8f86a0014935","method":"PATCH","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/d786d5eef6d9c1ec[...]
