interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/campaigns/074c7e5c33/actions/replicate
  response:
    body:
      string: '{"id":"803928f049","web_id":3612353,"type":"regular","create_time":"2019-08-23T09:41:00+00:00","archive_url":"http://eepurl.com/gBh4b9","long_archive_url":"https://us3.campaign-archive.com/?u=5a5c86b932d6c047e19404485&id=803928f049","status":"save","emails_sent":0,"send_time":"","content_type":"template","needs_block_refresh":false,"resendable":false,"recipients":{"list_id":"94ac3f1ad8","list_name":"Inspirehep","segment_text":"","recipient_count":2},"settings":{"subject_line":"Inspirehep
        Jobs daily","title":"Weekly jobs (copy 54)","from_name":"Inspire","reply_to":"charalampos.tzovanakis@cern.ch","use_conversation":false,"to_name":"","folder_id":"","authenticate":true,"auto_footer":false,"inline_css":false,"auto_tweet":false,"fb_comments":true,"timewarp":false,"template_id":341813,"drag_and_drop":true},"tracking":{"opens":true,"html_clicks":true,"text_clicks":true,"goal_tracking":false,"ecomm360":false,"google_analytics":"","clicktale":""},"delivery_status":{"enabled":false},"_links":[{"rel":"parent","href":"https://us3.api.mailchimp.com/3.0/campaigns","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/CollectionResponse.json","schema":"https://us3.api.mailchimp.com/schema/3.0/CollectionLinks/Campaigns.json"},{"rel":"self","href":"https://us3.api.mailchimp.com/3.0/campaigns/803928f049","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Response.json"},{"rel":"delete","href":"https://us3.api.mailchimp.com/3.0/campaigns/803928f049","method":"DELETE"},{"rel":"send","href":"https://us3.api.mailchimp.com/3.0/campaigns/803928f049/actions/send","method":"POST"},{"rel":"cancel_send","href":"h[...]
- request:
    body: '{"html": "<!doctype html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\"
      xmlns:v=\"urn:schemas-microsoft-com:vml\"\n    xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n\n<head>\n    <!--
      NAME: 1 COLUMN -->\n    <!--[if gte mso 15]>\n        <xml>\n            <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n            </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]-->\n    <meta
      charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta
      name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>*|MC:SUBJECT|*</title>\n\n    <style
      type=\"text/css\">\n        p {\n            margin: 10px 0;\n            padding:
      0;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        h1,\n        h2,\n        h3,\n        h4,\n        h5,\n        h6
      {\n            display: block;\n            margin:[...]
- request:
    body: '{"test_emails": ["jessica@jones.com"], "send_type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/campaigns/803928f049/actions/test
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
