interactions:
- request:
    body: '{"from": {"email": "sender@cern.ch"}, "subject": "subject", "personalizations":
      [{"to": [{"email": "receiver@cern.ch"}]}], "content": [{"type": "text/html",
      "value": "test"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.sendgrid.com/v3/mail/send
  response:
    body:
      string: ''
    headers:
      X-Message-Id:
      - lPg6tXDSRaCU2ziyA3xE3A
      X-No-CORS-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    status:
      code: 202
      message: Accepted
version: 1
