interactions:
- request:
    body: '{"members": [{"email_address": "luke@cage.com", "status": "subscribed",
      "status_if_new": "subscribed", "merge_fields": {"FNAME": "Luke", "LNAME": "Cage"}}],
      "update_existing": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8
  response:
    body:
      string: '{"new_members":[{"id":"70b7a2bbe768ecf3d92aabaf55071c43","email_address":"luke@cage.com","unique_email_id":"1d694f5012","email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Luke","LNAME":"Cage","ADDRESS":"","PHONE":"","BIRTHDAY":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"194.12.172.240","timestamp_opt":"2019-08-26T15:28:57+00:00","member_rating":2,"last_changed":"2019-08-26T15:28:57+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"tags_count":0,"tags":[],"list_id":"94ac3f1ad8","_links":[{"rel":"self","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/70b7a2bbe768ecf3d92aabaf55071c43","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members","method":"GET","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us3.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/70b7a2bbe768ecf3d92aabaf55071c43","method":"PATCH","targetSchema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us3.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us3.api.mailchimp.com/3.0/lists/94ac3f1ad8/members/70b7a2bbe768ecf3[...]
