<div class="author-brief-container" [ngSwitch]="author.has('record')">
  <span *ngSwitchCase="true">
    <i class="fa fa-check-circle success"></i>
    <a [href]="author.getIn(['record', '$ref']) | apiToDetailUrl" target="_blank">{{author.get('full_name')}}</a>
  </span>
  <span *ngSwitchDefault>
    <i class="fa fa-exclamation-triangle warning"></i>
    {{author.get('full_name')}}
  </span>
  <ng-container *ngIf="author.has('affiliations')">
    <span>
      <ng-container *ngFor="let affiliation of author.get('affiliations', []); let i = index">
        <ng-container *ngIf="i > 0">and </ng-container>
        {{affiliation.get('value') }}
      </ng-container>
    </span>
  </ng-container>
</div>