$wet-asphalt: #34495e;

.navbar-default {
  background-color: $wet-asphalt;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  height: 50px;
  width: 100%;
  border-radius: 0;
  border: 0;
  padding-right: 15px;
  padding-left: 15px;
}
