interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/sys_user_grmember?sysparm_fields=user.name%2Cgroup.name%2Cuser.email%2Cuser.sys_id&sysparm_query=group.nameSTARTSWITHInspire+Information+system
  response:
    body:
      string: '{"result":[{"group.name":"Inspire Information system 2nd Line Support","user.sys_id":"42f093e0c3e08290718e59fdd40131fc","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"ea4dfe1e0a0a8c0a016bddc2f2e5befc","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"792bf7a98761e1101a94ac1a0cbb3565","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
        Information system 2nd Line Support","user.sys_id":"f06113500a0a8c08006fdd448147d73b","user.email":"XXX","user.name":"XXX"},{"group.name":"Inspire
     [...]
