interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/u_functional_element_category?sysparm_fields=u_category_id%2Csys_name%2Csys_id&sysparm_query=u_functional_element%3Dea56eb930a0a8c0a0004af7b268a0987
  response:
    body:
      string: '{"result":[{"sys_id":"13d64fba1b6dd9107a83dc6a9b4bcb9d","u_category_id":"Authors","sys_name":"Authors"},{"sys_id":"21d0688c1b2365102e3762c1ab4bcb65","u_category_id":"Author
        claims","sys_name":"Author claims"},{"sys_id":"48d6cbba1b6dd9107a83dc6a9b4bcb53","u_category_id":"Outdated
        literature","sys_name":"Outdated literature"},{"sys_id":"5d16b0a74779f550bbe1ff1c736d43ca","u_category_id":"Jobs","sys_name":"Jobs"},{"sys_id":"614aa03e87b82510eb3b33390cbb35aa","u_category_id":"Feature
        request","sys_name":"Feature request"},{"sys_id":"6f576f151b822150e823a71eab4bcbd7","u[...]
- request:
    body: '{"u_caller_id":"ce1dd215873b951069c063990cbb35a7","u_functional_element":"ea56eb930a0a8c0a0004af7b268a0987","u_functional_category":"13d64fba1b6dd9107a83dc6a9b4bcb9d","short_description":"test
      create ticket endpoint","description":"test test","assignment_group":"ea56eb930a0a8c0a0004af7b268a0987","assigned_to":"ce1dd215873b951069c063990cbb35a7"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cerntraining.service-now.com/api/now/table/u_request_fulfillment
  response:
    body:
      string: '{"result":{"parent":"","u_third_party_template":"","u_ggusid_url":"","watch_list":"","u_exclude":"false","sys_updated_on":"2023-10-19
        13:26:06","u_resolved_by":"","approval_history":"","number":"RQF2324245","u_financial_approval":"","u_functional_approval":"","u_cern_sla_due":"2023-10-25
        09:26:05","state":"2","sys_created_by":"snow-inspire","knowledge":"false","u_last_updated_by":"assignee","u_confidentiality_approval":"","u_related_child_request":"0","cmdb_ci":"","contract":"","impact":"3","active":"true","u_new_work_notes":"false","u_resolved_at":"","priority":"4","u_record_producer":"","business_duration":"","group_list":"","u_reopened":"false","u_template":"","u_start_date":"","approval_set":"","u_rp_variables":"","universal_request":"","short_description":"test
        create ticket endpoint","work_start":"","u_latest_work_notes":"","u_third_party":"","u_small_remarks":"","u_wfu_reminders_counter":"0","additional_assignee_list":"","u_external_caller":"","u_approval_type":"No
        approval","u_third_party_type":"","service_offering":{"link":"https://cerntraining.service-now.com/api/now/table/service_offering/4042d31bdb487704f9956184da96199b","value":"4042d31bdb487704f9956184da96199b"},"sys_class_name":"u_request_fulfillment","u_third_party_description":"","u_project_description":"","u_previous_group":"","reassignment_count":"0","assigned_to":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/ce1dd215873b951069c063990cbb35a7","value":"ce1dd215873b951069c063990cbb35a7"},"u_last_comment_time":"","u_solution_category":"","sla_due":"","u_configuration_items_list":"","u_category":"1","u_functional_category":{"link":"https://cerntraining.service-now.com/api/now/table/u_functional_element_category/13d64fba1b6dd9107a83dc6a9b4bcb9d","value":"13d64fba1b6dd9107a83dc6a9b4bcb9d"},"u_amount":"","u_time_planned":"","u_reopen_count":"0","u_delivery":"2","u_workflow_version":"5","u_location_description":"","u_feedback":"","u_functional_problem_category":"","u_converted_from":"","task_effective_number":"RQF2324245","u_no_notification":"false","u_third_party_ticket":"","u_business_service":{"link":"https://cerntraining.service-now.com/api/now/table/u_service_element/cea19717db487704f9956184da961947","value":"cea19717db487704f9956184da961947"},"sys_updated_by":"snow-inspire","opened_by":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/ce1dd215873b951069c063990cbb35a7","value":"ce1dd215873b951069c063990cbb35a7"},"sys_created_on":"2023-10-19
        13:26:05","sys_domain":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user_group/global","value":"global"},"u_report":"","u_highlight_reopened_ticket":"false","route_reason":"","u_ci_relations":{"link":"https://cerntraining.service-now.com/api/now/table/cmdb_rel_ci/1b6e56eb87aad110094a65770cbb3587","value":"1b6e56eb87aad110094a65770cbb3587"},"closed_at":"","u_third_party_contract":"","u_technical_approval":"","business_service":"","u_workflow_stage":"New","u_cloned_from_ticket":"","u_budget_code":"","time_worked":"","u_number_of_piquet_calls":"0","opened_at":"2023-10-19
        13:26:05","u_reassignment_counter_fe":"0","u_state_updated_on":"2023-10-19
        13:26:06","work_end":"","u_current_task_state":"4","u_ci_cluster_list":"","u_ci_count":"","work_notes":"","u_third_party_url":"","assignment_group":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user_group/ea56eb980a0a8c0a00bba0894e847a40","value":"ea56eb980a0a8c0a00bba0894e847a40"},"u_number_of_items":"0","u_caller_id":{"link":"https://cerntraining.service-now.com/api/now/table/sys_user/ce1dd215873b951069c063990cbb35a7","value":"ce1dd215873b951069c063990cbb35a7"},"description":"test
        test","calendar_duration":"","u_reassignment_counter_sd":"0","u_change_description":"","close_notes":"","sys_id":"5f6fc1a41b0ab1502e3762c1ab4bcb59","contact_type":"","u_converted_to":"","u_end_date":"","u_email_from":"","urgency":"2","u_visibility":"se","u_email_to":"","u_ggusid":"","u_number_approvals":"0","u_solution":"","comments":"","u_functional_element":{"link":"https://cerntraining.service-now.com/api/now/table/u_cmdb_ci_functional_services/ea56eb930a0a8c0a0004af7b268a0987","value":"ea56eb930a0a8c0a0004af7b268a0987"},"approval":"not
        requested","u_alarms_list":"","due_date":"","sys_mod_count":"1","sys_tags":"","u_master_task":"","u_skip_classification":"false","u_email_signature":"Kind
        Regards","u_close_code":"","u_task_template":"","location":"","u_last_updated_3rd_party":""}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://cerntraining.service-now.com/api/now/table/u_request_fulfillment/5f6fc1a41b0ab1502e3762c1ab4bcb59
      X-Is-Logged-In:
      - 'true'
      X-Transaction-ID:
      - 5f6f81a41b0a
    status:
      code: 201
      message: Created
- request:
    body: '{"comments":"test test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://cerntraining.service-now.com/api/now/table/u_request_fulfillment/5f6fc1a41b0ab1502e3762c1ab4bcb59
  response:
    body:
      string: '{"result":{"parent":"","u_third_party_template":"","u_ggusid_url":"","watch_list":"","u_exclude":"false","sys_updated_on":"2023-10-19
        13:26:06","u_resolved_by":"","approval_history":"","number":"RQF2324245","u_financia[...]
