interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/u_functional_element_category?sysparm_fields=u_category_id%2Csys_name%2Csys_id&sysparm_query=u_functional_element%3Dea56eb930a0a8c0a0004af7b268a0987
  response:
    body:
      string: '{"error":{"message":"User Not Authenticated","detail":"Required to
        provide Auth information"},"status":"failure"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      WWW-Authenticate:
      - BEARER realm="Service-now"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/u_functional_element_category?sysparm_fields=u_category_id%2Csys_name%2Csys_id&sysparm_query=u_functional_element%3Dea56eb930a0a8c0a0004af7b268a0987
  response:
    body:
      string: '{"error":{"message":"User Not Authenticated","detail":"Required to
        provide Auth information"},"status":"failure"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      WWW-Authenticate:
      - BEARER realm="Service-now"
    status:
      code: 401
      message: Unauthorized
version: 1
