interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cerntraining.service-now.com/api/now/table/u_functional_element_category?sysparm_fields=u_category_id%2Csys_name%2Csys_id&sysparm_query=u_functional_element%3Dea56eb930a0a8c0a0004af7b268a0987
  response:
    body:
      string: '{"result":[{"sys_id":"13d64fba1b6dd9107a83dc6a9b4bcb9d","u_category_id":"Authors","sys_name":"Authors"},{"sys_id":"21d0688c1b2365102e3762c1ab4bcb65","u_category_id":"Author
        claims","sys_name":"Author claims"},{"sys_id":"48d6cbba1b6dd9107a83dc6a9b4bcb53","u_category_id":"Outdated
        literature","sys_name":"Outdated literature"},{"sys_id":"5d16b0a74779f550bbe1ff1c736d43ca","u_category_id":"Jobs","sys_name":"Jobs"},{"sys_id":"614aa03e87b82510eb3b33390cbb35aa","u_category_id":"Feature
        request","sys_name":"Feature request"},{"sys_id":"6f576f151b822150e823a71eab4bcbd7","u[...]
