.__CitationSummaryGraph__ {
  .recharts-cartesian-axis-tick-value {
    fill: @text-color;
  }

  .recharts-label {
    fill: @secondary-color;
    font-size: 0.88rem;
  }

  .recharts-label-list text {
    fill: @text-color;
    font-size: 0.81rem;
    font-weight: bold;
  }

  @media (max-width: @screen-sm-max) {

    .recharts-label,
    .recharts-label-list text {
      display: none;
    }

    .recharts-legend-wrapper {
      bottom: 20px !important;
    }
  }
}
