interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-03-01T00%3A00%3A00+TO+2025-06-01T00%3A00%3A00%5D&page=1&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"id": "yefns-5w079", "created": "2025-04-15T10:58:32+00:00",
        "updated": "2025-05-19T07:22:41.063177+00:00", "links": {"self": "https://repository.cern/api/records/yefns-5w079",
        "self_html": "https://repository.cern/records/yefns-5w079", "preview_html":
        "https://repository.cern/records/yefns-5w079?preview=1", "reserve_doi": "https://repository.cern/api/records/yefns-5w079/draft/pids/doi",
        "parent": "https://repository.cern/api/records/q745x-n3w24", "parent_html":
        "https://repository.cern/records/q745x-n3w24", "self_iiif_manifest": "https://repository.cern/api/iiif/record:yefns-5w079/manifest",
        "self_iiif_sequence": "https://repository.cern/api/iiif/record:yefns-5w079/sequence/default",
        "files": "https://repository.cern/api/records/yefns-5w079/files", "media_files":
        "https://repository.cern/api/records/yefns-5w079/media-files", "thumbnails":
        {"10": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:yefns-5w079:CERN-THESIS-2024-373.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/yefns-5w079/files-archive",
        "archive_media": "https://repository.cern/api/records/yefns-5w079/media-files-archive",
        "latest": "https://repository.cern/api/records/yefns-5w079/versions/latest",
        "latest_html": "https://repository.cern/records/yefns-5w079/latest", "versions":
        "https://repository.cern/api/records/yefns-5w079/versions", "draft": "https://repository.cern/api/records/yefns-5w079/draft",
        "access_links": "https://repository.cern/api/records/yefns-5w079/access/links",
        "access_grants": "https://repository.cern/api/records/yefns-5w079/access/grants",
        "access_users": "https://repository.cern/api/records/yefns-5w079/access/users",
        "access_groups": "https://repository.cern/api/records/yefns-5w079/access/groups",
        "access_request": "https://repository.cern/api/records/yefns-5w079/access/request",
        "access": "https://repository.cern/api/records/yefns-5w079/access", "communities":
        "https://repository.cern/api/records/yefns-5w079/communities", "communities-suggestions":
        "https://repository.cern/api/records/yefns-5w079/communities-suggestions",
        "requests": "https://repository.cern/api/records/yefns-5w079/requests"}, "revision_id":
        10, "parent": {"id": "q745x-n3w24", "access": {"owned_by": {"user": "40362"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d"], "default": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d",
        "entries": [{"id": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d", "created": "2025-05-14T16:07:31.996800+00:00",
        "updated": "2025-07-11T14:41:41.728373+00:00", "links": {}, "revision_id":
        8, "slug": "cern-research", "metadata": {"title": "CERN Research"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"oai": {"identifier": "oai:oai:repository.cern::yefns-5w079",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-thesis",
        "title": {"de": "Abschlussarbeit", "en": "Thesis"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Kravishvili, Elene", "given_name": "Elene",
        "family_name": "Kravishvili", "identifiers": [{"identifier": "2883552", "scheme":
        "lcds"}]}, "affiliations": [{"name": "U ParisSaclay"}]}], "title": "Improved
        machine learning models for local optics corrections in the LHC triplet magnets",
        "publication_date": "2024-05-15", "subjects": [{"id": "Accelerators and Storage
        Rings", "subject": "Accelerators and Storage Rings", "scheme": "CERN"}], "contributors":
        [{"person_or_org": {"type": "personal", "name": "Carlier, F\u00e9lix", "given_name":
        "F\u00e9lix", "family_name": "Carlier"}, "role": {"id": "supervisor", "title":
        {"de": "SupervisorIn", "en": "Supervisor"}}}], "languages": [{"id": "eng",
        "title": {"en": "English"}}], "identifiers": [{"identifier": "2930101", "scheme":
        "lcds"}, {"identifier": "CERN-THESIS-2024-373", "scheme": "cds_ref"}], "description":
        "The thesis aims to develop a beam optimization process in LHC, particularly
        the correction of the triplet magnet at each interaction point. This study
        will construct a machine learning algorithm to predict the quadrupole field
        errors around IPs, making the correction process more precise and efficient.
        The models include two types of features: phase advances and \u03b2-beating
        around IPs. The impact that each feature has on precise predictions wi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-03-01T00%3A00%3A00+TO+2025-04-16T00%3A00%3A00%5D&page=1&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"id": "6edtq-s2r07", "created": "2025-03-19T10:34:50.776621+00:00",
        "updated": "2025-03-19T10:34:51.047861+00:00", "links": {"self": "https://repository.cern/api/records/6edtq-s2r07",
        "self_html": "https://repository.cern/records/6edtq-s2r07", "preview_html":
        "https://repository.cern/records/6edtq-s2r07?preview=1", "doi": "https://doi.org/10.17181/6edtq-s2r07",
        "self_doi": "https://doi.org/10.17181/6edtq-s2r07", "self_doi_html": "https://repository.cern/doi/10.17181/6edtq-s2r07",
        "reserve_doi": "https://repository.cern/api/records/6edtq-s2r07/draft/pids/doi",
        "parent": "https://repository.cern/api/records/5gd08-dmd71", "parent_html":
        "https://repository.cern/records/5gd08-dmd71", "parent_doi": "https://doi.org/10.17181/5gd08-dmd71",
        "parent_doi_html": "https://repository.cern/doi/10.17181/5gd08-dmd71", "self_iiif_manifest":
        "https://repository.cern/api/iiif/record:6edtq-s2r07/manifest", "self_iiif_sequence":
        "https://repository.cern/api/iiif/record:6edtq-s2r07/sequence/default", "files":
        "https://repository.cern/api/records/6edtq-s2r07/files", "media_files": "https://repository.cern/api/records/6edtq-s2r07/media-files",
        "thumbnails": {"10": "https://repository.cern/api/iiif/record:6edtq-s2r07:Note_RcAFBcRsAFBs[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-05-09T00%3A00%3A00+TO+2025-05-14T18%3A00%3A00%5D&page=1&size=1
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"access_status":
        {"buckets": [], "label": "Access status"}, "file_type": {"buckets": [], "label":
        "File type"}, "resource_type": {"buckets": [], "label": "Resource types"}},
        "sortBy": "bestmatch", "links": {"self": "https://repository.cern/api/records?page=1&q=updated%3A%5B2025-05-09T00%3A00%3A00%20TO%202025-05-14T18%3A00%3A00%5D&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '35'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '125'
      x-ratelimit-reset:
      - '1756813282'
    status:
      code: 200
      message: OK
[...]
