interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.cern.ch/oai2d?set=cerncds%3Aatlas-pub&from=2026-02-24&metadataPrefix=marcxml&until=2026-04-14&verb=ListRecords
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"http://cds.cern.ch/css/oai2.xsl.v1.0\" ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n<responseDate>2026-04-14T08:54:08Z</responseDate><request
        from=\"2026-02-24\" verb=\"ListRecords\" set=\"cerncds:atlas-pub\" metadataPrefix=\"marcxml\"
        until=\"2026-04-14\">http://cds.cern.ch/oai2d</request><ListRecords>\n<record><header><identifier>oai:cds.cern.ch:2956726</identifier><datestamp>2026-03-13T23:07:06Z</datestamp><setSpec>cerncds:FULLTEXT</setSpec><setSpec>cerncds:atlas-pub</setSpec></header><metadata><marc:record
        xmlns:marc=\"http://www.loc.gov/MARC21/slim\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/MARC21/slim http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd\"
        type=\"Bibliographic\">\n     <marc:leader>00000coc  2200000uu 4500</marc:leader>\n
        \ <marc:controlfield tag=\"001\">2956726</marc:controlfield>\n  <marc:controlfield
        tag=\"005\">20260314000706.0</marc:controlfield>\n  <marc:datafield tag=\"024\"
        ind1=\"8\" ind2=\" \">\n    <marc:subfield code=\"a\">oai:cds.cern.ch:2956726</marc:subfield>\n
        \   <marc:subfield code=\"p\">cerncds:FULLTEXT</marc:subfield>\n    <marc:subfield
        code=\"p\">cerncds:atlas-pub</marc:subfield>\n  </marc:datafield>\n  <marc:datafield
        tag=\"037\" ind1=\" \" ind2=\" \">\n    <marc:subfield code=\"a\">ATL-PHYS-PUB-2026-002</marc:subfield>\n
        \ </marc:datafield>\n  <marc:datafield tag=\"041\" ind1=\" \" ind2=\" \">\n
        \   <marc:subfield code=\"a\">eng</marc:subfield>\n  </ma[...]
- request:
    body: '{"data": {"public_notes": [{"source": "CDS", "value": "All figures including
      auxiliary figures are available at https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-PHYS-PUB-2026-002"}],
      "document_type": ["note"], "_collections": ["Literature"], "core": true, "report_numbers":
      [{"source": "CDS", "value": "ATL-PHYS-PUB-2026-002"}, {"hidden": true, "source":
      "CDS", "value": "ATL-COM-PHYS-2025-853"}], "corporate_author": ["The ATLAS collaboration"],
      "titles": [{"source": "CDS", "title": "Expected Transformer-Network-based jet
      flavour tagging performance with the ATLAS Inner Tracker Detector at the High-Luminosity
      LHC"}], "imprints": [{"date": "2026"}], "abstracts": [{"source": "CDS", "value":
      "As the ATLAS experiment prepares for the High-Luminosity LHC era, the latest
      advancements in flavour-tagging algorithms are essential for optimising the
      performance of the upgraded Run 4 detector. This note presents the first GN2
      performance results, specifically optimised for the upcoming ATLAS Inner Tracker
      (ITk). The GN2 algorithm, a novel transformer-based approach, delivers significant
      improvements in jet flavour identification. Using simulated datasets of $t\\bar{t}$
      and $Z^\\prime$ events, we demonstrate GN2\u2019s significant rejection power
      for both light- and charm-jet backgrounds. The GN2 performance obtained with
      Run 4 detector simulation is compared with the performance of the GN2 algorithm
      tuning for the Run 3 detector. Similar performance is achieved in the $t\\bar{t}$
      $p_{\\text{T}}$ regime, while the light-jet rejection can be improved by up
      to a factor 40 in the high-$p_{\\text{T}}$ regime. The new ITk detector extends
      in addition the $b$-tagging acceptance in the region $2.5<|\\eta|<4.0$. This
      work establishes GN2 as a critical component for Run 4, setting a new standard
      for robustness and accuracy in flavour-tagging at the HL-LHC."}], "inspire_categories":
      [{"term": "Experiment-HEP", "source": "cds"}], "keywords": [{"source": "CERN",
      "value": "BTAGGING"}, {"source": "CERN", "value": "FUTURE"}], "accelerator_experiments":
      [{"legacy_name": "CERN-LHC-ATLAS"}], "collaborations": [{"value": "ATLAS"}],
      "documents": [{"key": "ATL-PHYS-PUB-2026-002.pdf", "url": "http://cds.cern.ch/record/2956726/files/ATL-PHYS-PUB-2026-002.pdf",
      "source": "CDS"}], "external_system_identifiers": [{"schema": "CDS", "value":
      "2956726"}], "$schema": "hep.json", "curated": true, "acquisition_source": {"source":
      "CDS", "method": "hepcrawl", "datetime": "2026-04-14T08:54:08.641368", "submission_number":
      "__airflow_temporary_run_2026-04-14T08:54:05.920210+00:00__"}}, "workflow_type":
      "HEP_PUBLISHER_CREATE"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://host.docker.internal:8001/api/workflows/literature/
  response:
    body:
      string: "{\"id\":\"7437ccea-f670-4048-ba21-e769f1d7a04a\",\"data\":{\"public_notes\":[{\"source\":\"CDS\",\"value\":\"All
        figures including auxiliary figures are available at https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-PHYS-PUB-2026-002\"}],\"document_type\":[\"note\"],\"_collections\":[\"Literature\"],\"core\":true,\"report_numbers\":[{\"source\":\"CDS\",\"value\":\"ATL-PHYS-PUB-2026-002\"},{\"hidden\":true,\"source\":\"CDS\",\"value\":\"ATL-COM-PHYS-2025-853\"}],\"corporate_author\":[\"[...]
[...]
