interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-12-10T00%3A00%3A00+TO+2025-12-12T00%3A00%3A00%5D&page=1&size=50&sort=newest
  response:
    body:
      string: '{"hits": {"hits": [{"id": "ytsq4-4rb40", "created": "2025-12-11T08:16:45.787674+00:00",
        "updated": "2025-12-11T08:16:46.527565+00:00", "links": {"self": "https://repository.cern/api/records/ytsq4-4rb40",
        "self_html": "https://repository.cern/records/ytsq4-4rb40", "preview_html":
        "https://repository.cern/records/ytsq4-4rb40?preview=1", "reserve_doi": "https://repository.cern/api/records/ytsq4-4rb40/draft/pids/doi",
        "parent": "https://repository.cern/api/records/nnraz-way02", "parent_html":
        "https://repository.cern/records/nnraz-way02", "self_iiif_manifest": "https://repository.cern/api/iiif/record:ytsq4-4rb40/manifest",
        "self_iiif_sequence": "https://repository.cern/api/iiif/record:ytsq4-4rb40/sequence/default",
        "files": "https://repository.cern/api/records/ytsq4-4rb40/files", "media_files":
        "https://repository.cern/api/records/ytsq4-4rb40/media-files", "thumbnails":
        {"10": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:ytsq4-4rb40:CERN_Summer_Student_Report_Federico_Perez.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/ytsq4-4rb40/files-archive",
        "archive_media": "https://repository.cern/api/records/ytsq4-4rb40/media-files-archive",
        "latest": "https://repository.cern/api/records/ytsq4-4rb40/versions/latest",
        "latest_html": "https://repository.cern/records/ytsq4-4rb40/latest", "versions":
        "https://repository.cern/api/records/ytsq4-4rb40/versions", "draft": "https://repository.cern/api/records/ytsq4-4rb40/draft",
        "access_links": "https://repository.cern/api/records/ytsq4-4rb40/access/links",
        "access_grants": "https://repository.cern/api/records/ytsq4-4rb40/access/grants",
        "access_users": "https://repository.cern/api/records/ytsq4-4rb40/access/users",
        "access_groups": "https://repository.cern/api/records/ytsq4-4rb40/access/groups",
        "access_request": "https://repository.cern/api/records/ytsq4-4rb40/access/request",
        "access": "https://repository.cern/api/records/ytsq4-4rb40/access", "communities":
        "https://repository.cern/api/records/ytsq4-4rb40/communities", "communities-suggestions":
        "https://repository.cern/api/records/ytsq4-4rb40/communities-suggestions",
        "request_deletion": "https://repository.cern/api/records/ytsq4-4rb40/request-deletion",
        "requests": "https://repository.cern/api/records/ytsq4-4rb40/requests"}, "revision_id":
        5, "parent": {"id": "nnraz-way02", "access": {"owned_by": {"user": "56597"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["479178e3-5db9-426b-be8c-4a33317098e3"], "default": "479178e3-5db9-426b-be8c-4a33317098e3",
        "entries": [{"id": "479178e3-5db9-426b-be8c-4a33317098e3", "created": "2024-12-03T14:34:24.553980+00:00",
        "updated": "2025-08-27T11:20:13.504930+00:00", "links": {}, "revision_id":
        8, "slug": "summer-student-programme", "metadata": {"title": "Summer Student
        Programme", "website": "https://careers.cern/summer"}, "access": {"visibility":
        "public", "members_visibility": "public", "member_policy": "open", "record_submission_policy":
        "open", "review_policy": "closed"}, "deletion_status": {"is_deleted": false,
        "status": "P"}, "children": {"allow": false}}]}, "pids": {}}, "versions":
        {"is_latest": true, "index": 1}, "is_published": true, "is_draft": false,
        "pids": {"oai": {"identifier": "oai:oai:repository.cern::ytsq4-4rb40", "provider":
        "oai"}}, "metadata": {"resource_type": {"id": "publication-report", "title":
        {"cs": "Zpr\u00e1va", "de": "Bericht", "en": "Report", "sv": "Rapport"}},
        "creators": [{"person_or_org": {"type": "personal", "name": "Perez Moran,
        Federico", "given_name": "Federico", "family_name": "Perez Moran", "identifiers":
        [{"identifier": "0009-0002-9167-5478", "scheme": "orcid"}]}, "role": {"id":
        "researcher", "title": {"de": "WissenschaftlerIn", "en": "Researcher"}}},
        {"person_or_org": {"type": "personal", "name": "Pari, Michelangelo", "given_name":
        "Michelangelo", "family_name": "Pari", "identifiers": [{"identifier": "0000-0002-1852-9549",
        "scheme": "orcid"}]}, "role": {"id": "supervisor", "title": {"de": "SupervisorIn",
        "en": "Supervisor"}}}], "title": "CMS Phase 2 Inner Tracker Luminosity: Test
        Beam Developments", "publisher": "CERN", "publication_date": "2025-11-11",
        "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative Commons Attribution
        4.0 International"}, "description": {"en": "The Creative Commons Attribution
        license allows re-distribution and re-use of a licensed work on the condition
        that the creator is appropriately credited."}, "icon": "cc-by-icon", "props":
        {"url": "https://creativecommons.org/licenses/by/4.0/legalcode", "scheme":
        "spdx"}}], "description": "<p>This project integrates multiple aspects of
        test beam preparation for the CMS-BRIL Phase 2 project at CERN Proton Synchrotron.
        This includes the calibration of CROC boards, preparation of triggering signals,
        and the development of a remote monitoring and control system. The latter
        is software implemented to unify power supply control and environmental monitoring
        into a user-friendly platform, enabling reliable operation of sensitive electronics
        under beam conditions. The full system was successfully tested during the
        measurements campaign: from long-term environmental monitoring, power supply
        control, calibration, and triggering performance. &nbsp;Overall, the work
        bridged instrumentation, software, and detector physics, while establishing
        a foundation for future improvements and broader application in test beam
        environments.</p>"}, "custom_fields": {"cern:experiments": [{"id": "CMS",
        "title": {"en": "CMS"}}], "cern:departments": [{"id": "EP", "title": {"en":
        "EP"}}], "cern:accelerators": [{"id": "CERN PS", "title": {"en": "CERN PS"}}],
        "cern:beams": [{"id": "T9", "title": {"en": "T9"}}], "cern:programmes": {"id":
        "None", "title": {"en": "No program participation"}}}, "access": {"record":
        "public", "files": "public", "embargo": {"active": false, "reason": null},
        "status": "open"}, "files": {"enabled": true, "order": [], "count": 1, "total_bytes":
        3633958, "entries": {"CERN_Summer_Student_Report_Federico_Perez.pdf": {"id":
        "d9d5752e-1ae3-42cd-a3ec-2eb0a6e89cff", "checksum": "md5:00445b450425863762c9e54d55702a7a",
        "ext": "pdf", "size": 3633958, "mimetype": "application/pdf", "key": "CERN_Summer_Student_Report_Federico_Perez.pdf",
        "metadata": {"width": 612, "height": 792}, "access": {"hidden": false}}}},
        "media_files": {"enabled": false, "order": [], "count": 0, "total_bytes":
        0, "entries": {}}, "status": "published", "deletion_status": {"is_deleted":
        false, "status": "P"}, "stats": {"this_version": {"views": 9, "unique_views":
        7, "downloads": 18, "unique_downloads": 9, "data_volume": 65411244.0}, "all_versions":
        {"views": 9, "unique_views": 7, "downloads": 18, "unique_downloads": 9, "data_volume":
        65411244.0}}}, {"id": "yc734-xhf34", "created": "2025-12-09T07:00:13.208102+00:00",
        "updated": "2025-12-11T11:41:13.577083+00:00", "links": {"self": "https://repository.cern/api/records/yc734-xhf34",
        "self_html": "https://repository.cern/records/yc734-xhf34", "preview_html":
        "https://repository.cern/records/yc734-xhf34?preview=1", "reserve_doi": "https://repository.cern[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=latex-eu","latex-us":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=latex-us","json":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&fields=control_number&format=json","json-expanded":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=json-expanded","cv":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=cv"}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <self>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&fields=control_number",
        <bibtex>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&fields=control_number&format=json",
        <json-expanded>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=json-expanded",
        <cv>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2c3q1-hgy74+OR+dois.value%3A10.17181%2F3ed9j-02w05&size=10&page=1&format=cv"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F2qm5n-sw073+OR+dois.value%3A10.17181%2Fb8npb-wdm66&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F2qm5n-sw073+OR+dois.value%3A10.17181%2Fb8npb-wdm66&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Fb366p-r5986+OR+dois.value%3A10.17181%2Fypzc7-jfb10&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fb366p-r5986+OR+dois.value%3A10.17181%2Fypzc7-jfb10&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Frypsm-54p41+OR+dois.value%3A10.17181%2Ft8fp2-5sj97&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Frypsm-54p41+OR+dois.value%3A10.17181%2Ft8fp2-5sj97&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.53846%2Fgoediss-11659&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.53846%2Fgoediss-11659&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.53846%2Fgoediss-11659&size=10&page=1&format=bibtex","latex-e[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Frag51-82606+OR+dois.value%3A10.17181%2Fsg9f9-zhx46&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Frag51-82606+OR+dois.value%3A10.17181%2Fsg9f9-zhx46&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F9222j-bdb22+OR+dois.value%3A10.17181%2Fy4kbg-re896&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F9222j-bdb22+OR+dois.value%3A10.17181%2Fy4kbg-re896&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F4hwpp-czh65+OR+dois.value%3A10.17181%2Fhrcbz-s8g09&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F4hwpp-czh65+OR+dois.value%3A10.17181%2Fhrcbz-s8g09&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F5mh4r-v4q20+OR+dois.value%3A10.17181%2Fqxd8c-3yd13&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F5mh4r-v4q20+OR+dois.value%3A10.17181%2Fqxd8c-3yd13&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Ff5qbf-mf533+OR+dois.value%3A10.17181%2Fzxvyb-qd185&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Ff5qbf-mf533+OR+dois.value%3A10.17181%2Fzxvyb-qd185&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F8whrn-9w068+OR+dois.value%3A10.17181%2Ffatsh-63325&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F8whrn-9w068+OR+dois.value%3A10.17181%2Ffatsh-63325&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F5adaj-14c46+OR+dois.value%3A10.17181%2F82xfq-h0h57&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F5adaj-14c46+OR+dois.value%3A10.17181%2F82xfq-h0h57&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=control_number%3A2971304+OR+dois.value%3A10.17181%2Fa3vr8-66r31+OR+dois.value%3A10.17181%2Fd2hrz-4wy90&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=control_number%3A2971304+OR+dois.value%3A10.17181%2Fa3vr8-66r31+OR+dois.value%3A10.17181%2Fd2hrz-4wy90&size=10&page=1&fields=control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.21248%2Fgups.94367&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.21248%2Fgups.94367&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.21248%2Fgups.94367&size=10&page=1&format=bibtex","latex-eu":"http:[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F90nsk-ch237+OR+dois.value%3A10.17181%2Fp96fq-gx318&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F90nsk-ch237+OR+dois.value%3A10.17181%2Fp96fq-gx318&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=control_number%3A3083060&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=control_number%3A3083060&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=control_number%3A3083060&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literatur[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=control_number%3A3087815+OR+dois.value%3A10.17181%2F1fjde-fjr90+OR+dois.value%3A10.17181%2Fy00kk-mss34&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=control_number%3A3087815+OR+dois.value%3A10.17181%2F1fjde-fjr90+OR+dois.value%3A10.17181%2Fy00kk-mss34&size=10&page=1&fields=control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Fbvrwn-a8g06+OR+dois.value%3A10.17181%2Fges5f-65889&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fbvrwn-a8g06+OR+dois.value%3A10.17181%2Fges5f-65889&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=control_number%3A3087814&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[{"links":{"bibtex":"http://localhost:8000/api/literature/3087814?format=bibtex","latex-eu":"http://localhost:8000/api/literature/3087814?format=latex-eu","latex-us":"http://localhost:8000/api/literature/3087814?format=latex-us","json":"http://localhost:8000/api/literature/3087814?format=json","json-expanded":"http://localhost:8000/api/literature/3087814?format=json-expanded","cv":"http://localhost:8000/api/literature/3087814?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A3087814"},"id":"3087814","updated":"2025-12-12T12:24:18.826670+00:00","created":"2025-12-12T12:24:18.826667+00:00","metadata":{"control_number":3087814}}],"total":1},"links":{"self":"http://localhost:8000/api/literature/?q=control_number%3A3087814&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=control_number%3A3087814&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literature/?q=control_number%3A3087814&size=10&page=1&format=latex-eu","latex-us":"http://localhost:8000/api/literature/?q=control_number%3A3087814&size=10&page=1&format=latex-us","json":"http://localhost:8000/api/l[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature/3087814
  response:
    body:
      string: '{"links":{"bibtex":"http://localhost:8000/api/literature/3087814?format=bibtex","latex-eu":"http://localhost:8000/api/literature/3087814?format=latex-eu","latex-us":"http://localhost:8000/api/literature/3087814?format=latex-us","json":"http://localhost:8000/api/literature/3087814?format=json","json-expanded":"http://localhost:8000/api/literature/3087814?format=json-expanded","cv":"http://localhost:8000/api/literature/3087814?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A3087814"},"id":"3087814","revision_id":0,"updated":"2025-12-12T12:24:18.826670+00:00","uuid":"067a26e8-2490-4ca1-8364-ef994132bd68","created":"2025-12-12T12:24:18.826667+00:00","metadata":{"core":false,"self":{"$ref":"http://localhost:8000/api/literature/3087814"},"titles":[{"title":"The
        fix of cds rdm","source":"submitter"}],"$schema":"https://inspirehep.net/schemas/records/hep.json","_collections":["Literature"],"document_type":["article"],"control_number":3087814}}'
    headers:
      Content-Type:
      - application/vnd+inspire.record.raw+json
      ETag:
      - W/"0"
      Last-Modified:
      - Fri, 12 Dec 2025 12:24:18 GMT
      Link:
      - <bibtex>; rel="http://localhost:8000/api/literature/3087814?format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/3087814?format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/3087814?format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/3087814?format=json", <json-expanded>;
        rel="http://localhost:8000/api/literature/3087814?format=json-expanded", <cv>;
        rel="http://localhost:8000/api/literature/3087814?format=cv", <citations>;
        rel="http://localhost:8000/api/literature/?q=refersto%3Arecid%3A3087814"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Ft09rd-9dz33+OR+dois.value%3A10.17181%2Fzs38z-g1319&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Ft09rd-9dz33+OR+dois.value%3A10.17181%2Fzs38z-g1319&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2F6825n-knr50+OR+dois.value%3A10.17181%2Fy7hyf-vjw13&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2F6825n-knr50+OR+dois.value%3A10.17181%2Fy7hyf-vjw13&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=do[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=control_number%3A1743143+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2019-262%22+OR+report_numbers.value.fuzzy%3A%22DESY-THESIS-2019-011%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=control_number%3A1743143+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2019-262%22+OR+report_num[...]
- request:
    body: '{"core": false, "self": {"$ref": "http://localhost:8000/api/literature/3087814"},
      "titles": [{"title": "The fix of cds rdm", "source": "submitter"}], "$schema":
      "https://inspirehep.net/schemas/records/hep.json", "_collections": ["Literature"],
      "document_type": ["article"], "control_number": 3087814, "external_system_identifiers":
      [{"schema": "CDSRDM", "value": "1849g-prn51"}]}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0"'
    method: PUT
    uri: http://host.docker.internal:8080/api/literature/3087814
  response:
    body:
      string: '{"links":{"bibtex":"http://localhost:8000/api/literature/3087814?format=bibtex","latex-eu":"http://localhost:8000/api/literature/3087814?format=latex-eu","latex-us":"http://localhost:8000/api/literature/3087814?format=latex-us","json":"http://localhost:8000/api/literature/3087814?format=json","json-expanded":"http://localhost:8000/api/literature/3087814?format=json[...]
