interactions:
- request:
    body: '{"ticket_id": "4b451fa0870a561095f833340cbb3595", "template": "user_accepted_author",
      "template_context": {"user_name": "micha.moshe.moskovic@cern.ch", "author_name":
      "Third B", "record_url": "https://inspirebeta.net/authors/12345"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inspirebeta.net/api/tickets/resolve
  response:
    body:
      string: '{"message":"Ticket resolved"}

        '
    headers:
      content-type:
      - application/json
      x-proxy-backend:
      - inspire-qa_hep-web_http
    status:
      code: 200
      message: OK
version: 1
