interactions:
- request:
    body: '{"functional_category": "Author curation", "template": "curation_needed_author",
      "subject": "Curation needed for author Third B ", "template_context": {"email":
      "micha.moshe.moskovic@cern.ch", "record_url": "https://inspirebeta.net/authors/12345"},
      "caller_email": "micha.moshe.moskovic@cern.ch"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inspirebeta.net/api/tickets/create
  response:
    body:
      string: '{"ticket_id":"94c0745e870e1250225886640cbb3509","ticket_url":"https://cerntraining.service-now.com/nav_to.do?uri=/u_request_fulfillment.do?sys_id=94c0745e870e1250225886640cbb3509"}

        '
    headers:
      content-type:
      - application/json
      x-proxy-backend:
      - inspire-qa_hep-web_http
    status:
      code: 200
      message: OK
- request:
    body: '{"ticket_type": "author_create_curation", "ticket_id": "94c0745e870e1250225886640cbb3509",
      "workflow": "00000000-0000-0000-0000-000000001521"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://host.docker.internal:8001/api/workflows/authors/tickets/
  response:
    body:
      string: '{"id":2,"ticket_url":"https://cerntraining.service-now.com/nav_to.do?uri=/u_request_fulfillment.do?sys_id=94c0745e870e1250225886640cbb3509","workflow":"00000000-0000-0000-0000-000000001521","ticket_id":"94c0745e870e1250225886640cbb3509","ticket_type":"author_create_curation","_created_at":"2024-11-25T14:03:46.470233Z","_updated_at":"2024-11-25T14:03:46.470241Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
