interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://arxiv.org/pdf/2412.13417
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n<meta charset=\"utf-8\"/>\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<!--
        new favicon config and versions by realfavicongenerator.net -->\n<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"/static/base/1.0.1/images/icons/apple-touch-icon.png\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/static/base/1.0.1/images/icons/favicon-32x32.png\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/static/base/1.0.1/images/icons/favicon-16x16.png\">\n<link
        rel=\"manifest\" href=\"/static/base/1.0.1/images/icons/site.webmanifest\">\n<link
        rel=\"mask-icon\" href=\"/static/base/1.0.1/images/icons/safari-pinned-tab.svg\"
        color=\"#b31b1b\">\n<link rel=\"shortcut icon\" href=\"/static/base/1.0.1/images/icons/favicon.ico\">\n<meta
        name=\"msapplication-TileColor\" content=\"#b31b1b\">\n<meta name=\"msapplication-config\"
        content=\"images/icons/browserconfig.xml\">\n<meta name=\"theme-color\" content=\"#b31b1b\">\n<!--
        end favicon config -->\n<title> | arXiv e-print repository</title>\n<script
        defer src=\"/static/base/1.0.1/fontawesome-free-5.11.2-web/js/all.js\"></script>\n<link
        rel=\"stylesheet\" href=\"/static/base/1.0.1/css/arxivstyle.css\" />\n<script
        type=\"text/x-mathjax-config\">\n  MathJax.Hub.Config({\n    messageStyle:
        \"none\",\n    extensions: [\"tex2jax.js\"],\n    jax: [\"input/TeX\", \"output/HTML-CSS\"],\n
        \   tex2jax: {\n      inlineMath: [ ['$','$'], [\"\\\\(\",\"\\\\)\"] ],\n
        \     displayMath: [ ['$$','$$'], [\"\\\\[\",\"\\\\]\"] ],\n      processEscapes:
        true,\n      ignoreClass: '.*',\n      processClass: 'mathjax.*'\n    },\n
        \   TeX: {\n        extensions: [\"AMSmath.js\", \"AMSsymbols.js\", \"noErrors.js\"],\n
        \       noErrors: {\n          inlineDelimiters: [\"$\",\"$\"],\n          multiLine:
        false,\n          style: {\n            \"font-size\": \"normal\",\n            \"border\":
        \"\"\n          }\n        }\n    },\n    \"HTML-CSS\": { availableFonts:
        [\"TeX\"] }\n  });\n</script>\n<script src='//static.arxiv.org/MathJax-2.7.3/MathJax.js'></script>\n<script
        src=\"/static/base/1.0.1/js/notification.js\"></script>\n  </head>\n  <body>\n
        \ <header><a href=\"#main-container\" class=\"is-sr-only\">Skip to main content</a>\n<!--
        contains Cornell logo and sponsor statement -->\n<div class=\"attribution
        level is-marginless\" role=\"banner\">\n  <div class=\"level-left\">\n    <a
        class=\"level-item\" href=\"https://cornell.edu/\"><img src=\"/static/base/1.0.1/images/cornell-reduced-white-SMALL.svg\"
        alt=\"Cornell University\" width=\"200\" aria-label=\"logo\" /></a>\n  </div>\n
        \ <div class=\"level-right is-marginless\"><p class=\"sponsors level-item
        is-marginless\"><span id=\"support-ack-url\">We gratefully acknowledge support
        from<br /> the Simons Foundation, <a href=\"https://info.arxiv.org/about/ourmembers.html\">member
        institutions</a>, and all contributors. <a href=\"https://info.arxiv.org/about/donate.html\">Donate</a></span></p></div>\n</div>\n<!--
        contains arXiv identity and search bar -->\n<div class=\"identity level is-marginless\">\n
        \ <div class=\"level-left\">\n    <div class=\"level-item\">\n      <a class=\"arxiv\"
        href=\"https://arxiv.org/\" aria-label=\"arxiv-logo\">\n        <img src=\"/static/base/1.0.1/images/arxiv-logo-one-color-white.svg\"
        aria-label=\"logo\" alt=\"arxiv logo\" width=\"85\" style=\"width:85px;\"/>\n
        \     </a>\n    </div>\n  </div>\n    <div class=\"search-block level-right\">\n
        \   <form class=\"level-item mini-search\" method=\"GET\" action=\"https://arxiv.org/search\">\n
        \     <div class=\"field has-addons\">\n        <div class=\"control\">\n
        \         <input class=\"input is-small\" type=\"text\" name=\"query\" placeholder=\"Search...\"
        aria-label=\"Search term or terms\" />\n          <p class=\"help\"><a href=\"https://info.arxiv.org/help\">Help</a>
        | <a href=\"https://arxiv.org/search/advanced\">Advanced Search</a></p>\n
        \       </div>\n        <div class=\"control\">\n          <div class=\"select
        is-small\">\n            <select name=\"searchtype\" aria-label=\"Field to
        search\">\n              <option value=\"all\" selected=\"selected\">All fields</option>\n
        \             <option value=\"title\">Title</option>\n              <option
        value=\"author\">Author</option>\n              <option value=\"abstract\">Abstract</option>\n
        \             <option value=\"comments\">Comments</option>\n              <option
        value=\"journal_ref\">Journal reference</option>\n              <option value=\"acm_class\">ACM
        classification</option>\n              <option value=\"msc_class\">MSC classification</option>\n
        \             <option value=\"report_num\">Report number</option>\n              <option
        value=\"paper_id\">arXiv identifier</option>\n              <option value=\"doi\">DOI</option>\n
        \             <option value=\"orcid\">ORCID</option>\n              <option
        value=\"author_id\">arXiv author ID</option>\n              <option value=\"help\">Help
        pages</option>\n              <option value=\"full_text\">Full text</option>\n
        \           </select>\n          </div>\n        </div>\n        <input type=\"hidden\"
        name=\"source\" value=\"header\">\n        <button class=\"button is-small
        is-cul-darker\">Search</button>\n      </div>\n    </form>\n  </div>\n</div>
        <!-- closes identity -->\n\n<div class=\"container\">\n    <div class=\"user-tools
        is-size-7 has-text-right has-text-weight-bold\" role=\"navigation\" aria-label=\"User
        menu\">\n<a href=\"https://arxiv.org/login\">Login</a>    </div>\n</div>  </header>\n
        \ <main class=\"container\" id=\"main-container\">\n<h1>This version of 2412.13417
        has been withdrawn and is unavailable</h1>\n<p>See <a href=\"/abs/2412.13417\">abstract</a>
        page for more details</p>  </main>\n  <footer>\n<div class=\"columns is-desktop\"
        role=\"navigation\" aria-label=\"Secondary\">\n  <!-- MetaColumn 1 -->\n  <div
        class=\"column\">\n    <div class=\"columns\">\n      <div class=\"column\">\n
        \       <ul class=\"nav-spaced\">\n          <li><a href=\"https://info.arxiv.org/about\">About</a></li>\n
        \         <li><a href=\"https://info.arxiv.org/help\">Help</a></li>\n        </ul>\n
        \     </div>\n      <div class=\"column\">\n        <ul class=\"nav-spaced\">\n
        \         <li>\n            <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0
        0 512 512\" class=\"icon filter-black\" role=\"presentation\"><title>contact
        arXiv</title><desc>Click here to contact arXiv</desc><path d=\"M502.3 190.8c3.9-3.1
        9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5
        5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6
        35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2
        73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5
        64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7
        16.8 12.2 50.2[...]
[...]
