interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-07-01T00%3A00%3A00+TO+2025-07-02T00%3A00%3A00%5D&page=1&size=1
  response:
    body:
      string: '{"hits": {"hits": [{"id": "q5qv7-mc268", "created": "2025-06-19T12:02:01.479746+00:00",
        "updated": "2025-07-01T07:33:21.875854+00:00", "links": {"self": "https://repository.cern/api/records/q5qv7-mc268",
        "self_html": "https://repository.cern/records/q5qv7-mc268", "preview_html":
        "https://repository.cern/records/q5qv7-mc268?preview=1", "doi": "https://doi.org/10.17181/q5qv7-mc268",
        "self_doi": "https://doi.org/10.17181/q5qv7-mc268", "self_doi_html": "https://repository.cern/doi/10.17181/q5qv7-mc268",
        "reserve_doi": "https://repository.cern/api/records/q5qv7-mc268/draft/pids/doi",
        "parent": "https://repository.cern/api/records/fsw28-b8s34", "parent_html":
        "https://repository.cern/records/fsw28-b8s34", "parent_doi": "https://doi.org/10.17181/fsw28-b8s34",
        "parent_doi_html": "https://repository.cern/doi/10.17181/fsw28-b8s34", "self_iiif_manifest":
        "https://repository.cern/api/iiif/record:q5qv7-mc268/manifest", "self_iiif_sequence":
        "https://repository.cern/api/iiif/record:q5qv7-mc268/sequence/default", "files":
        "https://repository.cern/api/records/q5qv7-mc268/files", "media_files": "https://repository.cern/api/records/q5qv7-mc268/media-files",
        "thumbnails": {"10": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:q5qv7-mc268:Serafim_Catarina_PhD_Dissertation_CERN_UnivHelsinki.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/q5qv7-mc268/files-archive",
        "archive_media": "https://repository.cern/api/records/q5qv7-mc268/media-files-archive",
        "latest": "https://repository.cern/api/records/q5qv7-mc268/versions/latest",
        "latest_html": "https://repository.cern/records/q5qv7-mc268/latest", "versions":
        "https://repository.cern/api/records/q5qv7-mc268/versions", "draft": "https://repository.cern/api/records/q5qv7-mc268/draft",
        "access_links": "https://repository.cern/api/records/q5qv7-mc268/access/links",
        "access_grants": "https://repository.cern/api/records/q5qv7-mc268/access/grants",
        "access_users": "https://repository.cern/api/records/q5qv7-mc268/access/users",
        "access_groups": "https://repository.cern/api/records/q5qv7-mc268/access/groups",
        "access_request": "https://repository.cern/api/records/q5qv7-mc268/access/request",
        "access": "https://repository.cern/api/records/q5qv7-mc268/access", "communities":
        "https://repository.cern/api/records/q5qv7-mc268/communities", "communities-suggestions":
        "https://repository.cern/api/records/q5qv7-mc268/communities-suggestions",
        "requests": "https://repository.cern/api/records/q5qv7-mc268/requests"}, "revision_id":
        11, "parent": {"id": "fsw28-b8s34", "access": {"owned_by": {"user": "17721"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d"], "default": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d",
        "entries": [{"id": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d", "created": "2025-05-14T16:07:31.996800+00:00",
        "updated": "2025-07-11T14:41:41.728373+00:00", "links": {}, "revision_id":
        8, "slug": "cern-research", "metadata": {"title": "CERN Research"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.17181/fsw28-b8s34", "provider": "datacite", "client":
        "datacite"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.17181/q5qv7-mc268",
        "provider": "datacite", "client": "datacite"}, "oai": {"identifier": "oai:oai:repository.cern::q5qv7-mc268",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-thesis",
        "title": {"de": "Abschlussarbeit", "en": "Thesis"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Palma Serafim, Catarina Filipa", "given_name":
        "Catarina Filipa", "family_name": "Palma Serafim"}, "affiliations": [{"id":
        "040af2s02", "name": "University of Helsinki", "identifiers": [{"identifier":
        "040af2s02", "scheme": "ror"}]}]}], "title": "Behavior of Metal Surfaces Exposed
        to High-Fluence Hydrogen Ion Irradiation in Vacuum Breakdown Conditions",
        "publisher": "University of Helsinki", "publication_date": "2025-05-31", "subjects":
        [{"id": "Engineering", "subject": "Engineering", "scheme": "CERN"}], "contributors":
        [{"person_or_org": {"type": "personal", "name": "Djurabekova, Flyura", "given_name":
        "Flyura", "family_name": "Djurabekova"}, "role": {"id": "supervisor", "title":
        {"de": "SupervisorIn", "en": "Supervisor"}}, "affiliations": [{"id": "040af2s02",
        "name": "University of Helsinki", "identifiers": [{"identifier": "040af2s02",
        "scheme": "ror"}]}]}, {"person_or_org": {"type": "personal", "name": "Calatroni,
        Sergio", "given_name": "Sergio", "family_name": "Calatroni"}, "role": {"id":
        "supervisor", "title": {"de": "SupervisorIn", "en": "Supervisor"}}, "affiliations":
        [{"id": "01ggx4157", "name": "European Organization for Nuclear Research",
        "identifiers": [{"identifier": "01ggx4157", "scheme": "ror"}]}]}], "languages":
        [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "2954-2952", "scheme": "issn"}, {"identifier": "http://hdl.handle.net/10138/595645",
        "scheme": "url"}, {"identifier": "978-952-84-0916-8", "scheme": "isbn"}, {"identifier":
        "978-952-84-0915-1", "scheme": "isbn"}], "description": "<p>Radio Frequency
        Quadrupoles (RFQs) operating in linear accelerators often face&nbsp;significant
        challenges in terms of surface degradation. Concerns are focused upon&nbsp;vacuum
        arcs or vacuum breakdowns, phenomena triggered by the exposure of the&nbsp;surfaces
        to high accelerating fields. Additionally, surface degradation in the form&nbsp;of
        blistering, caused by beam losses under hydrogen ion beam operation, exposes&nbsp;also
        a concern, not [...]
