interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.cern.ch/api/inspire2cdsids?since=2025-05-23
  response:
    body:
      string: '{"hits": [{"id": "2068505", "metadata": {"control_number": "2068505"}},
        {"id": "2069110", "metadata": {"control_number": "2069110"}}, {"id": "2074532",
        "metadata": {"control_number": "2074532"}}, {"id": "2075240", "metadata":
        {"control_number": "2075240"}}, {"id": "2079154", "metadata": {"control_number":
        "2079154"}}, {"id": "2079296", "metadata": {"control_number": "2079296"}},
        {"id": "2079732", "metadata": {"control_number": "2079732"}}, {"id": "2081404",
        "metadata": {"control_number": "2081404"}}, {"id[...]
