interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oaipmh.arxiv.org/oai?set=physics%3Ahep-th&from=2025-06-25&until=2025-06-26&metadataPrefix=arXiv&verb=ListRecords
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        \n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n    <responseDate>2025-06-27T07:46:38Z</responseDate>\n
        \               <request verb=\"ListRecords\" metadataPrefix=\"arXiv\" from=\"2025-06-25\"
        until=\"2025-06-26\" set=\"physics:hep-th\">http://oaipmh.arxiv.org/oai</request>\n\n\n
        \   <ListRecords>\n                    <record>\n                <header>\n
        \       <identifier>oai:arXiv.org:1608.06937</identifier>\n        <datestamp>2025-06-25</datestamp>\n
        \           <setSpec>physics:hep-ph</setSpec>\n            <setSpec>physics:hep-lat</setSpec>\n
        \           <setSpec>physics:hep-th</setSpec>\n    </header>\n\n            <metadata>\n
        \                       <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/ https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n
        \       <id>1608.06937</id>\n        <created>2016-08-24</created>\n            <updated>2025-06-25</updated>\n
        \       <authors>\n                <author>\n                    <keyname>Grosvenor</keyname>\n
        \                       <forenames>Kevin T.</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Horava</keyname>\n
        \                       <forenames>Petr</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Mogni</keyname>\n                        <forenames>Christopher
        J.</forenames>\n                </author>\n                <author>\n                    <keyname>Yan</keyname>\n
        \                       <forenames>Ziqi</forenames>\n                </author>\n
        \       </authors>\n        <title>Nonrelativistic Short-Distance Completions
        of a Naturally Light Higgs</title>\n            <categories>hep-ph hep-lat
        hep-th</categories>\n            <comments>6 pages</comments>\n            <journal-ref>Phys.Lett.
        B 868 (2025) 139665</journal-ref>\n            <doi>10.1016/j.physletb.2025.139665</doi>\n
        \           <license>http://arxiv.org/licenses/nonexclusive-distrib/1.0/</license>\n
        \           <abstract>Nonrelativistic scalar field theories can exhibit a
        natural cascading hierarchy of scales, protected by a hierarchy of polynomial
        shift symmetries. Using a simple model, we argue that a high-energy cross-over
        to such nonrelativistic behavior naturally leads to light scalars, and thus
        represents a useful ingredient for technically natural resolutions of scalar
        mass hierarchies, perhaps even the Higgs mass hierarchy puzzle.</abstract>\n
        \   </arXiv>\[...]
