interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.cern.ch/api/inspire2cdsids?since=2025-10-24
  response:
    body:
      string: '{"hits": [{"id": "66404", "metadata": {"report_numbers": [{"value":
        "CERN-LabII-CO-Operation-Note-1"}], "control_number": "66404"}}, {"id": "66473",
        "metadata": {"report_numbers": [{"value": "CERN-LabII-CO-CC-Int-Note-GB-74-48"}],
        "control_number": "66473"}}, {"id": "89496", "metadata": {"report_numbers":
        [{"value": "CERN-LabII-SI-75-737"}], "control_number": "89496"}}, {"id": "90028",
        "metadata": {"report_numbers": [{"value": "CERN-LabII-SI-73-652"}], "control_number":
        "90028"}}, {"id": "2056247", "metadata": {"other_ids": ["1395457"], "eprints":
        ["1509.09029"], "dois": [{"value": "10.1007/JHEP01(2016)006"}], "report_numbers":
        [{"value": "arXiv:1509.09029"}, {"value": "CMS-HIN-14-010"}, {"value": "CERN-PH-EP-2015-260"}],
        "control_number": "2056247"}}, {"id": "2058474", "metadata": {"other_ids":
        ["1397173"], "eprints": ["1510.03068"], "dois": [{"value": "10.1103/PhysRevLett.116.172302"}],
        "report_numbers": [{"value": "arXiv:1510.03068"}, {"value": "CMS-FSQ-15-002"},
        {"value": "CERN-PH-EP-2015-271"}], "control_number": "20[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=latex-eu","latex-us":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=latex-us","json":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&fields=control_number&format=json","json-expanded":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=json-expanded","cv":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=cv"}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <self>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&fields=control_number",
        <bibtex>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&fields=control_number&format=json",
        <json-expanded>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=json-expanded",
        <cv>; rel="http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-Operation-Note-1%22&size=10&page=1&format=cv"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-CC-Int-Note-GB-74-48%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-CO-CC-Int-Note-GB-74-48%22&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=report_numbe[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=report_numbers.value.fuzzy%3A%22CERN-LabII-SI-75-737%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-LabII-SI-75-737%22&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=report_numbers.value.fuzzy%3A%22CERN-Lab[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1509.09029+OR+control_number%3A1395457+OR+dois.value%3A10.1007%2FJHEP01%282016%29006+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-260%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-14-010%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[{"updated":"2025-10-24T08:27:38.976359+00:00","links":{"bibtex":"http://localhost:8000/api/literature/1675004?format=bibtex","latex-eu":"http://localhost:8000/api/literature/1675004?format=latex-eu","latex-us":"http://localhost:8000/api/literature/1675004?format=latex-us","json":"http://localhost:8000/api/literature/1675004?format=json","json-expanded":"http://localhost:8000/api/literature/1675004?format=json-expanded","cv":"http://localhost:8000/api/literature/1675004?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675004"},"created":"2025-10-24T08:27:38.976357+00:00","metadata":{"control_number":1675004},"id":"1675004"}],"total":1},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1509.09029+OR+control_number%3A1395457+OR+dois.value%3A10.1007%2FJHEP01(2016)006+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-260%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-14-010%22&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=arxiv%3A1509.09029+OR+control_number%3A1395457+OR+dois[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature/1675004
  response:
    body:
      string: '{"updated":"2025-10-24T08:27:38.976359+00:00","links":{"bibtex":"http://localhost:8000/api/literature/1675004?format=bibtex","latex-eu":"http://localhost:8000/api/literature/1675004?format=latex-eu","latex-us":"http://localhost:8000/api/literature/1675004?format=latex-us","json":"http://localhost:8000/api/literature/1675004?format=json","json-expanded":"http://localhost:8000/api/literature/1675004?format=json-expanded","cv":"http://localhost:8000/api/literature/1675004?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675004"},"created":"2025-10-24T08:27:38.976357+00:00","metadata":{"core":false,"dois":[{"value":"10.1007/JHEP01(2016)006","source":"submitter"}],"self":{"$ref":"http://localhost:8000/api/literature/1675004"},"titles":[{"title":"The
        testing of cds tasks","source":"submitter"}],"$schema":"https://inspirehep.net/schemas/records/hep.json","_collections":["Literature"],"document_type":["article"],"control_number":1675004},"uuid":"5237bc3f-8a1b-4ac3-8c21-a65e78d0a8b2","revision_id":0,"id":"1675004"}'
    headers:
      Content-Type:
      - application/vnd+inspire.record.raw+json
      ETag:
      - W/"0"
      Last-Modified:
      - Fri, 24 Oct 2025 08:27:38 GMT
      Link:
      - <bibtex>; rel="http://localhost:8000/api/literature/1675004?format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/1675004?format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/1675004?format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/1675004?format=json", <json-expanded>;
        rel="http://localhost:8000/api/literature/1675004?format=json-expanded", <cv>;
        rel="http://localhost:8000/api/literature/1675004?format=cv", <citations>;
        rel="http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675004"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1510.03068+OR+control_number%3A1397173+OR+dois.value%3A10.1103%2FPhysRevLett.116.172302+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-271%22+OR+report_numbers.value.fuzzy%3A%22CMS-FSQ-15-002%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1510.03068+OR+control_num[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1510.05302+OR+control_number%3A1398582+OR+dois.value%3A10.1103%2FPhysRevLett.116.052002+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-280%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-15-003%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1510.05302+OR+control_num[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1511.02138+OR+control_number%3A1403169+OR+dois.value%3A10.1007%2FJHEP04%282016%29073+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-282%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-13-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1511.02138+OR+control_number[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1511.09375+OR+control_number%3A1407148+OR+dois.value%3A10.1103%2FPhysRevD.93.052011+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-297%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-12-054%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1511.09375+OR+control_number%[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1512.00815+OR+control_number%3A1407839+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-3988-x+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-291%22+OR+report_numbers.value.fuzzy%3A%22CMS-GEN-14-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1512.00815+OR+control_n[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1512.01224+OR+control_number%3A1407955+OR+dois.value%3A10.1103%2FPhysRevLett.116.071801+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-317%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-15-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1512.01224+OR+control_num[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1512.06212+OR+control_number%3A1410826+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4083-z+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-299%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-017%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1512.06212+OR+control_n[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1512.06461+OR+control_number%3A1410832+OR+dois.value%3A10.1016%2Fj.physletb.2016.05.044+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-302%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-15-002%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1512.06461+OR+control_num[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1512.08377+OR+control_number%3A1411454+OR+dois.value%3A10.1007%2FJHEP04%282016%29005+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-285%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-14-028%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1512.08377+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1601.01107+OR+control_number%3A1413748+OR+dois.value%3A10.1103%2FPhysRevD.93.052007+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-333%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-14-023%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1601.01107+OR+control_number%[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1601.02001+OR+control_number%3A1414605+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4205-7+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-334%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-14-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1601.02001+OR+control_n[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.02917+OR+control_number%3A1420551+OR+dois.value%3A10.1103%2FPhysRevD.93.092009+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-008%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-14-007%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.02917+OR+control_number%3A1[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.03169+OR+control_number%3A1420556+OR+dois.value%3A10.1007%2FJHEP07%282016%29027+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-004%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-14-015%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.03169+OR+control_number%3A[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.04305+OR+control_number%3A1421644+OR+dois.value%3A10.1016%2Fj.physletb.2016.06.004+OR+report_numbers.value.fuzzy%3A%22CERN-PH-EP-2015-331%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-14-035%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.04305+OR+control_num[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.04384+OR+control_number%3A1421646+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4346-8+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-013%22+OR+report_numbers.value.fuzzy%3A%22CERN-SMP-14-015%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-015%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:800[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.06581+OR+control_number%3A1422778+OR+dois.value%3A10.1016%2Fj.physletb.2016.05.002+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-036%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-15-002%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.06581+OR+control_number[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.07152+OR+control_number%3A1423069+OR+dois.value%3A10.1016%2Fj.physletb.2016.06.080+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-007%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-019%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.07152+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1602.08762+OR+control_number%3A1424833+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4206-6+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-041%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-12-053%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1602.08762+OR+control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.00765+OR+control_number%3A1425690+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4292-5+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-040%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-13-023%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.00765+OR+control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.01803+OR+control_number%3A1426517+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4293-4+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-043%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-022%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.01803+OR+control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.02248+OR+control_number%3A1426525+OR+dois.value%3A10.1007%2FJHEP04%282016%29169+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-032%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-14-014%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.02248+OR+control_number%3A[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.02303+OR+control_number%3A1426692+OR+dois.value%3A10.1007%2FJHEP08%282016%29029+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-044%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-13-004%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.02303+OR+control_number%3A[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.02991+OR+control_number%3A1426832+OR+dois.value%3A10.1016%2Fj.physletb.2016.05.087+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-039%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-15-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.02991+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.06221+OR+control_number%3A1430892+OR+dois.value%3A10.1016%2Fj.physletb.2016.07.006+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-059%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-15-009%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.06221+OR+control_number[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.06536+OR+control_number%3A1430902+OR+dois.value%3A10.1103%2FPhysRevD.93.092006+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-062%22+OR+report_numbers.value.fuzzy%3A%22CMS-TOP-12-030%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.06536+OR+control_number%3A1[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1603.06896+OR+control_number%3A1431986+OR+dois.value%3A10.1103%2FPhysRevD.94.052012+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-050%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-13-032%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1603.06896+OR+control_number%3A1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1604.04464+OR+control_number%3A1448100+OR+dois.value%3A10.1007%2FJHEP08%282016%29119+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-073%22+OR+report_numbers.value.fuzzy%3A%22CMS-FSQ-13-008%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1604.04464+OR+control_number%3A[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1604.05239+OR+control_number%3A1448302+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4149-y+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-068%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-13-002%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1604.05239+OR+control_numb[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1604.05347+OR+control_number%3A1449080+OR+dois.value%3A10.1103%2FPhysRevC.96.014915+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-042%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-14-008%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1604.05347+OR+control_number%3A1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1604.08907+OR+control_number%3A1454081+OR+dois.value%3A10.1103%2FPhysRevLett.117.031802+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-090%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-14-005%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1604.08907+OR+control_number[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1605.02329+OR+control_number%3A1456795+OR+dois.value%3A10.1007%2FJHEP09%282016%29051+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-054%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-14-032%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1605.02329+OR+control_number%3A[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1605.03171+OR+control_number%3A1456935+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4261-z+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-119%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-15-008%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1605.03171+OR+control_numb[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1605.06699+OR+control_number%3A1464834+OR+dois.value%3A10.1016%2Fj.physletb.2017.01.075+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-105%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-15-006%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1605.06699+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1605.09305+OR+control_number%3A1466301+OR+dois.value%3A10.1103%2FPhysRevLett.118.021802+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-096%22+OR+report_numbers.value.fuzzy%3A%22CMS-SUS-14-019%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1605.09305+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1606.02266+OR+control_number%3A1468068+OR+dois.value%3A10.1007%2FJHEP08%282016%29045+OR+report_numbers.value.fuzzy%3A%22ATLAS-HIGG-2015-07%22+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-100%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIG-15-002%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1606.05864+OR+control_number%3A1471281+OR+dois.value%3A10.1007%2FJHEP02%282017%29096+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-152%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-012%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1606.05864+OR+control_number%3A[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1607.02638+OR+control_number%3A1475003+OR+dois.value%3A10.1016%2Fj.physletb.2016.11.001+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-161%22+OR+report_numbers.value.fuzzy%3A%22CMS-BPH-13-009%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1607.02638+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1608.01224+OR+control_number%3A1479163+OR+dois.value%3A10.1016%2Fj.physletb.2017.01.073+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-187%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-13-001%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1608.01224+OR+control_number[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1608.07561+OR+control_number%3A1484162+OR+dois.value%3A10.1140%2Fepjc%2Fs10052-016-4573-z+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-190%22+OR+report_numbers.value.fuzzy%3A%22CMS-SMP-14-020%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1608.07561+OR+control_numb[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1609.02507+OR+control_number%3A1485702+OR+dois.value%3A10.1016%2Fj.physletb.2017.01.027+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-216%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-16-02%22+OR+report_numbers.value.fuzzy%3A%22CMS-EXO-16-027%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/ap[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1609.02466+OR+control_number%3A1485701+OR+dois.value%3A10.1007%2FJHEP11%282016%29055+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-199%22+OR+report_numbers.value.fuzzy%3A%22CMS-HIN-15-011%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1609.02466+OR+control_number%3A[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=arxiv%3A1609.03489+OR+control_number%3A1486238+OR+dois.value%3A10.1103%2FPhysRevD.94.112005+OR+report_numbers.value.fuzzy%3A%22CERN-EP-2016-191%22+OR+report_numbers.value.fuzzy%3A%22CMS-FSQ-13-010%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=arxiv%3A1609.03489+OR+control_number%3A1[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
