interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B1990-08-01T00%3A00%3A00+TO+1990-08-01T00%3A00%3A01%5D&page=1&size=1
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"access_status":
        {"buckets": [], "label": "Access status"}, "file_type": {"buckets": [], "label":
        "File type"}, "resource_type": {"buckets": [], "label": "Resource types"}},
        "sortBy": "bestmatch", "links": {"self": "https://repository.cern/api/records?page=1&q=updated%3A%5B1990-08-01T00%3A00%3A00%20TO%201990-08-01T00%3A00%3A01%5D&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '130'
      x-ratelimit-reset:
      - '1756812845'
    status:
      code: 200
      message: OK
version: 1
