interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hepdata.net/record/ins2851948?format=json
  response:
    body:
      string: '{"access_count":{"sum":164},"additional_resources":true,"breadcrumb_text":"Aad,
        Georges et al.","coordinator":1265,"data_tables":[{"data":{"csv":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/csv","json":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/json","root":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/root","yaml":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/yaml","yoda":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/yoda","yoda1":"https://www.hepdata.net/download/table/ins2851948/Angularity
        distribution/yoda1"},"description":"The angularity, for data, background (pre-
        and post-reweighting) and three $H\\rightarrow Za$ signal hypotheses (for
        $a\\rightarrow q\\bar{q}/gg$ inclusively). Events are...","doi":"10.17182/hepdata.153859.v1/t1","id":1718733,"location":"Data
        from Figure 1a","messages":false,"name":"Angularity distribution","processed_name":"Angularitydistribution","resources":[{"description":"Image
        file","type":"png","url":"https://www.hepdata.net/record/resource/3760905?landing_page=true"},{"description":"Thumbnail
        image file","type":"png","url":"https://www.hepdata.net/record/resource/3760906?landing_page=true"}]},{"data":{"csv":"https://www.hepdata.net/download/table/ins2851948/Modified
        energy correlation function/csv","json":"https://www.hepdata.net/download/table/ins2851948/Modified
        energy correlation function/json","root":"https://www.hepdata.net/download/table/ins2851948/Modified
   [...]
