interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-10-21T00%3A00%3A00+TO+2025-10-22T00%3A00%3A00%5D&page=1&size=50&sort=newest
  response:
    body:
      string: '{"hits": {"hits": [{"id": "21jka-rbw96", "created": "2025-10-21T08:43:09.480722+00:00",
        "updated": "2025-10-21T08:43:10.644489+00:00", "links": {"self": "https://repository.cern/api/records/21jka-rbw96",
        "self_html": "https://repository.cern/records/21jka-rbw96", "preview_html":
        "https://repository.cern/records/21jka-rbw96?preview=1", "reserve_doi": "https://repository.cern/api/records/21jka-rbw96/draft/pids/doi",
        "parent": "https://repository.cern/api/records/q12kc-3ey29", "parent_html":
        "https://repository.cern/records/q12kc-3ey29", "parent_doi": "https://doi.org/10.17181/q12kc-3ey29",
        "parent_doi_html": "https://repository.cern/doi/10.17181/q12kc-3ey29", "self_iiif_manifest":
        "https://repository.cern/api/iiif/record:21jka-rbw96/manifest", "self_iiif_sequence":
        "https://repository.cern/api/iiif/record:21jka-rbw96/sequence/default", "files":
        "https://repository.cern/api/records/21jka-rbw96/files", "media_files": "https://repository.cern/api/records/21jka-rbw96/media-files",
        "thumbnails": {"10": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:21jka-rbw96:MaggieChenDPhilThesis.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/21jka-rbw96/files-archive",
        "archive_media": "https://repository.cern/api/records/21jka-rbw96/media-files-archive",
        "latest": "https://repository.cern/api/records/21jka-rbw96/versions/latest",
        "latest_html": "https://repository.cern/records/21jka-rbw96/latest", "versions":
        "https://repository.cern/api/records/21jka-rbw96/versions", "draft": "https://repository.cern/api/records/21jka-rbw96/draft",
        "access_links": "https://repository.cern/api/records/21jka-rbw96/access/links",
        "access_grants": "https://repository.cern/api/records/21jka-rbw96/access/grants",
        "access_users": "https://repository.cern/api/records/21jka-rbw96/access/users",
        "access_groups": "https://repository.cern/api/records/21jka-rbw96/access/groups",
        "access_request": "https://repository.cern/api/records/21jka-rbw96/access/request",
        "access": "https://repository.cern/api/records/21jka-rbw96/access", "communities":
        "https://repository.cern/api/records/21jka-rbw96/communities", "communities-suggestions":
        "https://repository.cern/api/records/21jka-rbw96/communities-suggestions",
        "request_deletion": "https://repository.cern/api/records/21jka-rbw96/request-deletion",
        "requests": "https://repository.cern/api/records/21jka-rbw96/requests"}, "revision_id":
        4, "parent": {"id": "q12kc-3ey29", "access": {"owned_by": {"user": "20600"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d"], "default": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d",
        "entries": [{"id": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d", "created": "2025-05-14T16:07:31.996800+00:00",
        "updated": "2025-07-11T14:41:41.728373+00:00", "links": {}, "revision_id":
        8, "slug": "cern-research", "metadata": {"title": "CERN Research"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.17181/q12kc-3ey29", "provider": "datacite", "client":
        "datacite"}}}, "versions": {"is_latest": true, "index": 2}, "is_published":
        true, "is_draft": false, "pids": {"oai": {"identifier": "oai:oai:repository.cern::21jka-rbw96",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-thesis",
        "title": {"de": "Abschlussarbeit", "en": "Thesis"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Chen, Maggie", "given_name": "Maggie", "family_name":
        "Chen"}, "affiliations": [{"name": "University of Oxford (GB)"}]}], "title":
        "Searching for the triple Higgs boson production and beyond using machine
        learning at the ATLAS experiment", "publisher": "University of Oxford", "publication_date":
        "2025-10-21", "subjects": [{"id": "Particle Physics - Experiment", "subject":
        "Particle Physics - Experiment", "scheme": "CERN"}, {"id": "Detectors and
        Experimental Techniques", "subject": "Detectors and Experimental Techniques",
        "scheme": "CERN"}], "contributors": [{"person_or_org": {"type": "personal",
        "name": "Huffman, B. Todd", "given_name": "B. Todd", "family_name": "Huffman",
        "identifiers": [{"identifier": "0000-0002-5332-2738", "scheme": "orcid"}]},
        "role": {"id": "supervisor", "title": {"de": "SupervisorIn", "en": "Supervisor"}},
        "affiliations": [{"id": "052gg0110", "name": "University of Oxford", "identifiers":
        [{"identifier": "052gg0110", "scheme": "ror"}]}]}], "dates": [{"date": "2025-07-11",
        "type": {"id": "submitted", "title": {"de": "Eingereicht", "en": "Submitted"}}}],
        "languages": [{"id": "eng", "title": {"en": "English"}}], "rights": [{"id":
        "cc-by-4.0", "title": {"en": "Creative Commons Attribution 4.0 International"},
        "description": {"en": "The Creative Commons Attribution license allows re-distribution
        and re-use of a licensed work on the condition that the creator is appropriately
        credited."}, "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "scheme": "spdx"}}], "copyright": "Copyright (C) 2025 Maggie Chen", "description":
        "<p>This thesis presents the first search for triple Higgs boson (HHH) production
        conducted at the Large Hadron Collider (LHC), using 126 $fb^&minus;1$ of proton-proton
        collision data at a centre-of-mass energy of $\\sqrt{s} = 13$ TeV recorded
        by the ATLAS detector during Run-2 data-taking. The Standard Model (SM) $HHH$
        production is unique in its direct sensitivity to the trilinear and quartic
        Higg[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Fq12kc-3ey29&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=latex-eu","latex-us":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=latex-us","json":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&fields=control_number&format=json","json-expanded":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=json-expanded","cv":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=cv"}}'
    headers:
      Content-Type:
      - application/json
      Link:
      - <self>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&fields=control_number",
        <bibtex>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&fields=control_number&format=json",
        <json-expanded>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=json-expanded",
        <cv>; rel="http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fq12kc-3ey29&size=10&page=1&format=cv"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.48550%2FarXiv.2508.13764&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.48550%2FarXiv.2508.13764&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.48550%2FarXiv.2508.13764&size=10&page=1&format=bibtex"[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Fpfv39-1qr13&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[],"total":0},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fpfv39-1qr13&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fpfv39-1qr13&size=10&page=1&format=bibtex","latex-eu":"ht[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature?q=dois.value%3A10.17181%2Fda5gb-erf09+OR+dois.value%3A10.17181%2Fnmwpd-12x08&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[{"id":"1675003","updated":"2025-10-23T11:28:26.501048+00:00","created":"2025-10-23T11:28:26.501046+00:00","metadata":{"control_number":1675003},"links":{"bibtex":"http://localhost:8000/api/literature/1675003?format=bibtex","latex-eu":"http://localhost:8000/api/literature/1675003?format=latex-eu","latex-us":"http://localhost:8000/api/literature/1675003?format=latex-us","json":"http://localhost:8000/api/literature/1675003?format=json","json-expanded":"http://localhost:8000/api/literature/1675003?format=json-expanded","cv":"http://localhost:8000/api/literature/1675003?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675003"}}],"total":1},"links":{"self":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fda5gb-erf09+OR+dois.value%3A10.17181%2Fnmwpd-12x08&size=10&page=1&fields=control_number","bibtex":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fda5gb-erf09+OR+dois.value%3A10.17181%2Fnmwpd-12x08&size=10&page=1&format=bibtex","latex-eu":"http://localhost:8000/api/literature/?q=dois.value%3A10.17181%2Fda5gb-erf09+OR+d[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://host.docker.internal:8080/api/literature/1675003
  response:
    body:
      string: '{"id":"1675003","updated":"2025-10-23T11:28:26.501048+00:00","created":"2025-10-23T11:28:26.501046+00:00","revision_id":0,"metadata":{"core":false,"dois":[{"value":"10.17181/da5gb-erf09","source":"submitter"}],"self":{"$ref":"http://localhost:8000/api/literature/1675003"},"titles":[{"title":"The
        testing of cds rdm tasks","source":"submitter"}],"$schema":"https://inspirehep.net/schemas/records/hep.json","_collections":["Literature"],"document_type":["article"],"control_number":1675003},"uuid":"da118b15-0eb9-4a37-85e2-5793979b5071","links":{"bibtex":"http://localhost:8000/api/literature/1675003?format=bibtex","latex-eu":"http://localhost:8000/api/literature/1675003?format=latex-eu","latex-us":"http://localhost:8000/api/literature/1675003?format=latex-us","json":"http://localhost:8000/api/literature/1675003?format=json","json-expanded":"http://localhost:8000/api/literature/1675003?format=json-expanded","cv":"http://localhost:8000/api/literature/1675003?format=cv","citations":"http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675003"}}'
    headers:
      Content-Type:
      - application/vnd+inspire.record.raw+json
      ETag:
      - W/"0"
      Last-Modified:
      - Thu, 23 Oct 2025 11:28:26 GMT
      Link:
      - <bibtex>; rel="http://localhost:8000/api/literature/1675003?format=bibtex",
        <latex-eu>; rel="http://localhost:8000/api/literature/1675003?format=latex-eu",
        <latex-us>; rel="http://localhost:8000/api/literature/1675003?format=latex-us",
        <json>; rel="http://localhost:8000/api/literature/1675003?format=json", <json-expanded>;
        rel="http://localhost:8000/api/literature/1675003?format=json-expanded", <cv>;
        rel="http://localhost:8000/api/literature/1675003?format=cv", <citations>;
        rel="http://localhost:8000/api/literature/?q=refersto%3Arecid%3A1675003"
    status:
      code: 200
      message: OK
- request:
    body: '{"core": false, "dois": [{"value": "10.17181/da5gb-erf09", "source": "submitter"}],
      "self": {"$ref": "http://localhost:8000/api/literature/1675003"}, "titles":
      [{"title": "The testing of cds rdm tasks", "source": "submitter"}], "$schema":
      "https://inspirehep.net/schemas/records/hep.json", "_collections": ["Literature"],
      "document_type": ["article"], "control_number": 1675003, "external_system_identifiers":
      [{"schema": "CDSRDM", "value": "da5gb-erf09"}]}'
    headers:
      Content-Type:
      - application/json
      If-Match:
      - '"0"'
    method: PUT
    uri: http://host.docker.internal:8080/api/literature/1675003
  response:
    body:
      string: '{"id":"1675003","updated":"2025-10-23T11:31:10.056132+00:00","created":"2025-10-23T11:28:26.501046+00:00","revision_id":1,"metadata":{"core":false,"dois":[{"value":"10.17181/da5gb-erf09","source":"submitter"}],"self":{"$ref":"http://localhost:8000/api/literature/1675003"},"titles":[{"title":"The
        testing of cds rdm tasks","source":"submitter"}],"$schema":"ht[...]
