interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://arxiv.org/pdf/2412.13417
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n<meta charset=\"utf-8\"/>\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<!--
        new favicon config and versions by realfavicongenerator.net -->\n<link rel=\"apple-touch-icon\"
        sizes=\"180x180\" href=\"/static/base/1.0.1/images/icons/apple-touch-icon.png\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/static/base/1.0.1/images/icons/favicon-32x32.png\">\n<link
        rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/static/base/1.0.1/images/icons/favicon-16x16.png\">\n<link
        rel=\"manifest\" href=\"/static/base/1.0.1/images/icons/site.webmanifest\">\n<link
        rel=\"mask-icon\" href=\"/static/base/1.0.1/images/icons/safari-pinned-tab.svg\"
        color=\"#b31b1b\">\n<link rel=\"shortcut icon\" href=\"/static/base/1.0.1/images/icons/favicon.ico\">\n<meta
        name=\"msapplication-TileColor\" content=\"#b31b1b\">\n<meta name=\"msapplication-config\"
        content=\"images/icons/browserconfig.xml\">\n<meta name=\"theme-color\" content=\"#b31b1b\">\n<!--
        end favicon config -->\n<title> | arXiv e-print repository</title>\n<script
        defer src=\"/static/base/1.0.1/fontawesome-free-5.11.2-web/js/all.js\"></script>\n<link
        rel=\"stylesheet\" href=\"/static/base/1.0.1/css/arxivstyle.css\" />\n<script
        type=\"text/x-mathjax-config\">\n  MathJax.Hub.Config({\n    messageStyle:
        \"none\",\n    extensions: [\"tex2jax.js\"],\n    jax: [\"input/TeX\", \"output/HTML-CSS\"],\n
        \   tex2jax: {\n      inlineMath: [ ['$','$'], [\"\\\\(\",\"\\\\)\"] ],\n
        \     displayMath: [ ['$$','$$'], [\"\\\\[\",\"\\\\]\"] ],\n      processEscapes:
        true,\n      ignoreClass: '.*',\n      processClass: 'mathjax.*'\n    },\n
        \   TeX: {\n        extensions: [\"AMSmath.js\", \"AMSsymbols.js\", \"noErrors.js\"],\n
        \       noErrors: {\n          inlineDelimiters: [\"$\",\"$\"],\n          multiLine:
        false,\n          style: {\n            \"font-size\": \"normal\",\n            \"border\":
        \"\"\n          }\n        }\n    },\n    \"HTML-CSS\": { availableFonts:
        [\"TeX\"] }\n  });\n</script>\n<script src='//static.arxiv.org/MathJax-2.7.3/MathJax.js'></script>\n<script
        src=\"/static/base/1.0.1/js/notification.js\"></script>\n  </head>\n  <body>\n
        \ <header><a href=\"#main-container\" class=\"is-sr-only\">Skip to main content</a>\n<!--
        contains Cornell logo and sponsor statement -->\n<div class=\"attribution
        level is-marginless\" role=\"banner\">\n    <div class=\"level-left\">\n        <a
        class=\"level-item\" href=\"https://cornell.edu/\"\n            ><img\n                src=\"/static/base/1.0.1/images/cornell-reduced-white-SMALL.svg\"\n
        \               alt=\"Cornell University\"\n                width=\"200\"\n
        \               aria-label=\"logo\"\n        /></a>\n    </div>\n    <div
        class=\"level-right is-marginless\">\n        <p class=\"sponsors level-item
        is-marginless\">\n            <span id=\"support-ack-url\"\n                >We
        gratefully acknowledge support from<br />\n                the Simons Foundation,
        Schmidt Sciences,\n                <a href=\"https://info.arxiv.org/about/ourmembers.html\"\n
        \                   >member institutions</a\n                >, and all contributors.\n
        \               <a href=\"https://info.arxiv.org/about/donate.html\"\n                    >Donate</a\n
        \               ></span\n            >\n        </p>\n    </div>\n</div>\n<!--
        contains arXiv identity and search bar -->\n<div class=\"identity level is-marginless\">\n
        \   <div class=\"level-left\">\n        <div class=\"level-item\">\n            <a\n
        \               class=\"arxiv\"\n                href=\"https://arxiv.org/\"\n
        \               aria-label=\"arxiv-logo\"\n            >\n                <img\n
        \                   src=\"/static/base/1.0.1/images/arxiv-logo-one-color-white.svg\"\n
        \                   aria-label=\"logo\"\n                    alt=\"arxiv logo\"\n
        \                   width=\"85\"\n                    style=\"width: 85px\"\n
        \               />\n            </a>\n        </div>\n    </div>\n      <div
        class=\"search-block level-right\">\n    <form class=\"level-item mini-search\"
        method=\"GET\" action=\"https://arxiv.org/search\">\n      <div class=\"field
        has-addons\">\n        <div class=\"control\">\n          <input class=\"input
        is-small\" type=\"text\" name=\"query\" placeholder=\"Search...\" aria-label=\"Search
        term or terms\" />\n          <p class=\"help\"><a href=\"https://info.arxiv.org/help\">Help</a>
        | <a href=\"https://arxiv.org/search/advanced\">Advanced Search</a></p>\n
        \       </div>\n        <div class=\"control\">\n          <div class=\"select
        is-small\">\n            <select name=\"searchtype\" aria-label=\"Field to
        search\">\n              <option value=\"all\" selected=\"selected\">All fields</option>\n
        \             <option value=\"title\">Title</option>\n              <option
        value=\"author\">Author</option>\n              <option value=\"abstract\">Abstract</option>\n
        \             <option value=\"comments\">Comments</option>\n              <option
        value=\"journal_ref\">Journal reference</option>\n              <option value=\"acm_class\">ACM
        classification</option>\n              <option value=\"msc_class\">MSC classification</option>\n
        \             <option value=\"report_num\">Report number</option>\n              <option
        value=\"paper_id\">arXiv identifier</option>\n              <option value=\"doi\">DOI</option>\n
        \             <option value=\"orcid\">ORCID</option>\n              <option
        value=\"author_id\">arXiv author ID</option>\n              <option value=\"help\">Help
        pages</option>\n              <option value=\"full_text\">Full text</option>\n
        \           </select>\n          </div>\n        </div>\n        <input type=\"hidden\"
        name=\"source\" value=\"header\">\n        <button class=\"button is-small
        is-cul-darker\">Search</button>\n      </div>\n    </form>\n  </div>\n</div>\n<!--
        closes identity -->\n\n<div class=\"container\">\n    <div\n        class=\"user-tools
        is-size-7 has-text-right has-text-weight-bold\"\n        role=\"navigation\"\n
        \       aria-label=\"User menu\"\n    >\n<a\n            href=\"https://arxiv.org/login\"\n
        \           >Login</a\n        >    </div>\n</div>  </header>\n  <main class=\"container\"
        id=\"main-container\">\n<h1>This version of 2412.13417 has been withdrawn
        and is unavailable</h1>\n<p>See <a href=\"/abs/2412.13417\">abstract</a> page
        for more details</p>  </main>\n  <footer>\n<div class=\"columns is-desktop\"
        role=\"navigation\" aria-label=\"Secondary\">\n    <!-- MetaColumn 1 -->\n
        \   <div class=\"column\">\n        <div class=\"columns\">\n            <div
        class=\"column\">\n                <ul class=\"nav-spaced\">\n                    <li><a
        href=\"https://info.arxiv.org/about\">About</a></li>\n                    <li><a
        href=\"https://info.arxiv.org/help\">Help</a></li>\n                </ul>\n
        \           </div>\n            <div class=\"column\">\n                <ul
        class=\"nav-spaced\">\n                    <li>\n                        <svg\n
        \                           xmlns=\"http://www.w3.org/2000/svg\"\n                            viewBox=\"0
        0 512 512\"\n                            class=\"icon filter-black\"\n                            role=\"presentation\"\n
        \                       >\n                            <title>contact arXiv</title>\n
        \                           <desc>Click here to contact arXiv</desc>\n                            <path\n
        \                               d=\"M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0
        26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4
        17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6
        102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3
        142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H4[...]
[...]
- request:
    body: '{"action": "withdrawn"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://host.docker.internal:8001/api/workflows/literature/00000000-0000-0000-0000-000000001111/resolve/
  response:
    body:
      string: "{\"id\":\"00000000-0000-0000-0000-000000001111\",\"data\":{\"dois\":[{\"value\":\"10.1016/j.physletb.2025.139959\",\"source\":\"Elsevier
        B.V.\",\"material\":\"publication\"}],\"urls\":[{\"value\":\"https://lss.fnal.gov/archive/2025/pub/fermilab-pub-25-0393-ppd.pdf\",\"description\":\"Fermilab
        Library Server\"}],\"titles\":[{\"title\":\"Chebyshev Moment Regularization
        (CMR): Condition-Number Control with Moment Shaping\",\"source\":\"arXiv\"}],\"$schema\":\"https://inspirehep.net/schemas/records/hep.json\",\"authors\":[{\"uuid\":\"1661c971-41e0-4361-8770-5ab2baae543e\",\"record\":{\"$ref\":\"https://inspirehep.net/api/authors/2742792\"},\"full_name\":\"Song,
        Hanlin\",\"affiliations\":[{\"value\":\"Peking U.\",\"record\":{\"$ref\":\"https://inspirehep.net/api/institutions/903603\"}}],\"curated_relation\":true,\"raw_affiliations\":[{\"value\":\"School
        of Physics, Peking University, Beijing, 100871, China\",\"source\":\"Elsevier
        B.V.\"}]},{\"uuid\":\"e1c43d40-0cec-4f7e-bf06-2156cb2a6a12\",\"emails\":[\"mabq@pku.edu.cn\"],\"record\":{\"$ref\":\"https://inspirehep.net/api/authors/999448\"},\"full_name\":\"Ma,
        Bo-Qiang\",\"affiliations\":[{\"value\":\"Peking U.\",\"record\":{\"$ref\":\"https://inspirehep.net/api/institutions/903603\"}},{\"value\":\"Zhengzhou
        U.\",\"record\":{\"$ref\":\"https://inspirehep.net/api/institutions/904424\"}}],\"raw_affiliations\":[{\"value\":\"School
        of Physics, Zhengzhou University, Zhengzhou, 450001, China\",\"source\":\"Elsevier
        B.V.\"},{\"value\":\"School of Physics, Peking University, Beijing, 100871,
        China\",\"source\":\"Elsevier B.V.\"}]}],\"curated\":false,\"license\":[{\"url\":\"http://creativecommons.org/licenses/by/4.0/\",\"license\":\"CC
        BY 4.0\",\"material\":\"preprint\"}],\"citeable\":true,\"abstracts\":[{\"value\":\"We
        introduce \\\\textbf{Chebyshev Moment Regularization (CMR)}, a simple, architecture-agnostic
        loss that directly optimizes layer spectra. CMR jointly controls spectral
        edges via a log-condition proxy and shapes the interior via Chebyshev moments,
        with a decoupled, capped mixing rule that preserves task gradients. We prove
        strictly monotone descent for the condition proxy, bounded moment gradients,
        and orthogonal invariance. In an adversarial ``$\u03BA$-stress'' setting (MNIST,
        15-layer MLP), \\\\emph{compared to vanilla training}, CMR reduces mean layer
        condition numbers by $\\\\sim\\\\!10^3$ (from $\\\\approx3.9\\\\!\\\\times\\\\!10^3$
        to $\\\\approx3.4$ in 5 epochs), increases average gradient magnitude, and
        restores test accuracy ( $\\\\approx10\\\\%\\\\!\\\\to\\\\!\\\\approx86\\\\%$
        ). These results support \\\\textbf{optimization-driven spectral preconditioning}:
        directly steering models toward well-conditioned regimes for stable, accurate
        learning.\",\"source\":\"arXiv\"}],\"languages\":[\"en\"],\"references\":[{\"raw_refs\":[{\"value\":\"[1]
        ALICE Collaboration, (2024). Technical Design Report for the ALICE Inner Tracking
        System Upgrade, CERN-LHCC-2024-003, ALICE-TDR-021. https://cds.cern.ch/record/2890181?ln=en\",\"schema\":\"text\",\"source\":\"arXiv\"}],\"reference\":{\"misc\":[\"Technical
        Design Report for the ALICE Inner Tracking System Upgrade\",\"ALICE-TDR-021\"],\"label\":\"1\",\"texkey\":\"placeholder_its3_tdr\",\"collaborations\":[\"ALICE
        Collaboration\"],\"report_numbers\":[\"CERN-LHCC-2024-003\"],\"publication_info\":{\"year\":2024},\"external_system_identifiers\":[{\"value\":\"2890181\",\"schema\":\"CDS\"}]}},{\"record\":{\"$ref\":\"https://inspirehep.net/api/literature/1513530\"},\"raw_refs\":[{\"value\":\"[2]
        G. A. Rinella, (2017). The ALPIDE pixel sensor chip for the upgrade of the
        ALICE Inner Tracking System, Nuclear Instruments and Methods in Physics Research
        Section A 845 583-587. https://doi.org/10.1016/j.nima.2016.05.016\",\"schema\":\"text\",\"source\":\"arXiv\"}],\"reference\":{\"dois\":[\"10.1016/j.nima.2016.05.016\"],\"misc\":[\"The
        ALPIDE pixel sensor chip for the upgrade of the ALICE Inner Tracking System\"],\"label\":\"2\",\"texkey\":\"placeholder_alpide\",\"authors\":[{\"full_name\":\"Rinella,
        G.A.\"}],\"publication_info\":{\"year\":2017,\"page_end\":\"587\",\"page_start\":\"583\",\"journal_title\":\"Nucl.Instrum.Meth.A\",\"journal_volume\":\"845\"}}},{\"record\":{\"$ref\":\"https://inspirehep.net/api/literature/2874609\"},\"raw_refs\":[{\"value\":\"[3]
        P. Moreira et al., (2025). lpGBT: Low-power radiation-hard multipurpose high-speed
        transceiver ASIC for high-energy physics experiments, IEEE Transactions on
        Nuclear Science, 72(1) 24-37. https://doi.org/10.1109/TNS.2024.3506753.\",\"schema\":\"text\",\"source\":\"arXiv\"}],\"reference\":{\"dois\":[\"10.1109/TNS.2024.3506753\"],\"misc\":[\"lpGBT:
        Low-[...]
