interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oaipmh.arxiv.org/oai?identifier=oai%3AarXiv.org%3A2511.23462&metadataPrefix=arXiv&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        \n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n    <responseDate>2025-12-02T12:58:15Z</responseDate>\n
        \               <request verb=\"GetRecord\" identifier=\"oai:arXiv.org:2511.23462\"
        metadataPrefix=\"arXiv\">http://oaipmh.arxiv.org/oai</request>\n\n\n    <GetRecord>\n
        \               <record>\n                <header>\n        <identifier>oai:arXiv.org:2511.23462</identifier>\n
        \       <datestamp>2025-12-01</datestamp>\n            <setSpec>physics:physics:atom-ph</setSpec>\n
        \           <setSpec>physics:quant-ph</setSpec>\n    </header>\n\n            <metadata>\n
        \                       <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/ https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n
        \       <id>2511.23462</id>\n        <created>2025-11-28</created>\n            <updated>2025-12-01</updated>\n
        \       <authors>\n                <author>\n                    <keyname>Thomas</keyname>\n
        \                       <forenames>Carl</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Munk</keyname>\n                        <forenames>Rebecca</forenames>\n
        \               </author>\n                <author>\n                    <keyname>Blinov</keyname>\n
        \                       <forenames>Boris</forenames>\n                </author>\n
        \       </authors>\n        <title>Arbitrary control of the temporal waveform
        of photons during spontaneous emission</title>\n            <categories>physics.atom-ph
        quant-ph</categories>\n            <comments>13 pages, 11 pages</comments>\n
        \           <license>http://arxiv.org/licenses/nonexclusive-distrib/1.0/</license>\n
        \           <abstract>Control of the temporal waveform and Fock state statistics
        of photons produced during spontaneous emission from single quantum emitters
        provides a crucial tool in the establishment of hybrid quantum systems, optimal
        state transfer and interferometric stability of network architectures based
        on flying qubits. We describe a method to generate photons of any temporal
        waveform from emitters of any lifetime. Our broadly applicable approach has
        only two [...]
