interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oaipmh.arxiv.org/oai?identifier=oai%3AarXiv.org%3A2511.23462&metadataPrefix=arXiv&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        \n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n    <responseDate>2026-04-16T10:54:45Z</responseDate>\n
        \               <request verb=\"GetRecord\" identifier=\"oai:arXiv.org:2511.23462\"
        metadataPrefix=\"arXiv\">http://oaipmh.arxiv.org/oai</request>\n\n\n    <GetRecord>\n
        \               <record>\n                <header>\n        <identifier>oai:arXiv.org:2511.23462</identifier>\n
        \       <datestamp>2026-02-11</datestamp>\n            <setSpec>physics:physics:atom-ph</setSpec>\n
        \           <setSpec>physics:quant-ph</setSpec>\n    </header>\n\n            <metadata>\n
        \                       <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/ https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n
        \       <id>2511.23462</id>\n        <created>2026-02-09</created>\n            <updated>2026-02-11</updated>\n
        \       <authors>\n                <author>\n                    <keyname>Thomas</keyname>\n
        \                       <forenames>Carl</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Munk</keyname>\n                        <forenames>Rebecca</forenames>\n
        \               </author>\n                <author>\n                    <keyname>Blinov</keyname>\n
        \                       <forenames>Boris</forenames>\n                </author>\n
        \       </authors>\n        <title>Arbitrary control of the temporal waveform
        of photons during spontaneous emission</title>\n            <categories>physics.atom-ph
        quant-ph</categories>\n            <comments>12 pages, 6 figures</comments>\n
        \           <license>http://arxiv.org/licenses/nonexclusive-distrib/1.0/</license>\n
        \           <abstract>Control of the temporal waveform of photons produced
        during spontaneous emission from single quantum emitters provides a crucial
        tool in the establishment of hybrid quantum systems, optimization of quantum
        state transfer protocols and mitigation of effects due interferometric instability
        for network architectures based on flying qubits. We describe a method to
        generate photons of any temporal waveform from emitters of any excited state
        lifetime, li[...]
