interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hepdata.net/record/ins1906174?format=json
  response:
    body:
      string: '{"access_count":{"sum":13371},"additional_resources":true,"breadcrumb_text":"Aad,
        Georges et al.","coordinator":40,"data_tables":[{"data":{"csv":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/csv","json":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/json","root":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/root","yaml":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/yaml","yoda":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/yoda","yoda1":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/yoda1"},"description":"- - - - - - - - Overview of HEPData Record
        - - - - - - - -...","doi":"10.17182/hepdata.104458.v3/t1","id":1583811,"location":null,"messages":false,"name":"Table
        of contents","processed_name":"Tableofcontents","resources":[]},{"data":{"csv":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/csv","json":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/json","root":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/root","yaml":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/yaml","yoda":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/yoda","yoda1":"https://www.hepdata.net/download/table/ins1906174/Cut
        flows for the representative signals/yoda1"},"description":"Cut flows of some
        representative signals up to SR-4Q-VV, SR-2B2Q-VZ, and SR-2B2Q-Vh. One signal
        point from the $(\\tilde{W},~\\tilde{B})$ simplified models...","doi":"10.17182/hepdata.104458.v3/t2","id":1583812,"location":"Table
        1 auxiliary material","messages":false,"name":"Cut flows for the representative
        signals","processed_name":"Cutflowsfortherepresentativesignals","resources":[{"description":"Image
        file","type":"png","url":"https://www.hepdata.net/record/resource/3458721?landing_page=true"},{"description":"Thumbnail
        image file","type":"png","url":"https://www.hepdata.net/record/resource/3458722?landing_page=true"}]},{"data":{"csv":"https://www.hepdata.net/download/table/ins1906174/$W/Z%5Crightarrow
        qq$ tagging efficiency/csv","json":"https://www.hepdata.net/download/table/ins1906174/$W/Z%5Crightarrow
        qq$ tagging efficiency/json","root":"https://www.hepdata.net/download/table/ins1906174/$W/Z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.hepdata.net/record/ins1906174?format=json&version=1
  response:
    body:
      string: '{"access_count":{"sum":13372},"additional_resources":true,"breadcrumb_text":"Aad,
        Georges et al.","coordinator":40,"data_tables":[{"data":{"csv":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/csv","json":"https://www.hepdata.net/download/table/ins1906174/Table
        of contents/json","root":"ht[...]
[...]
