interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cds.cern.ch/oai2d?identifier=oai%3Acds.cern.ch%3A2653609&metadataPrefix=marcxml&verb=GetRecord
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"http://cds.cern.ch/css/oai2.xsl.v1.0\" ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n<responseDate>2026-04-16T10:20:52Z</responseDate><request
        verb=\"GetRecord\" metadataPrefix=\"marcxml\" identifier=\"oai:cds.cern.ch:2653609\">http://cds.cern.ch/oai2d</request><GetRecord>\n<record><header><identifier>oai:cds.cern.ch:2653609</identifier><datestamp>2022-08-10T12:22:15Z</datestamp><setSpec>cerncds:FULLTEXT</setSpec><setSpec>cerncds:CERN:FULLTEXT</setSpec><setSpec>cerncds:CERN</setSpec></header><metadata><marc:record
        xmlns:marc=\"http://www.loc.gov/MARC21/slim\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.loc.gov/MARC21/slim http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd\"
        type=\"Bibliographic\">\n     <marc:leader>00000coc  2200000uu 4500</marc:leader>\n
        \ <marc:controlfield tag=\"001\">2653609</marc:controlfield>\n  <marc:controlfield
        tag=\"005\">20220810142214.0</marc:controlfield>\n  <marc:datafield tag=\"024\"
        ind1=\"7\" ind2=\" \">\n    <marc:subfield code=\"2\">DOI</marc:subfield>\n
        \   <marc:subfield code=\"9\">SISSA</marc:subfield>\n    <marc:subfield code=\"a\">10.22323/1.345.0182</marc:subfield>\n
        \ </marc:datafield>\n  <marc:datafield tag=\"024\" ind1=\"8\" ind2=\" \">\n
        \   <marc:subfield code=\"a\">oai:cds.cern.ch:2653609</marc:subfield>\n    <marc:subfield
        code=\"p\">cerncds:FULLTEXT</marc:subfield>\n    <marc:subfield code=\"p\">cerncds:CERN:FULLTEXT</marc:subfield>\n
        \   <marc:subfield code=\[...]
