interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%3E%3D2025-06-01&page=1&size=50&sort=newest
  response:
    body:
      string: '{"hits": {"hits": [{"id": "bhvwg-qze25", "created": "2025-06-11T14:54:05.000277+00:00",
        "updated": "2025-06-11T14:54:05.977684+00:00", "links": {"self": "https://repository.cern/api/records/bhvwg-qze25",
        "self_html": "https://repository.cern/records/bhvwg-qze25", "preview_html":
        "https://repository.cern/records/bhvwg-qze25?preview=1", "reserve_doi": "https://repository.cern/api/records/bhvwg-qze25/draft/pids/doi",
        "parent": "https://repository.cern/api/records/f9qpc-j2476", "parent_html":
        "https://repository.cern/records/f9qpc-j2476", "self_iiif_manifest": "https://repository.cern/api/iiif/record:bhvwg-qze25/manifest",
        "self_iiif_sequence": "https://repository.cern/api/iiif/record:bhvwg-qze25/sequence/default",
        "files": "https://repository.cern/api/records/bhvwg-qze25/files", "media_files":
        "https://repository.cern/api/records/bhvwg-qze25/media-files", "thumbnails":
        {"10": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:bhvwg-qze25:TS2025_003.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/bhvwg-qze25/files-archive",
        "archive_media": "https://repository.cern/api/records/bhvwg-qze25/media-files-archive",
        "latest": "https://repository.cern/api/records/bhvwg-qze25/versions/latest",
        "latest_html": "https://repository.cern/records/bhvwg-qze25/latest", "versions":
        "https://repository.cern/api/records/bhvwg-qze25/versions", "draft": "https://repository.cern/api/records/bhvwg-qze25/draft",
        "access_links": "https://repository.cern/api/records/bhvwg-qze25/access/links",
        "access_grants": "https://repository.cern/api/records/bhvwg-qze25/access/grants",
        "access_users": "https://repository.cern/api/records/bhvwg-qze25/access/users",
        "access_groups": "https://repository.cern/api/records/bhvwg-qze25/access/groups",
        "access_request": "https://repository.cern/api/records/bhvwg-qze25/access/request",
        "access": "https://repository.cern/api/records/bhvwg-qze25/access", "communities":
        "https://repository.cern/api/records/bhvwg-qze25/communities", "communities-suggestions":
        "https://repository.cern/api/records/bhvwg-qze25/communities-suggestions",
        "requests": "https://repository.cern/api/records/bhvwg-qze25/requests"}, "revision_id":
        5, "parent": {"id": "f9qpc-j2476", "access": {"owned_by": {"user": "19962"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d"], "default": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d",
        "entries": [{"id": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d", "created": "2025-05-14T16:07:31.996800+00:00",
        "updated": "2025-06-11T08:32:22.942315+00:00", "links": {}, "revision_id":
        6, "slug": "cern-research", "metadata": {"title": "CERN Research"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"oai": {"identifier": "oai:oai:repository.cern::bhvwg-qze25",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-thesis",
        "title": {"de": "Abschlussarbeit", "en": "Thesis"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Alpana, Alpana", "given_name": "Alpana", "family_name":
        "Alpana", "identifiers": [{"identifier": "0000-0003-3294-2345", "scheme":
        "orcid"}]}, "affiliations": [{"name": "Indian Institute of Science  Education
        and Research (IN)"}]}], "title": "Energy measurement of hadron showers in
        the CMS HGCAL using Graph Neural Networks and a new physics search with photons
        at the CMS experiment", "publisher": "CERN", "publication_date": "2025-06-11",
        "subjects": [{"id": "Detectors and Experimental Techniques", "subject": "Detectors
        and Experimental Techniques", "scheme": "CERN"}, {"id": "Particle Physics
        - Experiment", "subject": "Particle Physics - Experiment", "scheme": "CERN"}],
        "contributors": [{"person_or_org": {"type": "personal", "name": "Sharma, Seema",
        "given_name": "Seema", "family_name": "Sharma", "identifiers": [{"identifier":
        "0000-0001-6886-0726", "scheme": "orcid"}]}, "role": {"id": "supervisor",
        "title": {"de": "SupervisorIn", "en": "Supervisor"}}, "affiliations": [{"name":
        "Indian Institute of Science Education and Research, Pune"}, {"name": "Indian
        Institute of Science  Education and Research (IN)"}]}], "languages": [{"id":
        "eng", "title": {"en": "English"}}, {"id": "hin", "title": {"en": "Hindi"}}],
        "identifiers": [{"identifier": "CMS-TS-2025-003", "scheme": "cds_ref"}], "rights":
        [{"id": "cc-by-4.0", "title": {"en": "Creative Commons Attribution 4.0 International"},
        "description": {"en": "The Creative Commons Attribution license allows re-distribution
        and re-use of a licensed work on the condition that the creator is appropriately
        credited."}, "icon": "cc-by-icon", "props": {"url": "https://creativecommons.org/licenses/by/4.0/legalcode",
        "scheme": "spdx"}}], "description": "<p>The CMS experiment at the LHC has
        been rigorously testing the Standard Model inproton-proton collision data
        for more than a decade now. As the LHC progressesthrough Run-3 at a center-of-mass
        energy of 13.6 TeV, the CMS collaboration is alsopreparing for the High-Luminosity
        LHC (HL-LHC) phase to operate with moreintense beams in the upcoming decade.
        To [...]
