interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-08-25T13%3A00%3A00+TO+2025-08-25T13%3A10%3A00%5D&page=1&size=50&sort=newest
  response:
    body:
      string: '{"hits": {"hits": [{"id": "sf1ne-rna96", "created": "2006-12-14T14:50:41+00:00",
        "updated": "2025-08-25T13:08:21.951914+00:00", "links": {"self": "https://repository.cern/api/records/sf1ne-rna96",
        "self_html": "https://repository.cern/records/sf1ne-rna96", "preview_html":
        "https://repository.cern/records/sf1ne-rna96?preview=1", "reserve_doi": "https://repository.cern/api/records/sf1ne-rna96/draft/pids/doi",
        "parent": "https://repository.cern/api/records/sb8nv-13w40", "parent_html":
        "https://repository.cern/records/sb8nv-13w40", "self_iiif_manifest": "https://repository.cern/api/iiif/record:sf1ne-rna96/manifest",
        "self_iiif_sequence": "https://repository.cern/api/iiif/record:sf1ne-rna96/sequence/default",
        "files": "https://repository.cern/api/records/sf1ne-rna96/files", "media_files":
        "https://repository.cern/api/records/sf1ne-rna96/media-files", "thumbnails":
        {"10": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:sf1ne-rna96:thesis-2006-072.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/sf1ne-rna96/files-archive",
        "archive_media": "https://repository.cern/api/records/sf1ne-rna96/media-files-archive",
        "latest": "https://repository.cern/api/records/sf1ne-rna96/versions/latest",
        "latest_html": "https://repository.cern/records/sf1ne-rna96/latest", "versions":
        "https://repository.cern/api/records/sf1ne-rna96/versions", "draft": "https://repository.cern/api/records/sf1ne-rna96/draft",
        "access_links": "https://repository.cern/api/records/sf1ne-rna96/access/links",
        "access_grants": "https://repository.cern/api/records/sf1ne-rna96/access/grants",
        "access_users": "https://repository.cern/api/records/sf1ne-rna96/access/users",
        "access_groups": "https://repository.cern/api/records/sf1ne-rna96/access/groups",
        "access_request": "https://repository.cern/api/records/sf1ne-rna96/access/request",
        "access": "https://repository.cern/api/records/sf1ne-rna96/access", "communities":
        "https://repository.cern/api/records/sf1ne-rna96/communities", "communities-suggestions":
        "https://repository.cern/api/records/sf1ne-rna96/communities-suggestions",
        "requests": "https://repository.cern/api/records/sf1ne-rna96/requests"}, "revision_id":
        13, "parent": {"id": "sb8nv-13w40", "access": {"owned_by": {"user": "54155"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d"], "default": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d",
        "entries": [{"id": "ad8d4abd-9809-4dc3-b4bf-dd403c9d6a8d", "created": "2025-05-14T16:07:31.996800+00:00",
        "updated": "2025-07-11T14:41:41.728373+00:00", "links": {}, "revision_id":
        8, "slug": "cern-research", "metadata": {"title": "CERN Research"}, "access":
        {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {}}, "versions": {"is_latest": true, "index": 1}, "is_published": true, "is_draft":
        false, "pids": {"oai": {"identifier": "oai:oai:repository.cern::sf1ne-rna96",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "publication-thesis",
        "title": {"de": "Abschlussarbeit", "en": "Thesis"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "Cornelissen, T G", "given_name": "T G", "family_name":
        "Cornelissen"}, "affiliations": [{"name": "NIKHEF Amsterdam"}]}], "title":
        "Track Fitting in the ATLAS Experiment", "publisher": "Amsterdam Univ.", "publication_date":
        "2006-05-15", "subjects": [{"id": "Detectors and Experimental Techniques",
        "subject": "Detectors and Experimental Techniques", "scheme": "CERN"}], "contributors":
        [{"person_or_org": {"type": "personal", "name": "van der Heijden, P F", "given_name":
        "P F", "family_name": "van der Heijden"}, "role": {"id": "supervisor", "title":
        {"de": "SupervisorIn", "en": "Supervisor"}}}, {"person_or_org": {"type": "personal",
        "name": "Linde, Frank L", "given_name": "Frank L", "family_name": "Linde"},
        "role": {"id": "supervisor", "title": {"de": "SupervisorIn", "en": "Supervisor"}}},
        {"person_or_org": {"type": "personal", "name": "Bentvelsen, S C M", "given_name":
        "S C M", "family_name": "Bentvelsen"}, "role": {"id": "supervisor", "title":
        {"de": "SupervisorIn", "en": "Supervisor"}}}, {"person_or_org": {"type": "personal",
        "name": "Kluit, P M", "given_name": "P M", "family_name": "Kluit"}, "role":
        {"id": "supervisor", "title": {"de": "SupervisorIn", "en": "Supervisor"}}}],
        "languages": [{"id": "eng", "title": {"en": "English"}}], "identifiers": [{"identifier":
        "1005181", "scheme": "lcds"}, {"identifier": "734421", "scheme": "inspire"},
        {"identifier": "CERN-THESIS-2006-072", "scheme": "cds_ref"}, {"identifier":
        "http://www.documents.cern.ch/cgi-bin/setlink?base=preprint&categ=cern&id=cern-thesis-2006-072",
        "scheme": "url"}, {"identifier": "002666681CER", "scheme": "aleph"}], "related_identifiers":
        [{"identifier": "978-90-6464-051-3", "scheme": "isbn", "relation_type": {"id":
        "isversionof", "title": {"de": "Ist eine Version von", "en": "Is version of"}}}],
        "description": "ATLAS is one of the four experiments that will analyze the
        proton-proton collisions that the LHC will produce. ATLAS consists of several
        subsystems: the inner detector, the calorimeters, and the muon spectrometer.
        In this thesis, emphasis is placed on the analysis of the data from the inner
        tracker and the muon spectrometer. For each particle, the detector performs
        a number of position measurements. From this set of three-dimensional points,
        the trajectory of the particle can be reconstructed using computer calculations.
        In this thesis an algorithm is described that is based on the minimization
        of a global $\\chi^2$ function. The algorithm corrects for energy loss and
        scattering in the detector material, by introducing extra fit parameters for
        these material effects. The propagation of the tracks through the magnetic
        field in the detector is performed using a fourth order Runge-Kutta procedure.
        This procedure is numerical, therefore it requires a significant amount of
        computation time. It turns out that the derivatives of the measurements with
        respect to the track parameters can be evaluated analytically, which reduces
        the amount of computation time required. The algorithm has been used to study
        data from the Combined Testbeam in 2004, as well as cosmic ray data recorded
        by the inner detector in 2006. In addition, the algorithm has been tested
        using simulated collision events in ATLAS. The performance of the algorithm
        is competitive with other solutions."}, "custom_fields": {"cern:experiments":
        [{"id": "ATLAS", "title": {"en": "ATLAS"}}], "cern:departments": [{"id": "EP",
        "title": {"en": "EP"}}], "cern:accelerators": [{"id": "CERN LHC", "title":
        {"en": "CERN LHC"}}], "cern:programmes": {"id": "None", "title": {"en": "No
        program participation"}}, "imprint:imprint": {"isbn": "978-90-6464-051-3",
        "place": "Amsterdam"}, "thesis:thesis": {"university": "University Amsterdam",
        "type": "PhD", "date_submitted": "2006", "date_defended": "2006-12-12"}},
        "access": {"record": "public", "files": "public", "embargo": {"active": false,
        "reason": null}, "status": "open"}, "files": {"enabled": true, "order": [],
        "count": 1, "total_bytes": 10755979, "entries": {"thesis-2006-072.pdf": {"id":
        "2b76b7c3-36a1-466a-af0d-7d1979c79693", "checksum": "md5:a810ad0047a22af32fbff587c6c98ce5",
        "ext": "pdf", "size": 10755979, "mimetype": "application/pdf", "key": "thesis-2006-072.pdf",
        "metadata": {}, "access": {"hidden": false}}}}, "media_files": {"enabled":
        false, "order": [], "count": 0, "total_bytes": 0, "entries": {}}, "status":
        "published", "deletion_status": {"is_deleted": false, "status": "P"}, "stats":
        {"this_version": {"views": 3374, "unique_views": 2592, "downloads": 19361,
        "unique_downloads": 17763, "data_volume": 208246509419.0}, "all_versions":
        {"views": 3374, "unique_views": 2592, "downloads": 19361, "unique_downloads":
        17763, "data_volume": 208246509419.0}}}, {"id": "1f5ea-dys14", "created":
        "2006-12-14T11:34:06+00:00", "updated": "2025-08-25T13:08:21.940486+00:00",
        "links": {"self": "https://repository.cern/api/records/1f5ea-dys14", "self_html":
        "https://repository.cern/records/1f5ea-dys14", "preview_html": "https://repository.cern/records/1f5ea-dys14?preview=1",
        "reserve_doi": "https[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirebeta.net/api/literature?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[{"links":{"bibtex":"https://inspirebeta.net/api/literature/734421?format=bibtex","latex-eu":"https://inspirebeta.net/api/literature/734421?format=latex-eu","latex-us":"https://inspirebeta.net/api/literature/734421?format=latex-us","json":"https://inspirebeta.net/api/literature/734421?format=json","json-expanded":"https://inspirebeta.net/api/literature/734421?format=json-expanded","cv":"https://inspirebeta.net/api/literature/734421?format=cv","citations":"https://inspirebeta.net/api/literature/?q=refersto%3Arecid%3A734421"},"metadata":{"control_number":734421},"updated":"2023-10-04T14:26:43.635851+00:00","created":"2006-12-14T00:00:00+00:00","id":"734421"},{"links":{"bibtex":"https://inspirebeta.net/api/literature/1088152?format=bibtex","latex-eu":"https://inspirebeta.net/api/literature/1088152?format=latex-eu","latex-us":"https://inspirebeta.net/api/literature/1088152?format=latex-us","json":"https://inspirebeta.net/api/literature/1088152?format=json","json-expanded":"https://inspirebeta.net/api/literature/1088152?format=json-expanded","cv":"https://inspirebeta.net/api/literature/1088152?format=cv","citations":"https://inspirebeta.net/api/literature/?q=refersto%3Arecid%3A1088152"},"metadata":{"control_number":1088152},"updated":"2025-04-09T14:19:02.518430+00:00","created":"2012-02-07T00:00:00+00:00","id":"1088152"}],"total":2},"links":{"self":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&fields=control_number","bibtex":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&format=bibtex","latex-eu":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&format=latex-eu","latex-us":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&format=latex-us","json":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&fields=control_number&format=json","json-expanded":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&format=json-expanded","cv":"https://inspirebeta.net/api/literature/?q=control_number%3A734421+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-072%22&size=10&page=1&format=cv"}}'
    headers:
      content-type:
      - application/json
      x-proxy-backend:
      - inspire-qa_hep-web_http
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirebeta.net/api/literature/737423
  response:
    body:
      string: '{"created":"2007-03-21T00:00:00+00:00","revision_id":98,"id":"737423","links":{"bibtex":"https://inspirebeta.net/api/literature/737423?format=bibtex","latex-eu":"https://inspirebeta.net/api/literature/737423?format=latex-eu","latex-us":"https://inspirebeta.net/api/literature/737423?format=latex-us","json":"https://inspirebeta.net/api/literature/737423?format=json","json-expanded":"https://inspirebeta.net/api/literature/737423?format=json-expanded","cv":"https://inspirebeta.net/api/literature/737423?format=cv","citations":"https://inspirebeta.net/api/literature/?q=refersto%3Arecid%3A737423"},"updated":"2023-10-04T14:28:28.715753+00:00","uuid":"415e1ff6-5b50-4ea5-8012-ba8a207bf158","metadata":{"core":true,"self":{"$ref":"https://inspirebeta.net/api/literature/737423"},"urls":[{"value":"http://weblib.cern.ch/abstract?CERN-THESIS-2006-071"}],"titles":[{"title":"Design
        and integration of superconducting undulators for the LHC beam diagnostics"},{"title":"Design
        and integration of superconducting undulators for the LHC beam diagnostics.","source":"arXiv"},{"title":"LARGE
        HADRON COLLIDER"}],"$schema":"https://inspirebeta.net/schemas/records/hep.json","authors":[{"uuid":"09f9ecc0-5864-4433-8c34-953c0043be23","record":{"$ref":"https://inspirebeta.net/api/authors/1067705"},"full_name":"Bettoni,
        Simona","affiliations":[{"value":"Milan U.","record":{"$ref":"https://inspirebeta.net/api/institutions/903009"}}],"signature_block":"BATANs","curated_relation":true},{"uuid":"1a305a53-0b60-428e-a628-d9106c25785c","full_name":"Tommasini,
        D.","inspire_roles":["supervisor"],"signature_block":"TANASANd"}],"curated":true,"texkeys":["Bettoni:2006sw"],"keywords":[{"value":"thesis","schema":"INSPIRE"},{"value":"CERN
        LHC Coll","schema":"INSPIRE"},{"value":"undulator: superconductivity","schema":"INSPIRE"},{"value":"beam
        monitoring","schema":"INSPIRE"},{"value":"niobium: tin","schema":"INSPIRE"},{"value":"magnet:
        design","schema":"INSPIRE"},{"value":"magnet: performance","schema":"INSPIRE"}],"documents":[{"key":"c3a4714fbe3be7a5261a19a0c506e63e","url":"https://inspirebeta.net/files/c3a4714fbe3be7a5261a19a0c506e63e","filename":"thesis-2006-071.pdf"}],"references":[{"reference":{"publication_info":{"artid":"L343","page_start":"L343","journal_title":"J.Phys.Lett.","journal_volume":"45"}}},{"record":{"$ref":"https://inspirebeta.net/api/literature/380367"},"reference":{"publication_info":{"artid":"353","page_start":"353","journal_title":"Nucl.Instrum.Meth.A","journal_volume":"427"}},"curated_relation":false},{"record":{"$ref":"https://inspirebeta.net/api/literature/385525"},"reference":{"publication_info":{"artid":"2320","page_start":"2320","journal_title":"IEEE
        Trans.Magnetics","journal_volume":"30"}},"curated_relation":false},{"reference":{"publication_info":{"art[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirebeta.net/api/literature/737421
  response:
    body:
      string: '{"revision_id":91,"links":{"bibtex":"https://inspirebeta.net/api/literature/737421?format=bibtex","latex-eu":"https://inspirebeta.net/api/literature/737421?format=latex-eu","latex-us":"https://inspirebeta.net/api/literature/737421?format=latex-us","json":"https://inspirebeta.net/api/literature/737421?format=json","json-expanded":"https://inspirebeta.net/api/literature/737421?format=json-expanded","cv":"https://inspirebeta.net/api/literature/737421?format=cv","citations":"https://inspirebeta.net/api/literature/?q=refersto%3Arecid%3A737421"},"metadata":{"core":true,"self":{"$ref":"https://inspirebeta.net/api/literature/737421"},"urls":[{"value":"http://weblib.cern.ch/abstract?CERN-THESIS-2006-065"}],"titles":[{"title":"Antineutrino
        charm production and pentaquark search in the CHORUS experiment"},{"title":"Antineutrino
        charm production and pentaquark search in the CHORUS experiment.","source":"arXiv"},{"title":"ANTI-NEUTRINO"}],"$schema":"https://inspirebeta.net/schemas/records/hep.json","authors":[{"uuid":"dd6811fc-35a2-4262-a8b4-72d2dfa2f8a7","record":{"$ref":"https://inspirebeta.net/api/authors/1056528"},"full_name":"Kose,
        Umut","affiliations":[{"value":"Middle East Tech. U., Ankara","record":{"$ref":"https://inspirebeta.net/api/institutions/903008"}}],"signature_block":"CASu","alternative_names":["Koese,
        U."]},{"uuid":"692ec6a2-f22e-4427-b3ea-8adc9dc8d890","full_name":"Guler, A.M.","inspire_roles":["supervisor"],"signature_block":"GALARa"}],"curated":true,"texkeys":["Kose:2006st"],"keywords":[{"value":"thesis","schema":"INSPIRE"},{"value":"antineutrino
        nucleus: inclusive reaction","schema":"INSPIRE"},{"value":"antineutrino/mu","schema":"INSPIRE"},{"value":"charm:
        production","schema":"INSPIRE"},{"value":"charmed meson: neutrinoproduction","schema":"INSPIRE"},{"value":"pentaquark:
        production","schema":"INSPIRE"},{"value":"pentaquark: charm","schema":"INSPIRE"},{"value":"Theta/c(3100)","schema":"INSPIRE"},{"value":"yield:
        (D/s- D- anti-D0)","schema":"INSPIRE"},{"value":"channel cross section: ratio","schema":"INSPIRE"},{"value":"upper
        limit","schema":"INSPIRE"},{"value":"dependence: lifetime","schema":"INSPIRE"},{"value":"nuclear
        emulsion","schema":"INSPIRE"},{"value":"magnetic spectrometer: experimental
        results","schema":"INSPIRE"},{"value":"CERN SPS","schema":"INSPIRE"}],"abstracts":[{"value":"During
        the years between 1994 and 1997, the emulsion target of the CHORUS experiment
        was exposed to the wide band neutrino beam of the CERN SPS of 27 GeV average
        energy collecting about 106 neutrino interactions. A measurement of induced
        charm production and search for anticharmed pentaquark (0 c ) have been performed
        by using the presence of a 6% component in the beam. By requiring a positive
        muon charge as determined by the CHORUS muon[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirebeta.net/api/literature?q=control_number%3A736011+OR+report_numbers.value.fuzzy%3A%22CERN-THESIS-2006-062%22+OR+report_numbers.value.fuzzy%3A%22CMS-TS-2007-015%22+OR+report_numbers.value.fuzzy%3A%22IEKP-KA-2006-16%22&fields=control_number
  response:
    body:
      string: '{"hits":{"hits":[{"links":{"bibtex":"https://inspirebeta.net/api/literature/736011?format=bibtex","latex-eu":"https://inspirebeta.net/api/literat[...]
[...]
