interactions:
- request:
    body: '{"functional_category": "Author submissions", "template": "curator_new_author",
      "subject": "Your suggestion to INSPIRE: author Third B", "template_context":
      {"email": "micha.moshe.moskovic@cern.ch", "obj_url": "https://inspirebeta.net/backoffice/66277811-fe66-4335-9aff-984583fb1228"},
      "caller_email": "micha.moshe.moskovic@cern.ch"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inspirebeta.net/api/tickets/create
  response:
    body:
      string: '{"ticket_id":"dfa417a0870a561095f833340cbb3599","ticket_url":"https://cerntraining.service-now.com/nav_to.do?uri=/u_request_fulfillment.do?sys_id=dfa417a0870a561095f833340cbb3599"}

        '
    headers:
      content-type:
      - application/json
      x-proxy-backend:
      - inspire-qa_hep-web_http
    status:
      code: 200
      message: OK
- request:
    body: '{"ticket_id": "dfa417a0870a561095f833340cbb3599", "template": "user_new_author",
      "template_context": {"user_name": "micha.moshe.moskovic@cern.ch", "author_name":
      "Third B"}, "user_email": "micha.moshe.moskovic@cern.ch"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://inspirebeta.net/api/tickets/reply
  response:
    body:
      string: '{"message":"Ticket was updated with the reply"}

        '
    headers:
      content-type:
      - application/json
      x-proxy-backend:
      - inspire-qa_hep-web_http
    status:
      code: 200
      message: OK
- request:
    body: '{"ticket_type": "author_create_user", "ticket_id": "dfa417a0870a561095f833340cbb3599",
      "workflow": "66277811-fe66-4335-9aff-984583fb1228"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://host.docker.internal:8001/api/workflows/authors/tickets/
  response:
    body:
      string: '{"id":5,"ticket_url":"https://cerntraining.service-now.com/nav_to.do?uri=/u_request_fulfillment.do?sys_id=dfa417a0870a561095f833340cbb3599","workflow":"66277811-fe66-4335-9aff-984583fb1228","ticket_id":"dfa417a0870a561095f833340cbb3599","ticket_type":"author_create_user","_created_at":"2024-11-20T15:30:35.448536Z","_updated_at":"2024-11-20T15:30:35.448543Z"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
