interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repository.cern/api/records?q=updated%3A%5B2025-06-01T00%3A00%3A00+TO+2025-07-01T00%3A00%3A00%5D&page=1&size=50&sort=newest
  response:
    body:
      string: '{"hits": {"hits": [{"id": "7e9w9-zjk29", "created": "2025-06-24T14:57:45.192792+00:00",
        "updated": "2025-06-24T15:08:07.049342+00:00", "links": {"self": "https://repository.cern/api/records/7e9w9-zjk29",
        "self_html": "https://repository.cern/records/7e9w9-zjk29", "preview_html":
        "https://repository.cern/records/7e9w9-zjk29?preview=1", "doi": "https://doi.org/10.17181/7e9w9-zjk29",
        "self_doi": "https://doi.org/10.17181/7e9w9-zjk29", "self_doi_html": "https://repository.cern/doi/10.17181/7e9w9-zjk29",
        "reserve_doi": "https://repository.cern/api/records/7e9w9-zjk29/draft/pids/doi",
        "parent": "https://repository.cern/api/records/00bm5-1mt48", "parent_html":
        "https://repository.cern/records/00bm5-1mt48", "parent_doi": "https://doi.org/10.17181/00bm5-1mt48",
        "parent_doi_html": "https://repository.cern/doi/10.17181/00bm5-1mt48", "self_iiif_manifest":
        "https://repository.cern/api/iiif/record:7e9w9-zjk29/manifest", "self_iiif_sequence":
        "https://repository.cern/api/iiif/record:7e9w9-zjk29/sequence/default", "files":
        "https://repository.cern/api/records/7e9w9-zjk29/files", "media_files": "https://repository.cern/api/records/7e9w9-zjk29/media-files",
        "thumbnails": {"10": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E10,/0/default.jpg",
        "50": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E50,/0/default.jpg",
        "100": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E100,/0/default.jpg",
        "250": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E250,/0/default.jpg",
        "750": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://repository.cern/api/iiif/record:7e9w9-zjk29:Low-latency_AI_for_triggering_on_electrons_at_High_Luminosity_LHC_with_the_CMS_Level-1_hardware_Trigger_draft.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://repository.cern/api/records/7e9w9-zjk29/files-archive",
        "archive_media": "https://repository.cern/api/records/7e9w9-zjk29/media-files-archive",
        "latest": "https://repository.cern/api/records/7e9w9-zjk29/versions/latest",
        "latest_html": "https://repository.cern/records/7e9w9-zjk29/latest", "versions":
        "https://repository.cern/api/records/7e9w9-zjk29/versions", "draft": "https://repository.cern/api/records/7e9w9-zjk29/draft",
        "access_links": "https://repository.cern/api/records/7e9w9-zjk29/access/links",
        "access_grants": "https://repository.cern/api/records/7e9w9-zjk29/access/grants",
        "access_users": "https://repository.cern/api/records/7e9w9-zjk29/access/users",
        "access_groups": "https://repository.cern/api/records/7e9w9-zjk29/access/groups",
        "access_request": "https://repository.cern/api/records/7e9w9-zjk29/access/request",
        "access": "https://repository.cern/api/records/7e9w9-zjk29/access", "communities":
        "https://repository.cern/api/records/7e9w9-zjk29/communities", "communities-suggestions":
        "https://repository.cern/api/records/7e9w9-zjk29/communities-suggestions",
        "requests": "https://repository.cern/api/records/7e9w9-zjk29/requests"}, "revision_id":
        14, "parent": {"id": "00bm5-1mt48", "access": {"owned_by": {"user": "39013"},
        "settings": {"allow_user_requests": false, "allow_guest_requests": false,
        "accept_conditions_text": null, "secret_link_expiration": 0}}, "communities":
        {"ids": ["da007c73-b7a0-4672-8f99-11faf13bab28"], "default": "da007c73-b7a0-4672-8f99-11faf13bab28",
        "entries": [{"id": "da007c73-b7a0-4672-8f99-11faf13bab28", "created": "2025-06-18T07:31:01.048123+00:00",
        "updated": "2025-06-24T14:09:07.744918+00:00", "links": {}, "revision_id":
        8, "slug": "nextgentriggers", "metadata": {"title": "Next Generation Triggers"},
        "access": {"visibility": "public", "members_visibility": "public", "member_policy":
        "open", "record_submission_policy": "open", "review_policy": "closed"}, "deletion_status":
        {"is_deleted": false, "status": "P"}, "children": {"allow": false}}]}, "pids":
        {"doi": {"identifier": "10.17181/00bm5-1mt48", "provider": "datacite", "client":
        "datacite"}}}, "versions": {"is_latest": true, "index": 1}, "is_published":
        true, "is_draft": false, "pids": {"doi": {"identifier": "10.17181/7e9w9-zjk29",
        "provider": "datacite", "client": "datacite"}, "oai": {"identifier": "oai:oai:repository.cern::7e9w9-zjk29",
        "provider": "oai"}}, "metadata": {"resource_type": {"id": "presentation",
        "title": {"de": "Pr\u00e4sentation", "en": "Presentation"}}, "creators": [{"person_or_org":
        {"type": "personal", "name": "VISCONE, PIERO", "given_name": "PIERO", "family_name":
        "VISCONE", "identifiers": [{"identifier": "0000-0002-7267-5555", "scheme":
        "orcid"}]}, "affiliations": [{"id": "02crff812", "name": "University of Zurich",
        "identifiers": [{"identifier": "02crff812", "scheme": "ror"}]}, {"id": "01ggx4157",
        "name": "European Organization for Nuclear Research", "identifiers": [{"identifier":
        "01ggx4157", "scheme": "ror"}]}]}], "title": "Low-latency AI for triggering
        on electrons at High Luminosity LHC with the CMS Level-1 hardware Trigger",
        "publisher": "Next Generation Triggers", "publication_date": "2024-10-24",
        "rights": [{"id": "cc-by-4.0", "title": {"en": "Creative Commons Attribution
        4.0 International"}, "description": {"en": "The Creative Commons Attribution
        license allows re-distribution and re-use of a licensed work on the condition
        that the creator is appropriately credited."}, "icon": "cc-by-icon", "props":
        {"url": "https://creativecommons.org/licenses/by/4.0/legalcode", "scheme":
        "spdx"}}], "description": "<div>\n<p>In preparation for the High Luminosity
        LHC (HL-LHC) run, the CMS collaboration is working on an ambitious upgrade
        project for the first stage of its online selection system: the Level-1 Trigger.
        The upgraded system will use powerful field-programmable gate arrays (FPGA)
        processors connected by a high-bandwidth network of optical fibers. The new
        system will access highly granular calorimeter information and online tracking:
        their combination fo[...]
[...]
