interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://oaipmh.arxiv.org/oai?set=physics%3Ahep-th&from=2025-07-01&metadataPrefix=arXiv&until=2025-07-01&verb=ListRecords
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        \n         xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n    <responseDate>2025-07-01T11:53:24Z</responseDate>\n
        \               <request verb=\"ListRecords\" metadataPrefix=\"arXiv\" from=\"2025-07-01\"
        until=\"2025-07-01\" set=\"physics:hep-th\">http://oaipmh.arxiv.org/oai</request>\n\n\n
        \   <ListRecords>\n                    <record>\n                <header>\n
        \       <identifier>oai:arXiv.org:2101.11905</identifier>\n        <datestamp>2025-07-01</datestamp>\n
        \           <setSpec>physics:hep-th</setSpec>\n            <setSpec>physics:gr-qc</setSpec>\n
        \   </header>\n\n            <metadata>\n                        <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/
        https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n        <id>2101.11905</id>\n        <created>2022-03-10</created>\n
        \           <updated>2025-07-01</updated>\n        <authors>\n                <author>\n
        \                   <keyname>Dao</keyname>\n                        <forenames>H.
        L.</forenames>\n                </author>\n        </authors>\n        <title>Cosmological
        solutions from 5D $N=4$ matter-coupled supergravity</title>\n            <categories>hep-th
        gr-qc</categories>\n            <comments>v1: 10 figures, 40 pages. v2: slight
        modifications together with more added details in section 6, plus more references
        added. v3:More clarifying details + references added. v4: Minor clarifying
        details added, published version</comments>\n            <journal-ref>J. Phys.
        Commun. 6 025003 (2022)</journal-ref>\n            <doi>10.1088/2399-6528/ac4fb0</doi>\n
        \           <license>http://arxiv.org/licenses/nonexclusive-distrib/1.0/</license>\n
        \           <abstract>From five-dimensional $N=4$ matter-coupled gauged supergravity,
        smooth time-dependent cosmological solutions, connecting a $dS_{5-d}\\times
        H^d$ (with $d=2,3$) spacetime at early times to a $dS_5$ spacetime at late
        times, are presented. The solutions are derived from the second-order equations
        of motion arising from all the gauged theories that can admit $dS_5$ solutions.
        There are eight such theories constructed from gauge groups of the form $SO(1,1)\\times
        G_{nc}$ and $SO(1,1)^{(n)}_\\text{diag}\\times G_{nc}$, with $n=2,3$, where
        $G_{nc}$ is a non-compact gauge factor whose compact part must be embedded
        entirely in the matter symmetry group of 5D matter-coupled supergravity. Furthermore,
        we analyze how the cosmological solutions and their corresponding $dS_5$ vacua
        cannot arise from the first-order equations that solve the second-order field
        equations.</abstract>\n    </arXiv>\n\n            </metadata>\n        </record>\n\n
        \                   <record>\n                <header>\n        <identifier>oai:arXiv.org:2207.10712</identifier>\n
        \       <datestamp>2025-07-01</datestamp>\n            <setSpec>physics:cond-mat:str-el</setSpec>\n
        \           <setSpec>physics:hep-th</setSpec>\n    </header>\n\n            <metadata>\n
        \                       <arXiv xmlns=\"http://arxiv.org/OAI/arXiv/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://arxiv.org/OAI/arXiv/ https://oaipmh.arxiv.org/OAI/arXiv.xsd\">\n
        \       <id>2207.10712</id>\n        <created>2025-06-28</created>\n            <updated>2025-07-01</updated>\n
        \       <authors>\n                <author>\n                    <keyname>Moradi</keyname>\n
        \                       <forenames>Heidar</forenames>\n                </author>\n
        \               <author>\n                    <keyname>Moosavian</keyname>\n
        \     [...]
