<div class="navbar-form input-group col-md-7 pull-left inline">
  <input class="form-control search" [(ngModel)]="searchExpression" (keypress.enter)="search()" placeholder="Search records"
  />
  <span class="input-group-btn">
  <i class="btn btn-default fa fa-search" (click)="search()"></i>
</span>
</div>
<div class="navbar-form col-md-5 inline">
  <i class="btn btn-default fa fa-chevron-left" (click)="previous()"></i>
  <span class="result-cursor">1 / 5</span>
  <i class="btn btn-default fa fa-chevron-right" (click)="next()"></i>
</div>
