<ng-template let-reference="item" #referenceTemplate>
  <re-reference-brief [reference]="reference"></re-reference-brief>
</ng-template>

<ng-template let-author="item" #authorTemplate>
  <re-author-brief [author]="author"></re-author-brief>
</ng-template>

<ng-template let-item="item" #affiliationAutocompleteTemplate>
  <re-affiliation-brief [affiliation]="item._source"></re-affiliation-brief>
</ng-template>

<ng-template #refActionsTemplate>
  <div class="row">
    <div class="col-md-6">
      <re-ref-extract-actions></re-ref-extract-actions>
    </div>
    <div class="col-md-6">
      <re-link-references-button></re-link-references-button>
    </div>
  </div>
</ng-template>

<ng-template #authorExtractTemplate>
  <re-author-extract-actions></re-author-extract-actions>
</ng-template>

<ng-template #fileUploadButtonTemplate>
  <re-file-upload-button></re-file-upload-button>
</ng-template>

<re-record-toolbar (revisionChange)="onRevisionChange($event)" (revisionRevert)="onRevisionRevert()"></re-record-toolbar>
<div id="editor-container">
  <json-editor *ngIf="record && schema" [record]="revision || record" (recordChange)="onRecordChange($event)" [schema]="schema"
    [config]="config" (validationProblems)="onValidationProblems($event)" [templates]="{
      referenceTemplate: referenceTemplate,
      authorTemplate: authorTemplate,
      affiliationAutocompleteTemplate: affiliationAutocompleteTemplate,
      refActionsTemplate: refActionsTemplate,
      authorExtractTemplate: authorExtractTemplate,
      fileUploadButtonTemplate: fileUploadButtonTemplate
    }">
  </json-editor>
</div>

<re-save-preview-modal></re-save-preview-modal>