<ng-template let-reference="item" #referenceTemplate>
  <re-reference-brief [reference]="reference"></re-reference-brief>
</ng-template>

<ng-template let-item="item" #affiliationAutocompleteTemplate>
  <re-affiliation-brief [affiliation]="item.payload"></re-affiliation-brief>
</ng-template>

<ng-template #refExtractTemplate>
  <re-ref-extract-actions></re-ref-extract-actions>
</ng-template>

<ng-template #authorExtractTemplate>
  <re-author-extract-actions></re-author-extract-actions>
</ng-template>

<ng-template #fileUploadButtonTemplate>
  <re-file-upload-button></re-file-upload-button>
</ng-template>

<re-record-toolbar (revisionChange)="onRevisionChange($event)" (revisionRevert)="onRevisionRevert()"></re-record-toolbar>
<div id="editor-container">
  <json-editor *ngIf="record && schema"
    [record]="revision || record"
    (recordChange)="onRecordChange($event)"
    [schema]="schema"
    [config]="config"
    (validationProblems) = "onValidationProblems($event)"
    [templates]="{
      referenceTemplate: referenceTemplate,
      affiliationAutocompleteTemplate: affiliationAutocompleteTemplate,
      refExtractTemplate: refExtractTemplate,
      authorExtractTemplate: authorExtractTemplate,
      fileUploadButtonTemplate: fileUploadButtonTemplate
    }">
  </json-editor>
</div>

<re-save-preview-modal></re-save-preview-modal>
