.__CollectionsMenu__ {
  width: 100%;
  padding-bottom: 0.3em;

  .collection-link {
    padding-bottom: 0.2em;

    &:hover,
    &.active {
      $color: white;
      color: $color;
      border-bottom: solid 0.15em $color;
    }
  }
}
