.__CollectionsMenu__ {
  width: 100%;
  padding-bottom: 0.35rem;

  .collection-link {
    padding-bottom: 0.35rem;

    &:hover,
    &:active {
      $color: white;
      color: $color;

      @media (min-width: $screen-xs-max) {
        border-bottom: solid 0.2rem $color;
      }
    }
  }
}