<ng-template let-reference="item" #referenceTemplate>
  <re-reference-brief [reference]="reference"></re-reference-brief>
</ng-template>

<ng-template let-item="item" #affiliationAutocompleteTemplate>
  <re-affiliation-brief [affiliation]="item.payload"></re-affiliation-brief>
</ng-template>

<ng-template #refExtractTemplate>
  <re-ref-extract-actions></re-ref-extract-actions>
</ng-template>

<re-editor-toolbar [record]="record"></re-editor-toolbar>
<div class="editor-parent-container">
  <json-editor *ngIf="record && schema"
    [record]="record"
    [schema]="schema"
    [config]="config"
    [templates]="{
      referenceTemplate: referenceTemplate,
      affiliationAutocompleteTemplate: affiliationAutocompleteTemplate,
      refExtractTemplate: refExtractTemplate
    }"
    (onRecordChange)="onRecordChange($event)">
  </json-editor>
</div>

