<ng-template let-item="item" #referenceTemplate>
  <div class="reference-template-container" [ngSwitch]="item.hasIn(['record', '$ref'])">
    <span *ngSwitchCase="true">
      <i class="fa fa-check-circle success" aria-hidden="true"></i>
      <a href="{{item.getIn(['record', '$ref'])}}" target="_blank">{{item | referenceBrief}}</a>
    </span>
    <span *ngSwitchDefault>
      <i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i>
      {{item | referenceBrief}}
    </span>
  </div>
</ng-template>

<re-editor-toolbar [record]="record"></re-editor-toolbar>
<div class="editor-parent-container">
  <json-editor *ngIf="record && schema"
    [record]="record"
    [schema]="schema"
    [config]="config"
    [templates]="{referenceTemplate: referenceTemplate}"
    (onRecordChange)="onRecordChange($event)">
  </json-editor>
</div>
