<ng-template let-reference="item" #referenceTemplate>
  <re-reference-brief [reference]="reference"></re-reference-brief>
</ng-template>

<ng-template let-item="item" #affiliationAutocompleteTemplate>
  <re-affiliation-brief [affiliation]="item._source"></re-affiliation-brief>
</ng-template>

<ng-template #refExtractTemplate>
  <re-ref-extract-actions></re-ref-extract-actions>
</ng-template>

<ng-template #authorExtractTemplate>
  <re-author-extract-actions></re-author-extract-actions>
</ng-template>

<re-holdingpen-toolbar (revisionChange)="onRevisionChange($event)"></re-holdingpen-toolbar>
<div id="editor-container">
  <json-editor *ngIf="workflowObject && schema"
    [record]="revision || workflowObject.metadata"
    (recordChange)="onWorkflowMetadataChange($event)"
    [(jsonPatches)]="workflowExtraData.conflicts"
    [schema]="schema"
    [config]="config"
    [problemMap]="workflowProblems"
    (validationProblems)="onValidationProblems($event)"
    [templates]="{
      referenceTemplate: referenceTemplate,
      affiliationAutocompleteTemplate: affiliationAutocompleteTemplate,
      refExtractTemplate: refExtractTemplate,
      authorExtractTemplate: authorExtractTemplate
    }">
  </json-editor>
</div>
