interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirehep.net/literature/20
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\"><head><base href=\"https://inspirehep.net/literature\"\
        ><style type=\"text/css\">\n.anticon {\n  display: inline-block;\n  color:\
        \ inherit;\n  font-style: normal;\n  line-height: 0;\n  text-align: center;\n\
        \  text-transform: none;\n  vertical-align: -0.125em;\n  text-rendering: optimizeLegibility;\n\
        \  -webkit-font-smoothing: antialiased;\n  -moz-osx-font-smoothing: grayscale;\n\
        }\n\n.anticon > * {\n  line-height: 1;\n}\n\n.anticon svg {\n  display: inline-block;\n\
        }\n\n.anticon::before {\n  display: none;\n}\n\n.anticon .anticon-icon {\n\
        \  display: block;\n}\n\n.anticon[tabindex] {\n  cursor: pointer;\n}\n\n.anticon-spin::before,\n\
        .anticon-spin {\n  display: inline-block;\n  -webkit-animation: loadingCircle\
        \ 1s infinite linear;\n  animation: loadingCircle 1s infinite linear;\n}\n\
        \n@-webkit-keyframes loadingCircle {\n  100% {\n    -webkit-transform: rotate(360deg);\n\
        \    transform: rotate(360deg);\n  }\n}\n\n@keyframes loadingCircle {\n  100%\
        \ {\n    -webkit-transform: rotate(360deg);\n    transform: rotate(360deg);\n\
        \  }\n}\n</style><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"\
        width=device-width,initial-scale=1,shrink-to-fit=no\"><meta name=\"theme-color\"\
        \ content=\"#000000\"><link rel=\"manifest\" href=\"/manifest.json\"><link\
        \ rel=\"shortcut icon\" href=\"/favicon.ico\"><link rel=\"preconnect\" href=\"\
        https://piwik.web.cern.ch\"><title>IRRADIATION OF A CERIUM - CONTAINING SILICATE\
        \ GLASS - INSPIRE</title><link href=\"/static/css/2.ce6b2a9b.chunk.css\" rel=\"\
        stylesheet\"><link href=\"/static/css/main.7aaf2343.chunk.css\" rel=\"stylesheet\"\
        ><style type=\"text/css\">.___Latex___1nfc2_1 ._latex_1nfc2_1 {\n  font: inherit\n\
        }\n</style><meta name=\"citation_title\" content=\"IRRADIATION OF A CERIUM\
        \ - CONTAINING SILICATE GLASS\" data-react-helmet=\"true\"><meta name=\"citation_online_date\"\
        \ content=\"1963/06/01\" data-react-helmet=\"true\"><meta name=\"citation_pdf_url\"\
        \ content=\"https://inspirehep.net/files/eae20c74055e554c034370f3d6d8a356\"\
        \ data-react-helmet=\"true\"><meta name=\"citation_author\" content=\"Muray,\
        \ J.J.\" data-react-helmet=\"true\"></head><body><noscript>You need to enable\
        \ JavaScript to run this app.</noscript><div id=\"root\"><section class=\"\
        ant-layout __App__\"><div class=\"__Header__\"><div class=\"sticky\" data-test-id=\"\
        sticky\"><div data-show=\"true\" class=\"ant-alert ant-alert-info ant-alert-no-icon\
        \ ant-alert-banner ant-alert-closable\"><span class=\"ant-alert-message\"\
        ><span><div class=\"di mr3\"><strong>Welcome to the new INSPIRE! <a href=\"\
        https://blog.inspirehep.net/2020/03/the-next-inspire-generation-is-here\"\
        \ target=\"_blank\">Learn more</a>.</strong></div><a target=\"_blank\" href=\"\
        https://forms.gle/ZQi31GvXXHcsgXgM6\" class=\"ant-btn ant-btn-primary\"><span>Take\
        \ the survey</span></a></span></span><span class=\"ant-alert-description\"\
        ></span><button type=\"button\" class=\"ant-alert-close-icon\" tabindex=\"\
        0\"><span role=\"img\" aria-label=\"close\" class=\"anticon anticon-close\"\
        ><svg viewBox=\"64 64 896 896\" focusable=\"false\" class=\"\" data-icon=\"\
        close\" width=\"1em\" height=\"1em\" fill=\"currentColor\" aria-hidden=\"\
        true\"><path d=\"M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7\
        \ 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8\
        \ 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7\
        \ 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8\
        \ 0 10.5-7.9 6.1-13.1L563.8 512z\"></path></svg></span></button></div><header\
        \ class=\"ant-layout-header header\"><div type=\"flex\" class=\"ant-row ant-row-middle\"\
        \ style=\"margin-left: -8px; margin-right: -8px;\"><div class=\"ant-col ant-col-xs-13\
        \ ant-col-xs-order-1 ant-col-sm-6 ant-col-sm-order-1 ant-col-lg-5\" style=\"\
        padding-left: 8px; padding-right: 8px;\"><a class=\"__Logo__\" href=\"/\"\
        ><svg viewBox=\"0 0 586.6 121.43\" class=\"logo\"><title>INSPIRE Logo</title><g\
        \ id=\"a6fb781a-4c72-46a0-8d89-3b1f0fcbbe9c\" data-name=\"Layer 2\"><g id=\"\
        e1c378a5-8f35-4d70-8835-2efb9d50a678\" data-name=\"Calque 1\"><path d=\"M474,40v13.7h14.45V40h7.85v35.7h-7.85V60.34H474v15.4h-7.85V40Z\"\
        \ style=\"fill: rgb(255, 255, 255);\"></path><path d=\"M541.35,40v6.6H522.5v7.65h17.3v6.1H522.5v8.75h19.25v6.6h-27.1V40Z\"\
        \ style=\"fill: rgb(255, 255, 255);\"></path><path d=\"M574.25,40a14.89,14.89,0,0,1,5.7,1,10.75,10.75,0,0,1,3.82,2.57,10,10,0,0,1,2.15,3.65,13.56,13.56,0,0,1,0,8.48,9.86,9.86,0,0,1-2.15,3.67A10.64,10.64,0,0,1,580,62a14.9,14.9,0,0,1-5.7,1H566v12.8h-7.85V40Zm-2.15,16.8a15.74,15.74,0,0,0,2.6-.2,6.11,6.11,0,0,0,2.2-.77,4.27,4.27,0,0,0,1.52-1.63,6.81,6.81,0,0,0,0-5.5,4.17,4.17,0,0,0-1.52-1.62,6.12,6.12,0,0,0-2.2-.78,16.91,16.91,0,0,0-2.6-.2H566v10.7Z\"\
        \ style=\"fill: rgb(255, 255, 255);\"></path><circle cx=\"431.31\" cy=\"57.95\"\
        \ r=\"16.47\" style=\"fill: rgb(36, 214, 255);\"></circle><circle cx=\"416.82\"\
        \ cy=\"94.84\" r=\"10.38\" style=\"fill: rgb(36, 214, 255);\"></circle><circle\
        \ cx=\"415.51\" cy=\"23.7\" r=\"10.38\" style=\"fill: rgb(36, 214, 255);\"\
        ></circle><path d=\"M392.89,12.44a6.22,6.22,0,1,0-6.22-6.22A6.23,6.23,0,0,0,392.89,12.44Z\"\
        \ style=\"fill: rgb(36, 214, 255);\"></path><path d=\"M393.1,109a6.22,6.22,0,1,0,6.22,6.22A6.23,6.23,0[...]
[...]
