{
  "parser": "babel-eslint",
  "plugins": [
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_source",
          "_id"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to",
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": [
          "**/*.test.jsx?"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any"
        ]
      }
    ],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [
    {
      "files": [
        "src/middlewares/*.js"
      ],
      "rules": {
        "arrow-body-style": "off"
      }
    }
  ]
}