.__ListItemAction__ {
  $action-padding: $padding-md - 1px;

  &:not(:first-child) {
    padding-left: $action-padding;
  }

  &:not(:last-child) {
    padding-right: $action-padding;
  }

  button,
  a {
    &:hover {
      color: #40a9ff;
    }
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: none;
    background: transparent !important;
    padding: 0;
  }

  a {
    &:hover {
      background-color: $btn-default-bg;
    }
    text-decoration: none;
    color: $text-color;
    line-height: $btn-height-base;
  }
}
