.__InlineList__ {
  ul {
    display: inline;
    list-style: none;
    padding: 0;
  }
  li {
    display: inline;
  }
  ul.separate-items-with-semicolon {
    li:not(:last-child):after {
      content: '; ';
    }
  }
  ul.separate-items-with-comma {
    li:not(:last-child):after {
      content: ', ';
    }
  }
  ul.separate-items-with-and {
    li:not(:last-child):after {
      content: ' and ';
    }
  }
}
