name: Backend integration test

on:
  push:
    branches: [master]
    paths: 
      - 'backend/**'
      - '.github/workflows/backend-integration.yml'
  pull_request:
    branches: [master]
    paths: 
      - 'backend/**'
      - '.github/workflows/backend-integration.yml'

jobs:
  Suite:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: [integration-async, integration]

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_USER: inspirehep
          POSTGRES_PASSWORD: inspirehep
          POSTGRES_DB: inspirehep
        ports:
        - 5432:5432
      rabbitmq:
        image: rabbitmq:3-management
        ports:
          - 5672:5672
      elasticsearch:
        image: inspirehep/elasticsearch:7.1.1
        env:
          bootstrap.memory_lock: true
          ES_JAVA_OPTS: -Xms1024m -Xmx1024m
          discovery.type: single-node
        ports:
          - 9200:9200

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install system dependencies
        run: sudo apt-get install poppler-utils

      - name: Install poetry 1.0.0
        run: |
          wget https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py
          python get-poetry.py --version 1.0.0
          echo "::add-path::$HOME/.poetry/bin"

      - name: Cache virtual env
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: inspirehep-backend-pip-${{ hashFiles('./backend/poetry.lock') }}

      - name: Install testing dependencies
        working-directory: ./backend
        run: |
          pip install --upgrade pip
          pip install twine wheel coveralls

      - name: Install
        working-directory: ./backend
        run: poetry install --no-interaction

      - name: ${{ matrix.suite }} test
        working-directory: ./backend
        run: poetry run py.test tests/${{ matrix.suite }}
