name: Build

on:
  workflow_dispatch:
    inputs:
      image:
        description: The name of the image to build
        required: true
      context:
        description: The context used to build the image
        required: true
  workflow_call:
    inputs:
      image:
        description: The name of the image to build
        required: true
      context:
        description: The context used to build the image
        required: true

jobs:
  build:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build and push
        uses: cern-sis/gh-workflows/.github/actions/build-docker@main
        with:
          image: ${{ inputs.images }}
          context: ${{ inputs.context }}
