name: Hotfix

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to deploy on prod'
        required: true
        type: string

defaults:
  run:
    shell: bash

concurrency:
  group: hotfix
  cancel-in-progress: false

jobs:
  test:
    uses: ./.github/workflows/integration-tests.yml
    with:
      ref: ${{ inputs.branch }}
    secrets: inherit

  deploy:
    needs: test
    runs-on: ubuntu-24.04
    steps:
      - name: send event
        uses: cern-sis/gh-workflows/.github/actions/kubernetes-project-new-images@v6.4.1
        with:
          event-type: hotfix
          images: |
            inspirehep/hep@${{ needs.test.outputs.backend-image-id }}
            inspirehep/ui@${{ needs.test.outputs.ui-image-id }}
            inspirehep/editor@${{ needs.test.outputs.editor-image-id }}
          token: ${{ secrets.PAT_FIRE_EVENTS_ON_CERN_SIS_KUBERNETES }}

