name: Push master

on:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
    with:
      ref: ${{ github.ref }}
  backoffice:
    needs: lint
    uses: ./.github/workflows/push-master-backoffice.yml
    secrets: inherit
  workflows:
    needs: lint
    uses: ./.github/workflows/push-master-workflows.yml
    secrets: inherit
  inspirehep:
    needs: lint
    uses: ./.github/workflows/push-master-inspirehep.yml
    secrets: inherit
