name: Push development

on:
  push:
    branches: ['action-development-*']

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml
    with:
      ref: ${{ github.ref }}
  backoffice:
    needs: lint
    uses: ./.github/workflows/push-development-backoffice.yml
    secrets: inherit
  workflows:
    needs: lint
    uses: ./.github/workflows/push-development-workflows.yml
    secrets: inherit
  inspirehep:
    needs: lint
    uses: ./.github/workflows/push-development-inspirehep.yml
    secrets: inherit
