name: Push master (renderer)

on:
  workflow_call:


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - id: build
        uses: cern-sis/gh-workflows/.github/actions/docker-build@v6.5
        with:
          image: cern-sis/inspire/renderer
          context: ./renderer
          dockerfile: ./renderer/Dockerfile
          registry: registry.cern.ch
          cache: false
          push: true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Deploy (renderer)
        uses: cern-sis/gh-workflows/.github/actions/kubernetes-project-new-images@v6.3.1
        with:
          repo: cern-sis/kubernetes-inspire
          event-type: update
          images: |
            registry.cern.ch/cern-sis/inspire/renderer@${{ steps.build.outputs.image-id }}
          token: ${{ secrets.PAT_FIRE_EVENTS_ON_CERN_SIS_KUBERNETES }}
